<%= form_for collection, :html => {class: "nk-form nk-form-style-1"} do |f| %>
  <% if collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(collection.errors.count, "error") %> prohibited this collection from being saved:</h2>

      <ul>
      <% collection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">

    <h4 class="">To Get Started: Give Your New Collection A Creative Name</h4>
    <%= f.text_field :title, placeholder: 'Sunsets Over London', class: 'form-control' %>
  </div>
    <div class="field">
    <h4 class="">And A Description...</h4>
    <%= f.text_area :description, placeholder: 'Tell us something cool about the collection...', class: 'form-control' %>
  </div>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <br>
  <div class="actions">
    <%= f.button "<i class='fa fa-save'></i> Save Collection".html_safe, class: 'btn btn-success pull-right' %>
    <br><br>
  </div>
<% end %>

