
<style type="text/css">
.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
    }  20% {
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
</style>


<div class="card">
<div class='row'>
  <div class='col-md-1'></div>
  <div class='col-md-10'>
    <div class="box ">
      <div class="box-header ui-sortable-handle" style="cursor: move;">
        <i class="fa fa-gallery"></i>
        <h3 class="box-title">
          <%= render 'form', collection: @collection %>
        </h3>
      </div>
    </div>
  </div>
  <div class='col-md-1'></div>
</div>
</div>


<div class="card">
<div class='row'>
<div class='col-md-1'></div>
<div class='col-md-10'>
<div class="box ">
  <div class="box-header ui-sortable-handle" style="cursor: move;">
    <i class="fa fa-gallery"></i>
    <h3 class="box-title"> Name: <%= @collection.title %></h3>
     <br><hr>
    <div class='row'>
      <% collection_item = CollectionItem.new %>
      <div class='col-md-6 col-sm-6 col-xs-6'>
        <%= render 'collection_items/form', collection_item: collection_item %>
      </div>
      <div class='col-md-6 col-sm-6 col-xs-6'>
        <%= render 'collection_items/video_form', collection_item: collection_item %>
      </div>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
    <div class="table-responsive">
      <table class=" table">
        <tr>
          <thead class="text-primary" class='text-center'>
            <th>Controls </th>
            <th>Image </th>
            <th>Type </th>
            <th>Make Header</th>
            <th>Links</th>
          </thead>
        </tr>
        <tbody>
          <% @collection.collection_items.order(:order).each do |ci| %>
            <%= render :partial => 'collection_items/partials/black_dashboard/collection_item', :locals => {ci: ci } %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <!-- /.box-body -->
</div>
</div>
<div class='col-md-1'></div>
</div>

</div>
