<style type="text/css">


</style>

<%= render :partial => 'collections/partials/index_open_graph_tags', :locals => {collections: @collections} %>
<div class="nk-header-title nk-header-title-sm nk-header-title-parallax nk-header-title-parallax-opacity">
  <div class="bg-image">
    <% if @collections.count > 0 %>
    <div style="background-image: url('<%= @collections.first.user.user_profile.safe_header_image_url %>');"></div>
    <% else %>
    <div style="background-image: url('<%= Collection.take(1).first.user.user_profile.safe_header_image_url %>');"></div>
    <% end %>
  </div>
  <div class="nk-header-table">
    <div class="nk-header-table-cell">
      <div class="container">
        <h1 class="nk-title">Collections</h1>
      </div>
    </div>
  </div>

</div>
<% if current_user && current_user.user_type == 'creative' %>
<div class='nk-main'>
  <br>
  <div class='container' >
  <div class='pull-right'>

      <%= link_to new_collection_path, class: 'btn btn-secondary'  do %>
        <i class='fa fa-plus'></i> Add Collection
      <%end %>

  </div>
  </div>
  <br><br>
<% end %>

</div>
  <div class="nk-box bg-dark-1">
    <div class="">
      <div class="row vertical-gap">
        <div class="nk-gap-4"></div>
        <% @collections.each do |collection| %>
          <% first = collection.collection_items.where(is_header: true).first %>
          <% if first %>
            <div class="col-md-4 col-lg-4 text-center" style="margin-top: 24px;">
              <div class="nk-image-box-1-a">
                <a href="<%= collection_path(collection) %>" class="nk-image-box-link"></a>
                <img src="<%= first.file.url(:medium).to_s %>" alt="" style="transform: matrix(1, 0, 0, 1, 0, 0);">
                <div class="nk-image-box-overlay nk-image-box-center">
                  <div>
                    <!-- <h3 class="nk-title text-white h5"><% collection.title %></h3> -->
                    <a href="#" class="nk-image-box-icon-btn text-center"><span class=" fa fa-eye"></span>View</a>

                  </div>
                </div>
                <h3 class="nk-title text-white h5" style="margin-top:8px;"><%= collection.title %></h3>
                <h4 class="nk-sub-title text-white op-7">By: <%= collection.user.name %></h4>
              </div>
            </div>
          <% end %>
        <%end%>
      </div>
      <div class="nk-gap-4"></div>
    </div>
  </div>
