<% content_for :head do %>
<meta property="og:url" content="<%= request.original_url %>" />
<meta property="og:type" content="website" />
<meta property="og:title" content="NomCre - Collections" />
<meta property="og:description" content="Nomcre - Our Best Visual Creators. The Best Photographers and Videographers." />
<% if @collections.count > 0 %>
<meta property="og:image" content="<%= @collections.first.collection_items.where(item_type: 'image').first.file_url(:small).to_s %>" />
<% end %>
<% end %>
<div class="nk-header-title nk-header-title-sm nk-header-title-parallax nk-header-title-parallax-opacity">
  <div class="bg-image">
    <% if @collections.count > 0 %>
    <div style="background-image: url('<%= @collections.first.user.user_profile.safe_header_image_url %>');"></div>
    <% else %>
    <div style="background-image: url('<%= Collection.take(1).first.user.user_profile.safe_header_image_url %>');"></div>
    <% end %>
  </div>
  <div class="nk-header-table">
    <div class="nk-header-table-cell">
      <div class="container">
        <h1 class="nk-title">Collections</h1>
      </div>
    </div>
  </div>

</div>
<div class='nk-main'>
  <br>
  <div class='container' >
  <div class='pull-right'>
    <% if current_user.user_type == 'creative' %>
      <%= link_to new_collection_path, class: 'btn btn-secondary'  do %>
        <i class='fa fa-plus'></i> Add Collection
      <%end %>
    <% end %>
  </div>
  </div>
  <br><br>
<div class="container">
 <% @collections.each do |collection| %>
 <div class='nk-pricing-menu'>
  <h3><%= collection.title %></h3>

  <div class="nk-carousel-2  nk-carousel-all-visible" data-autoplay="5000">
    <div class="nk-carousel-inner">
      <% collection.collection_items.take(4).each do |item| %>
        <div>
          <div>

              <% if item.item_type == 'image'%>
                <%= image_tag(item.file_url(:medium), class: 'nk-img-fit', style: 'max-height:300px') %>
              <%else%>
                <%= video_tag item.video, controls: false, class: 'nk-img-fit',  oncontextmenu:"return false;"%>
              <%end%>

          </div>
        </div>
      <%end%>
    </div>
   </div>
   <div class='pull-right'>
    <%if collection.user == current_user %>
       <%= link_to new_collection_collection_item_path(collection), style: 'padding-left:6px;padding-right:6px;' do %>
        <i class='fa fa-plus '></i> Add Images
      <% end %>
      <%= link_to collection, style: 'padding-left:6px;padding-right:6px;' do  %>
        <i class='fa fa-eye '></i> View Collection
      <% end %>
      <%= link_to "<i class='fa fa-trash'> </i> Delete".html_safe, collection_path(collection), method: :delete, data: { confirm: 'Are you sure?' }, style: 'padding-left:6px;padding-right:6px;'   %>
      <% else %>
        <%= link_to collection, style: 'padding-left:6px;padding-right:6px;' do %>
          <i class='fa fa-eye '></i> View Collection
        <% end %>
      <% end %>
   </div>


 </div>
  <%end%>
</div>
</div>

