<%= render :partial => 'collections/partials/index_open_graph_tags', :locals => {collections: @collections} %>
<div class="nk-header-title nk-header-title-sm nk-header-title-parallax nk-header-title-parallax-opacity">
  <div class="bg-image">
    <% if @collections.count > 0 %>
    <div style="background-image: url('<%= @collections.first.user.user_profile.safe_header_image_url %>');"></div>
    <% else %>
    <div style="background-image: url('<%= Collection.take(1).first.user.user_profile.safe_header_image_url %>');"></div>
    <% end %>
  </div>
  <div class="nk-header-table">
    <div class="nk-header-table-cell">
      <div class="container">
        <h1 class="nk-title">Collections</h1>
      </div>
    </div>
  </div>

</div>
<div class='nk-main'>
  <br>
  <div class='container' >
  <div class='pull-right'>
    <% if current_user && current_user.user_type == 'creative' %>
      <%= link_to new_collection_path, class: 'btn btn-secondary'  do %>
        <i class='fa fa-plus'></i> Add Collection
      <%end %>
    <% end %>
  </div>
  </div>
  <br><br>
<div class="container">
 <% @collections.each do |collection| %>
 <div class='nk-pricing-menu'>
  <h3><%= collection.title %></h3>

  <div class="nk-carousel-2  nk-carousel-all-visible" data-autoplay="5000">
    <div class="nk-carousel-inner">
      <% collection.collection_items.take(4).each do |item| %>
        <div>
          <div>

              <% if item.item_type == 'image'%>
                <%= image_tag item.file, class: 'nk-img-fit', style: 'max-height:300px' %>
              <%else%>
                <%= video_tag item.video, controls: false, class: 'nk-img-fit',  oncontextmenu:"return false;"%>
              <%end%>

          </div>
        </div>
      <%end%>
    </div>
   </div>
   <div class='pull-right'>
    <%= render :partial => 'collections/partials/links/collection_links', :locals => {collection: collection} %>
   </div>


 </div>
  <%end%>
</div>
</div>

