<style type="text/css">
.page{padding:6px;}
.first{padding:6px;}
.last{padding:6px;}
.next{padding:6px;}
.prev{padding:6px;}
</style>

<%= render :partial => 'collections/partials/index_open_graph_tags', :locals => {collections: @collections} %>
<div class='nk-main'>
<div class="nk-header-title nk-header-title-sm nk-header-title-parallax nk-header-title-parallax-opacity">
  <div class="bg-image">
    <% if @collections.count > 0 %>
    <div style="background-image: url('<%= @collections.first.user.user_profile.safe_header_image_url %>');"></div>
    <% else %>
    <div style="background-image: url('<%= HeaderImage.first.file %>');"></div>
    <% end %>
  </div>
  <div class="nk-header-table">
    <div class="nk-header-table-cell">
      <div class="container">
        <h1 class="nk-title">Collections</h1>
      </div>
    </div>
  </div>

</div>
<% if current_user && current_user.user_type == 'creative' %>
<div class='nk-main'>
  <br>
  <div class='container' >
  <div class='pull-right'>

      <%= link_to new_collection_path, class: 'btn btn-secondary'  do %>
        <i class='fa fa-plus'></i> Add Collection
      <%end %>

  </div>
  </div>
  <br><br>
<% end %>

</div>
<div class="container">
  <div class="nk-portfolio-list-2">
      <% @collections.each do |collection| %>
      <div class="nk-portfolio-item <%= cycle("", "inverted") -%>">
          <div class="nk-image-box-1 nk-portfolio-image-box">
              <%= link_to "", collection_path(collection), class: "nk-image-box-link" %>
              <div class="nk-portfolio-image hidden-md-down" style="background-image: url(&quot;<%= collection.get_header_or_first.file.url %>&quot;); transform: matrix(1, 0, 0, 1, 0, 0);"></div>
              <%= image_tag  collection.get_header_or_first.file.url,  class: "nk-portfolio-image hidden-lg-up", oncontextmenu:"return false", style: "transform: matrix(1, 0, 0, 1, 0, 0);" %>
          </div>
          <div class="nk-portfolio-text-box">
              <div>
                  <h2 class="h3"><a href="portfolio-single-1.html" class="nk-portfolio-title"><%= collection.title %></a></h2>
                  <div class="nk-portfolio-links">
                    <%= image_tag collection.user.user_profile.safe_profile_image_url, style: 'max-height:25px; max-width:25px; border-radius:100%' %>
                    <%= link_to collection.user.name, user_profile_path(collection.user.user_profile) %>
                  </div>
                  <div class="nk-gap"></div>
                  <p>
                    <div class="nk-isotope nk-popup-gallery" data-pswp-uid="1" style="position: relative; "">
                      <% collection.collection_items.take(4).each do |ci| %>
                        <div class="nk-isotope-item" style="position: absolute; left: 0px; top: 0px;">
                          <div class="nk-image-box-1">
                              <%= image_tag ci.file.url(:small).to_s, class: "nk-gallery-item" %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </p>
                  <div class="nk-gap"></div>
                  <%= link_to collection_path(collection), class: "nk-btn nk-btn-sm nk-btn-effect-2-right nk-btn-circle nk-btn-outline nk-btn-color-dark-4" do %>
                      <span>View Collection</span>
                      <span class="icon"><i class="fa fa-eye"></i></span>
                    <%end%>
                  <% if collection.user == current_user %>
                  <%= link_to new_collection_collection_item_path(collection), class: "nk-btn nk-btn-sm nk-btn-effect-2-right nk-btn-circle nk-btn-outline nk-btn-color-dark-4" do %>
                      <span>Edit</span>
                      <span class="icon"><i class="fa fa-edit"></i></span>
                    <%end%>
                  <% end %>
              </div>
          </div>
      </div>

      <div class="nk-gap-3"></div>
    <% end %>
   <!--  <div class="nk-pagination nk-pagination-center">
        <nav>
            <a href="#">1</a>
            <a href="#">2</a>
            <a class="nk-pagination-current" href="#">3</a>
            <a href="#">4</a>
            <span>...</span>
        </nav>
    </div> -->

  </div>
</div>

<% if @collections.count > 0 %>
  <%= paginate @collections, window: 2 %>
<% end %>



