
        <div class="nk-box bg-gray-1">

            <div class="nk-video-fullscreen-toggle-right">

                <%= link_to "https://#{video.vimeo_link.gsub('https://','').gsub('http://', '')}", class: "nk-video-fullscreen-toggle" do %>
                  <span class="nk-video-icon"><i class="fa fa-play pl-5"></i></span>
                <% end %>
            </div>
            <div class="bg-video-row row">
                <div class="col-lg-6 push-lg-6">
                    <div class="bg-video bg-video-parallax" style="background-image: url('<%= video.thumbnail%>');"></div>
                </div>
            </div>
            <div class="container ">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="nk-gap-5"></div>
                        <div class="nk-gap-5"></div>

                      <!--   <h2 class="h1 nk-title" style='margin-left:auto; margin-right:auto;'>The NOM<span class='raleway-thinnest' >CRE</span> Way </h2> -->
                        <h2 class="h2 nk-title" style='margin-left:auto; margin-right:auto; font-weight: 100'>
                            <%= video.title%>
                           <!--  The NOM<span class='raleway-thinnest' >CRE</span> Way  -->
                        </h2>
                        <h3 class="nk-sub-title"></h3>
                        <div class="nk-gap"></div>

                        <%= video.description %>
                        <br>
                        <p class='text-left'  style="font-weight:300">

                           <a class="nk-video-fullscreen-toggle" href="https://vimeo.com/271028634">
                             Click
                            <i class=" fa fa-play pl-5"></i>
                            </a>
                        To Play: <%= video.title %> </p>

                        <p class="text-left raleway" style="font-weight:300">
                        <div class="nk-gap-5 hidden-sm-down"></div>
                        <div class="nk-gap-5"></div>
                    </div>
                </div>
            </div>
        </div>



