<div class="container">
  <div class="nk-portfolio-list-2">
    <div class="nk-gap-2"></div>
    <% @showcase_videos.each do |video | %>
      <div class="nk-portfolio-item <%= cycle("", "inverted") -%>">
        <div class="nk-image-box-1 nk-portfolio-image-box">
          <%= link_to "", showcase_video_play_path(video), class: "nk-image-box-link" %>
          <div class="nk-portfolio-image hidden-md-down" style="background-image: url(&quot;<%= video.thumbnail.file.url %>&quot;); transform: matrix(1, 0, 0, 1, 0, 0);">
          </div>
            <%= video_tag  video.file,  class: "nk-portfolio-image hidden-lg-up", oncontextmenu:"return false", style: "transform: matrix(1, 0, 0, 1, 0, 0);" %>
          </div>

        <div class="nk-portfolio-text-box">
          <h2 class="h3">
            <a href="portfolio-single-1.html" class="nk-portfolio-title"><%= video.title %></a>
          </h2>
          <div class="nk-portfolio-links">
            <%= image_tag "https://s3-us-west-2.amazonaws.com/nomcre/logos/UpperLeftHPlogo+2.png", style: 'max-height:25px; max-width:25px; border-radius:100%' %>
            <%= link_to "Nomadic Creative", "#" %>

          <div class="nk-gap"></div>
          <p>
            <%= video.description.html_safe %>
          </p>
          <%= link_to "Play Video", showcase_video_play_path(video), class: "nk-btn nk-btn-sm nk-btn-effect-2-right nk-btn-circle nk-btn-outline nk-btn-color-dark-4" %>


        </div>
        </div>
      </div>
      <div class="nk-gap-2"></div>
      <% end %>
    </div>
  </div>
