
<div class='row'>
<% @showcase_videos.each do |video| %>
  <div class='col-md-6 text-center'>


    <%= link_to  "#", id: "videoPlayerButton_#{video.id}", class: 'nk-btn' do %>
         <%= image_tag video.thumbnail.file.url, class: 'img-fluid' do %>
              <span class="raleway " style="font-weight:300">Play</span>
              <span class="icon "><i class="fa fa-play"></i></span>
          <% end %>
      <% end %>


    <div class="modal fade" id="videoPlayerModal_<%= video.id%>" tabindex="-1" role="dialog" aria-labelledby="Video Player" aria-hidden="true">
      <div class="modal-dialog" role="shot_list_group" style="width:100%">
        <div class="modal-body">
          <div class='card'>
            <%= video_tag video.file.url, controls: true, controlsList:"nodownload",   class: 'embed-responsive',  oncontextmenu:"return false" unless video.file.url.nil? %>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
    $("#videoPlayerButton_<%= video.id %>").click(function(){
            $("#videoPlayerModal_<%= video.id %>").modal('toggle');
      });

    </script>
  </div>
<% end %>
</div>

