<!-- <style>
  .image-upload > input
{
   display: none;
}
.image-upload > label{
  cursor:pointer;
}
</style> -->
<%= form_for([@collection, collection_item]) do |f| %>
  <% if collection_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(collection_item.errors.count, "error") %> prohibited this collection_item from being saved:</h2>

      <ul>
      <% collection_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!--
     <div class="image-upload text-center">
         <label for="file-input">
           <span class='btn btn-success'><i class='fa fa-video-camera'></i> Click To Select Video</span>
         </label>


      </div> -->
      Video: <%= f.file_field :video %>

      <%= f.submit "Save Video", class: 'btn btn-primary  btn-block' %>

  <%= f.hidden_field :collection_id, :value => params[:collection_id]%>
  <%= f.hidden_field :item_type, :value =>'video'%>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <br>
<% end %>



