<div style='padding-top:124px;'' class="nk-box">
  <!-- <div class="nk-header-table">
    <div class="nk-header-table-cell">
      <div class="container">
        <h1 class=""><% @collection.title %></h1>
        <% @collection.user.user_profile.display_name%>
      </div>
    </div>
  </div> -->
  <br>
<div class='text-center'>
<%= link_to "<i class='fa fa-arrow-left'></i> Back".html_safe, collection_path(@collection_item.collection) %>
<% if current_user == @collection_item.user %>
  <span style='padding: 12px;'></span>
  <%= link_to "<i class='fa fa-arrow-down'></i> Download".html_safe, download_path(@collection_item)%>
  <span style='padding: 12px;'></span>
  <%= link_to collection_collection_item_path(@collection_item.collection, @collection_item), method: :delete, data: { confirm: 'Are you sure?' } do %>
    <i class='fa fa-trash'></i> Delete
  <% end %>
<%end%>
<% if @collection_item.item_type == 'video'%>
<%= video_tag @collection_item.video, controls: true, controlsList:"nodownload", class: 'embed-responsive', oncontextmenu:"return false;" %>
<% else  %>
<%= image_tag @collection_item.file, class: "img-fluid", style:'horizontal-align: center', oncontextmenu:"return false;" %>
<% end %>
<br>

</div>

</div>





