<li>
  <%= link_to creative_dashboard_path do %>
    <i class="tim-icons "><ion-icon name="speedometer"></ion-icon></i>
    <p>Dashboard</p>
  <% end %>
</li>
<li>
  <a data-toggle="collapse" href="#pagesExamples">
     <i class="tim-icons "><ion-icon name="cube"></ion-icon></i>
    <p>
      Projects
      <b class="caret"></b>
    </p>
  </a>
  <div class="collapse" id="pagesExamples">
    <ul class="nav">
      <li>
        <%= link_to proposal_requests_path do %>
          <span class="sidebar-mini-icon">?</span>
          <span class="sidebar-normal"> <i class="tim-icons "><ion-icon name="help-circle-outline"></ion-icon></i>  <b>New Requests</b> </span>
        <% end %>
      </li>
      <li>
        <%= link_to proposals_path do %>
          <span class="sidebar-mini-icon">O</span>
          <span class="sidebar-normal"> <i class="tim-icons "><ion-icon name="git-compare"></ion-icon></i>  <b>Work In Progress</b></span>
        <% end %>
      </li>
      <li>
        <%= link_to proposals_completed_path do %>
          <span class="sidebar-mini-icon">√</span>
          <span class="sidebar-normal"> <i class="tim-icons "><ion-icon name="checkmark-circle-outline"></ion-icon></i>  <b>Complete</b></span>
        <% end %>
      </li>
    </ul>
  </div>
</li>
<li>
  <%= link_to tasks_path do %>
    <i class="tim-icons "><ion-icon name="done-all"></ion-icon></i>
    <p>Tasks</p>
  <% end %>
</li>
<li>
  <%= link_to schedule_items_path do %>
    <i class="tim-icons "><ion-icon name="calendar"></ion-icon></i>
    <p>Schedule</p>
  <% end %>
</li>
<li>
  <%= link_to collections_path do %>
    <i class="tim-icons "><ion-icon name="images"></ion-icon></i>
    <p>Portfolio</p>
  <% end %>
</li>

