<div class="nk-header-title nk-header-title-xl nk-header-title-parallax nk-header-title-parallax-opacity">
    <div class="bg-image op-2">
        <div style="background-image: url('<%= CollectionItem.last.file %>');"></div>
    </div>
    <div class="nk-header-table">
        <div class="nk-header-table-cell">
            <div class="container">




                <div class="nk-header-text">

                    <h1 class="nk-title display-3">Messages From Contact Form</h1>
                    <div class="nk-gap"></div>
                    <h2 class="nk-title nk-font-inherit fw-500">Chekc them out ....</h2>
                </div>


            </div>
        </div>
    </div>

</div>
<div class="nk-main">
<p id="notice"><%= notice %></p>

<h1>Contacts</h1>
<style>
  td {
    padding: 8px;
  }
</style>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.email %></td>
        <td><%= contact.message %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %>
</div>

