<div class="chat-message clearfix">
<%= form_for message, remote: true, authenticity_token: true do |f| %>
  <%= f.text_area :content, class: "form-control", placeholder: 'Type your message'%>
  <!-- <label class='fa fa-camera fa-2x' style='vertical-align: middle; '> -->
    <%= f.file_field :file, id: :message_file %>
  <!-- </label> -->
  <%= f.hidden_field :chatroom_id, value: chatroom.id %>

  <%= button_tag( data: {send: "message"}, :class => "button_green") do %>
    Send <i class="fa fa-paper-plane-o"></i>
  <% end %>
<% end %>
</div>






<!-- end chat-message -->
