<% url = request.url %>
<% uri = URI.parse(url) %>
<% query_params = CGI.parse(uri.query) unless uri.query == nil %>
<% query_params = {} if query_params.nil? %>
<% task_group_id = query_params['active'].nil? ? '0' : query_params['active'][0].to_i %>
<div class="card">
  <div class='card-header'>
    <div class="card-title"> Click A Group To Expand It </div>
  </div>
  <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
    <% task_groups.order(order: :desc).each do |tg| %>
      <div class="card card-plain">
        <div class="card-header" id="heading<%= tg.id%>" style='background: #d3d7e9'>
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= tg.id%>" aria-controls="collapse<%= tg.id%>">
            <i class="tim-icons"><i class="fas fa-caret-down" id="link_<%= tg.id%>"></i></i>
            <h5><%= tg.title %></h5>
          </a>
        </div>
        <div id="collapse<%= tg.id%>" class="collapse" role="tabpanel" aria-labelledby="heading<%= tg.id%>">
          <div class="card-body">
            <%= link_to "<i class='far fa-edit'></i> ".html_safe, edit_task_group_path(tg.id), style: 'pull-right' %>
            <%= link_to "<i class='fas fa-plus'></i> ".html_safe, new_task_group_shot_list_item_template_path(tg), style: 'pull-right' %>
            <%= link_to "<i class='far fa-trash-alt'></i> ".html_safe, task_group_path(tg), :method => :delete,  style: 'pull-right' %>
            <% tg.shot_list_item_templates.each do |slit|%>
              <div class='row' style='margin:16px;'>
                <div class='col-md-2'>
                  <% if slit.reference_image.url.nil? %>
                    <i class='fa fa-image fa-3x'></i>
                  <% else %>
                  <%= image_tag slit.reference_image %>
                  <% end %>
                </div>
                <div class='col-md-6'>
                <%= auto_html(slit.description){ image(); youtube(:width => '100%', :height => 250, :autoplay => false); simple_format; link(:target => 'blank') } %>
                </div>
                 <div class='col-md-4 text-right'>
                  <%= link_to 'copy', task_group_shot_list_item_template_copy_path(tg, slit)  %>
                  <span style="padding:8px"></span>
                  <%= link_to 'edit', edit_task_group_shot_list_item_template_path(tg, slit)  %>
                  <span style="padding:8px"></span>
                  <%= link_to 'delete', task_group_shot_list_item_template_path(tg, slit), method: :delete %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <br>
    <% end %>
  </div>
</div>

<% content_for :added_scripts do %>
  <script type="text/javascript">

    $( document ).ready(function() {
      var getUrlParameter = function getUrlParameter(sParam) {
          var sPageURL = window.location.search.substring(1),
              sURLVariables = sPageURL.split('&'),
              sParameterName,
              i;

          for (i = 0; i < sURLVariables.length; i++) {
              sParameterName = sURLVariables[i].split('=');

              if (sParameterName[0] === sParam) {
                  return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
              }
          }
      };
      var tg = getUrlParameter('active');

      var link_by_id = "#link_" + tg;
      $(link_by_id).click();
      if(tg > 0 ){
         $('html, body').animate({
              scrollTop: $(link_by_id).offset().top
          }, 'slow');
      }
    });
  </script>
<% end %>
