<p id="notice"><%= notice %></p>

<h1>Shoots</h1>

<table>
  <thead>
    <tr>
      <th>Creative</th>
      <th>Project</th>
      <th>Company</th>
      <th>Location</th>
      <th>Content type</th>
      <th>Brief</th>
      <th>Time of day</th>
      <th>Bts</th>
      <th>Focus points</th>
      <th>Price</th>
      <th>Background</th>
      <th>Background note</th>
      <th>Shoot style</th>
      <th>Shoot raw</th>
      <th>User added shot count</th>
      <th>User added shot count max</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shoots.each do |shoot| %>
      <tr>
        <td><%= shoot.creative_id %></td>
        <td><%= shoot.project %></td>
        <td><%= shoot.company %></td>
        <td><%= shoot.location %></td>
        <td><%= shoot.content_type %></td>
        <td><%= shoot.brief %></td>
        <td><%= shoot.time_of_day %></td>
        <td><%= shoot.bts %></td>
        <td><%= shoot.focus_points %></td>
        <td><%= shoot.price %></td>
        <td><%= shoot.background %></td>
        <td><%= shoot.background_note %></td>
        <td><%= shoot.shoot_style %></td>
        <td><%= shoot.shoot_raw %></td>
        <td><%= shoot.user_added_shot_count %></td>
        <td><%= shoot.user_added_shot_count_max %></td>
        <td><%= link_to 'Show', shoot %></td>
        <td><%= link_to 'Edit', edit_shoot_path(shoot) %></td>
        <td><%= link_to 'Destroy', shoot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shoot', new_shoot_path %>
