 <div class="row justify-content-center mt-5">
  <div class="col-md-12 center">
    <h5 class="info-text"> Give the shoot a unique name: </h5>
    <% if project.nil? && !shoot.title.blank? %>
      <% title = shoot.title %>
    <% end %>
    <%= form.text_field :title, id: :shoot_title_id, class: 'form-control', :value => title %>
  </div>
  <div class='col-md-6'>
    <br>
    <h5 class="info-text"><i class='fa fa-calendar text-primary'></i> Deadline </h5>
    <% deadline = shoot.deadline.nil? ? project.deadline : shoot.deadline %>
    <% deadline_formatted = "#{deadline.month}" +"/"+ "#{deadline.day}" + "/" + "#{deadline.year}" %>
    <%= form.text_field :deadline, id: :shoot_deadline_id, class: 'form-control datepicker', :value=> deadline_formatted %>
  </div>
  <div class='col-md-6'>
     <br>
    <h5 class="info-text"> <i class='fa fa-clock text-primary'></i>  Call Time </h5>
    <%= form.text_field :call_time, id: :shoot_call_time_id, class: 'form-control timepicker', :value => '12:00:00' %>
  </div>
  <div class="col-lg-12 center">
    <br>
    <h5 class="info-text"> What City Or Region Will We be Shooting In?</h5>
    <label> Updating this will change all shoots for this project </label>
    <% selected = shoot.location.nil? ?  0 : shoot.location.id %>
    <%= form.select(:location_id, options_for_select(Location.locations_for_select, selected), {}, {class: 'form-control'}) %>
  </div>
  <div class="col-md-12 center">
    <br>
    <h5 class="info-text"> The Brief is copied from the project. Change any detials here : </h5>
    <% this_brief = shoot.brief.blank? ? project.brief : shoot.brief  %>
    <%= form.text_area :brief, id: :shoot_brief_id, class: 'form-control', :value => this_brief, style:'min-height: 400px; rows: 10', class: 'form-control rounded' %>
  </div>
</div>

