<li class="dropdown nav-item ">
  <a href="javascript:void(0)" class="dropdown-toggle nav-link " data-toggle="dropdown">
    <div class="<%= notifications.count > 0 ? 'notification': 'none' %> d-none d-lg-block d-xl-block"></div>
    <ion-icon name="pulse" class='tim-icons top-nav-icon <%= notifications.count > 0 ? 'text-primary': 'none' %>'></ion-icon>

    <p class="d-lg-none">
      Notifications
    </p>
  </a>
  <ul class="dropdown-menu dropdown-menu-right dropdown-navbar">
    <%if notifications.count > 0 %>
    <% notifications.each do |notification| %>
      <li class='nav-link'>
        <% if notification.notification_type == NotificationType.new_work_request %>
          <%= link_to "New Work Request #{notification.notification_object_id}", creative_requests_path, class: 'nav-item dropdown-item' %>
        <% elsif notification.notification_type == NotificationType.request_accepted %>
          <%= link_to "Your Request Has Been Accepted", shoot_path(notification.notification_object_id), class: 'nav-item dropdown-item' %>
        <% elsif notification.notification_type == NotificationType.request_assigned %>
          <%= link_to "You have a new job", shoot_path(notification.notification_object_id), class: 'nav-item dropdown-item' %>
        <% end %>
      </li>
      <% end %>
    <% elsif %>
    <li class='nav-link'>
         0 New Notifications
    </li>
    <% end %>
      <li class="separator d-lg-none"></li>
      <li class="nav-link">
        <%= link_to notifications_path, class: 'nav-item dropdown-item text-center' do %>
        <hr>
          <ion-icon name='eye'></ion-icon> View All
          <% end %>
      </li>
  </ul>
</li>
