<div class="card">
  <div class="card-header">
    <h5 class="card-category">Showcase Image </h5>
    <h3 class="card-title"> Horizontal Tabs </h3>
  </div>
  <div class="card-body">
    <div class="tab-content tab-space">
      <div class="tab-pane active" id="link1">
        Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
        <br>
        <br> Dramatically visualize customer directed convergence without revolutionary ROI.
      </div>
    </div>
  </div>
</div>

<p>
  <strong>File:</strong>
  <%= video_tag @showcase_video.file, class: 'img-fluid', controls: "controls" %>
</p>

<p>
  <strong>Showcase type:</strong>
  <%= @showcase_video.showcase_type %>
</p>

<p>
  <strong>Show:</strong>
  <%= @showcase_video.show %>
</p>

<p>
  <strong>Order:</strong>
  <%= @showcase_video.order %>
</p>

<p>
  <strong>Title:</strong>
  <%= @showcase_video.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @showcase_video.description %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= @showcase_video.thumbnail %>
</p>

<%= link_to 'Edit', edit_showcase_video_path(@showcase_video) %> |
<%= link_to 'Back', showcase_videos_path %>
