<% url = request.url %>
<% uri = URI.parse(url) %>
<% query_params = CGI.parse(uri.query) unless uri.query == nil %>
<div class="card">
  <div class="card-header">
    <div class='card-category pull-right'>
      <% if current_user && current_user.company == proposal.company  %>
        <%= link_to "<ion-icon name='create'></ion-icon> Edit".html_safe, edit_proposal_path(proposal), class: 'btn btn-simple btn-danger' %>
      <% end %>
    </div>
    <h3 class="card-title">Details</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <ul class="nav nav-pills nav-pills-primary flex-column">
          <li class="nav-item">

            <%basic_style = query_params == nil || query_params["active"] == ["basic"] ? 'active' : ''  %>
            <a class="nav-link nav-link-sub <%= basic_style %>" data-toggle="tab" href="#basic">
              Basic
            </a>
          </li>
          <li class="nav-item">
            <%shotlist_style = query_params != nil && query_params["active"] == ["shotlist"] ? 'active' : ''  %>
            <a class="nav-link nav-link-sub <%= shotlist_style %>" data-toggle="tab" href="#shotlist">
              Shot List
            </a>
          </li>
          <li class="nav-item">
            <% tasks_style = query_params != nil && query_params["active"] == ["tasks"] ? 'active' : ''  %>
            <a class="nav-link nav-link-sub <%= tasks_style %>" data-toggle="tab" href="#tasks">
              Tasks
            </a>
          </li>
          <li class="nav-item">
            <% disclosure_style = query_params != nil && query_params["active"] == ["disclosures"] ? 'active' : ''  %>
            <a class="nav-link nav-link-sub <%= disclosure_style %>" data-toggle="tab" href="#disclosures">
              Disclosures
            </a>
          </li>
          <li class="nav-item">
            <% assistants_style = query_params != nil && query_params["active"] == ["assistants"] ? 'active' : ''  %>
            <a class="nav-link nav-link-sub <%= assistants_style %>" data-toggle="tab" href="#assistants">
              Assistants
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-sub" data-toggle="tab" href="#invoices">
              Invoices
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-8">
        <div class="tab-content">
          <div class="tab-pane <%= basic_style %>" id="basic">

            <div class='row'>
              <div class='col-sm-6 col-md-6 col-lg-6'>
                <div class="card card-stats">
                  <div class="card-body  white-content rounded">
                    <div class="row">
                      <div class="col-3">
                        <div class="info-icon text-center icon-primary">
                          <i class="tim-icons"><ion-icon name='time'></ion-icon></i>
                        </div>
                      </div>
                      <div class="col-9">
                        <div class="numbers">
                          <p class="card-category">Time Of Day </p>
                          <h4 class="card-title"><%= proposal.time_of_day %></h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class='col-sm-6 col-md-6 col-lg-6'>
                <div class="card card-stats">
                  <div class="card-body white-content rounded">
                    <div class="row">
                      <div class="col-3">
                        <div class="info-icon text-center icon-primary">
                          <i class="tim-icons"><ion-icon name='bonfire'></ion-icon></i>
                        </div>
                      </div>
                      <div class="col-9">
                        <div class="numbers">
                          <p class="card-category">Background </p>
                          <h4 class="card-title"><%= proposal.background %></h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class='col-sm-6 col-md-6 col-lg-6'></div>
            </div>
            <h4> Creative Brief </h4>
            <hr>
             <%= simple_format(@proposal.content) %>
          </div>
          <div class="tab-pane <%= shotlist_style %>" id="shotlist">
            <%= render :partial => 'shot_list_items/partials/black_dashboard/index', :locals => {:proposal => proposal, :shot_list_items => @proposal.shot_list_items} %>
          </div>
          <div class="tab-pane <%= tasks_style %>" id="tasks">
            <%= render :partial => 'tasks/partials/black_dashboard/task_list', :locals => {:tasks => proposal.tasks} %>
          </div>
          <div class="tab-pane <%= disclosure_style %>" id="disclosures">
           <%= render 'proposals/partials/black_dashboard/shared/disclosure' %>
          </div>
          <div class="tab-pane <%= assistants_style %>" id="assistants">
            <% render :partial => 'proposals/partials/assistant_list', :locals => {:proposal => @proposal}%>
            <%= render :partial => 'proposals/partials/assistants_form', :locals => {:proposal => @proposal}%>
          </div>
          <div class="tab-pane" id="invoices">
            ------ View Invoices  -------
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
