<%= form_with(model: user_activity, local: true) do |form| %>
  <% if user_activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_activity.errors.count, "error") %> prohibited this user_activity from being saved:</h2>

      <ul>
      <% user_activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :activity_type %>
    <%= form.text_field :activity_type, id: :user_activity_activity_type %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :user_activity_user_id %>
  </div>

  <div class="field">
    <%= form.label :object_id %>
    <%= form.text_field :object_id, id: :user_activity_object_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
