<%= render 'landing_pages/creative/header' %>
<div class='nk-main'>
<%= render 'landing_pages/creative/section_1' %>
<%= render 'landing_pages/quotes/pepsi_quote_1' %>
<%= render 'landing_pages/creative/section_2' %>
<%= render 'landing_pages/quotes/p_and_g_quote_1' %>
<%= render 'khaki/nomcre/comparison' %>
<%= render 'landing_pages/quotes/omnicore_quote' %>
</div>
