
<%= render 'landing_pages/creative/form_header' %>
<% render 'landing_pages/creative/header' %>
<div class='nk-main'>
<%= render 'landing_pages/creative/section_1' %>
<% render 'shared/embeded_drift' %>
<%= render 'landing_pages/quotes/pepsi_quote_1' %>
<%= render 'landing_pages/creative/section_2' %>
<%= render 'landing_pages/quotes/p_and_g_quote_1' %>
<%= render 'khaki/nomcre/comparison' %>
<%= render 'shared/khaki_theme/cost_comparison' %>
<%= render 'landing_pages/creative/cta_button_only' %>
<%= render 'landing_pages/quotes/omnicore_quote' %>
<%= render 'khaki/nomcre/home/benefits'%>

</div>
