<div class='nk-main'>
<div class='nk-gap-5'></div>
<%= render 'landing_pages/use_it/section1' %>
<%= render 'landing_pages/quotes/pepsi_quote_1' %>
<%= render 'landing_pages/use_it/section_2' %>
<%= render 'landing_pages/quotes/p_and_g_quote_1' %>
<%= render 'khaki/nomcre/comparison' %>
<%= render 'landing_pages/quotes/omnicore_quote' %>
<%= render 'landing_pages/use_it/benefits'%>
</div>
