<%= form_with(model: header_image, local: true) do |form| %>
  <% if header_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(header_image.errors.count, "error") %> prohibited this header_image from being saved:</h2>

      <ul>
      <% header_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :header_image_title %>
  </div>

  <div class="field">
    <%= form.label :file %>
    <%= form.file_field :file, id: :header_image_file %>
  </div>

  <div class="field">
    <%= form.label :homepage %>
    <%= form.check_box :homepage, id: :header_image_homepage %>
  </div>

  <div class="field">
    <%= form.label :showcase %>
    <%= form.check_box :showcase, id: :header_image_showcase %>
  </div>

  <div class="field">
    <%= form.label :creators %>
    <%= form.check_box :creators, id: :header_image_creators %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
