<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @header_image.title %>
</p>

<p>
  <strong>File:</strong>
  <%= @header_image.file %>
</p>

<p>
  <strong>Homepage:</strong>
  <%= @header_image.homepage %>
</p>

<p>
  <strong>Showcase:</strong>
  <%= @header_image.showcase %>
</p>

<p>
  <strong>Creators:</strong>
  <%= @header_image.creators %>
</p>

<%= link_to 'Edit', edit_header_image_path(@header_image) %> |
<%= link_to 'Back', header_images_path %>
