
<div class="card">
  <div class="card-header">
    <div class='card-category pull-right'>
      <strong>Status:</strong> <%= @invoice.payment.nil? ? 'Pending' : 'Paid'  %>
    </div>
    <div class='card-title'>
      <img src="https://s3-us-west-2.amazonaws.com/nomcre/logos/UpperLeftHPlogo+2.png" class='avatar'>
      <%= @invoice.project.title unless @invoice.project.nil?  %>
    </div>

  </div>
  <hr>
  <div class="card-body">
    <div class="row mb-4">
      <div class="col-sm-6">
        <h6 class="mb-3">From:</h6>
        <div>
          <strong>Nomadic Creative</strong>
        </div>
        <div>3451 Nappe Dr</div>
        <div>Middleton, WI</div>
        <div>Email: takeflight@nomcre.com</div>
      </div>

      <div class="col-sm-6">
        <h6 class="mb-3">To:</h6>
        <div>
          <strong><%= @invoice.project.company.name unless @invoice.project.nil? %></strong>
        </div>
        <div>Attn: <b><%= @invoice.company.users.first.name %></b></div>
        <div>Email: <b><%= @invoice.company.users.first.email %></b></div>
        <div>Invoice ID: <b><%= @invoice.id %></b></div>
      </div>
    </div>
    <div class="row" style="padding:12px">
      <table class='table table-striped'>
        <thead>
          <tr>
            <th>Project</th>
            <th>Invoice Type</th>
            <th>Deadline</th>
            <th>Due Date</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= link_to @invoice.project.title, @invoice.project %></td>
            <td><%= @invoice.invoice_type.capitalize! %></td>
            <td><%= @invoice.project.deadline.strftime('%a %b %m, %Y ') %></td>
            <td>
              <% if @invoice.invoice_type == InvoiceType.deposit %>
                <%= (@invoice.project.deadline - 14.days).strftime('%a %b %m, %Y ') %>
              <% else %>
                <%= @invoice.project.deadline.strftime('%a %b %m, %Y ') %>
              <% end %>
            </td>
            <td><b><%= number_to_currency(@invoice.amount) %></b></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-lg-8 col-sm-5">
        <div class="col-md-6" >
          <p class="lead">Payment Methods:</p>
          <i class='fab fa-cc-visa fa-3x'></i>
          <i class='fab fa-cc-mastercard fa-3x'></i>
          <i class='fab fa-cc-amex fa-3x'></i>


          <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
            Nomcre uses Stripe to process online payments.
            <br>To make an ACH Payment please contact finance@nomcre.com
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-sm-5 ml-auto">
        <table class="table table-clear">
          <tbody>
            <tr>
              <td class="left">
                <strong>Subtotal</strong>
              </td>
              <td class="right"><%= number_to_currency(@invoice.amount) %></td>
            </tr>
            <!-- <tr>
              <td class="left">
                <strong>Discount (20%)</strong>
              </td>
              <td class="right">$1,699,40</td>
            </tr> -->
            <tr>
              <td class="left">
               <strong>VAT (6%)</strong>
             </td>
             <td class="right"><%= number_to_currency(@invoice.amount * 0.06) %></td>
           </tr>
           <tr>
            <td class="left">
              <strong>Total</strong>
            </td>
            <td class="right">
              <strong><%= number_to_currency(@invoice.amount * 1.06) %></strong>
            </td>
          </tr>
        </tbody>
      </table>
      <span class='pull-right'>
        <%= render :partial => 'payments/partials/payment_button', :locals => {invoice: @invoice} %>
      </span>
    </div>

  </div>

</div>
</div>
