<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @assistant.name %>
</p>

<p>
  <strong>Paypal email:</strong>
  <%= @assistant.paypal_email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @assistant.phone %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @assistant.rate %>
</p>

<p>
  <strong>Assistant type:</strong>
  <%= @assistant.assistant_type %>
</p>

<p>
  <strong>Location:</strong>
  <%= @assistant.location %>
</p>

<%= link_to 'Edit', edit_assistant_path(@assistant) %> |
<%= link_to 'Back', assistants_path %>
