<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">About Me</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <strong><i class="fa fa-book margin-r-5"></i> Description</strong>

    <p class="text-muted">
      <%= @user_profile.description %>
    </p>

    <hr>

    <strong><i class="fa fa-map-marker margin-r-5"></i> Current Location</strong>
    <% location = "Somewhere Cool" %>
    <% if @user_profile.user.schedule_items.count > 0 %>
      <% schedule_item_now = @user_profile.user.schedule_items.where('start_date < ?', Date.today).where('end_date > ?', Date.today)%>
      <% if schedule_item_now.count > 0 %>
        <% location = schedule_item_now.first.location.name %>
      <% end %>
    <% end %>
    <p class="text-muted">
      <span><i class='tim-icons'><ion-icon name="pin"></ion-icon></i> <%= location %></span>
    </p>

    <hr>

    <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>

    <p>
      <% @user_profile.content_type.each do |type|%>
        <% if type.downcase == 'photography' %>
          <span class="label label-primary"><%= type %></span>
        <% elsif  type.downcase == 'videography' %>
          <span class="label label-info"><%= type %></span>
        <% elsif  type.downcase == 'aerial' %>
          <span class="label label-primary"><%= type %></span>
        <% elsif  type.downcase == '360 - video' %>
          <span class="label label-info"><%= type %></span>
         <% elsif  type.downcase == '360 - photo' %>
          <span class="label label-primary"><%= type %></span>
        <%end %>
      <% end %>
    </p>

    <hr>

    <strong><i class="fa fa-file-text-o margin-r-5"></i> Shooting Preferences</strong>

    <p>
       <% @user_profile.shot_preference.each do |type|%>
        <% if type.downcase == 'editorial' %>
          <span class="label label-primary"><%= type %></span>
        <% elsif  type.downcase == 'story' %>
          <span class="label label-info"><%= type %></span>
        <% elsif  type.downcase == 'lifestyle' %>
          <span class="label label-primary"><%= type %></span>
        <% elsif  type.downcase == 'lookbook' %>
          <span class="label label-info"><%= type %></span>
         <% elsif  type.downcase == 'action' %>
          <span class="label label-primary"><%= type %></span>
        <%end %>
      <% end %>
    </p>
  </div>
  <!-- /.box-body -->
</div>
