
  <div class='row input-group'>
    <div class='col-md-6'>
      <div class="form-check form-check-radio">
        <label class="form-check-label center">
          <%= form.radio_button :proposal_type, "photo", class: 'form-check-input center', :checked => true%>
          <span class="form-check-sign"></span>
         <i class='fa fa-camera text-primary' style="font-size: 36px; margin-top: -24px;"> </i><br>
          Photo
        </label>
      </div>
      <br>
    </div>
    <div class='col-md-6'>
      <div class="form-check form-check-radio radio-icons">
        <label class="form-check-label center">
          <%= form.radio_button :proposal_type, "video", class: 'form-check-input center'%>
          <span class="form-check-sign"></span>
          <i class='fa fa-video text-primary' style="font-size: 36px; margin-top: -24px;"> </i><br>
          Video
        </label>
      </div>
    </div>
    <br>
  </div>
  <hr>
  <label>What should we call this project??</label>
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <i class="tim-icons"><ion-icon name="compass" class='text-primary center' size='large'></ion-icon></i>
      </div>
    </div>
    <%= form.text_field :title, class: 'form-control', placeholder: "Give your project a cool name ... ", required: true%>
  </div>
  <br>
  <label>When are we shooting?</label>
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <i class="tim-icons"><ion-icon name="calendar" class='text-primary center' size='large'></ion-icon></i>
      </div>
    </div>
    <%= form.text_field :deadline,  class: 'form-control datetimepicker' %>
  </div>
  <br>
  <label>Where are we shooting?</label>
  <div class="input-group">

    <div class="input-group-prepend">
      <div class="input-group-text">
        <i class="tim-icons"><ion-icon name="pin" class='text-primary center' size='large'></ion-icon></i>
      </div>
    </div>
    <%= form.select(:location_id, options_for_select(Location.locations_for_select), {}, {class: 'form-control'}) %>
  </div>




