
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <i class="tim-icons"><ion-icon name="logo-instagram" class='text-primary center' size='large'></ion-icon></i>
      </div>
    </div>
    <%= form.text_field :instagram_1, class: 'form-control', placeholder: 'First Instagram User Name' %>
  </div>
  <br>
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <i class="tim-icons"><ion-icon name="logo-instagram" class='text-primary center' size='large'></ion-icon></i>
      </div>
    </div>
    <%= form.text_field :instagram_2, class: 'form-control', placeholder: 'Second Instagram User Name' %>
  </div><br>
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <i class="tim-icons"><ion-icon name="logo-instagram" class='text-primary center' size='large'></ion-icon></i>
      </div>
    </div>
    <%= form.text_field :instagram_3, class: 'form-control', placeholder: 'Third Instagram User Name' %>
  </div><br>
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <i class="tim-icons"><ion-icon name="logo-instagram" class='text-primary center' size='large'></ion-icon></i>
      </div>
    </div>
    <%= form.text_field :instagram_4, class: 'form-control', placeholder: 'Fourth Instagram User Name' %>
  </div>
  <br>
 <h4 class="info-text"> Do You Have Links To Mood Boards?</h4>
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <i class="tim-icons"><ion-icon name="globe" class='text-primary center' size='large'></ion-icon></i>
      </div>
    </div>
    <%= form.text_field :image_board_1, class: 'form-control', placeholder: 'First Image Board' %>
  </div>
  <br>
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <i class="tim-icons"><ion-icon name="globe" class='text-primary center' size='large'></ion-icon></i>
      </div>
    </div>
    <%= form.text_field :image_board_2, class: 'form-control', placeholder: 'Second Image Board' %>
  </div>
  <br>
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <i class="tim-icons"><ion-icon name="globe" class='text-primary center' size='large'></ion-icon></i>
      </div>
    </div>
    <%= form.text_field :image_board_3, class: 'form-control', placeholder: 'Third Image Board' %>
  </div>
  <br>
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <i class="tim-icons"><ion-icon name="globe" class='text-primary center' size='large'></ion-icon></i>
      </div>
    </div>
    <%= form.text_field :image_board_4, class: 'form-control', placeholder: 'Fourth Image Board' %>
  </div>

