<div class="card">
  <div class="card-header">
    <!-- <div class="tools float-right">
      <div class="dropdown">
        <button type="button" class="btn btn-default dropdown-toggle btn-link btn-icon" data-toggle="dropdown">
          <i class="tim-icons icon-settings-gear-63"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="javascript:void(0)">Action</a>
          <a class="dropdown-item" href="javascript:void(0)">Another action</a>
          <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
          <a class="dropdown-item text-danger" href="javascript:void(0)">Remove Data</a>
        </div>
      </div>
    </div> -->
    <h4 class="card-title">Shot List </h4>
  </div>
  <div class="card-body">
    <% if (current_user.user_type == 'company' && current_user.company == shoot.project.company) || current_user == shoot.creative %>
      <% if shoot.is_editable || shoot.creative == current_user %>
        <%= link_to "<ion-icon name='add' ></ion-icon> Add New".html_safe, new_shoot_shot_list_item_path(shoot.id), class: 'btn btn-success btn-round float-right mr-5'  %>
        <% end %>
      <% end %>
    <div class="table-responsive rounded" style='background-color:#F5F6FA;'>
      <table class="table table-shopping">
        <thead class="">
          <tr>
            <th class="">
              Reference
            </th>
            <th class="">Type</th>
            <th class="">Background</th>
            <th class="text-center">Completed</th>
            <th class="">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% shot_list_items.each do |si| %>
            <tr >
              <td>
                <div class="img-container">
                  <% if si.reference_image.file != nil %>
                  <%= image_tag si.reference_image, class: 'img-fluid'  %>
                  <% else %>
                    <i class="far fa-image fa-3x"></i>
                  <% end %>
                </div>
              </td>
              <td class="">
                <%= si.description %>
                <br>
                <small><%= si.aspect_ratio%></small>
              </td>
              <td class="">
                <%= !si.background.blank? ? si.background : "Creatives Choice" %>
              </td>
              <td class="text-center">
                <% if !si.task.nil? && !si.task.completed %>
                  <i class='tim-icons text-danger'><ion-icon name='close' size='large'></ion-icon></i>
                <% elsif si.task.nil? %>
                  NEEDS TASK
                <% else %>
                  <i class='tim-icons text-success'><ion-icon name='checkmark' size='large'></ion-icon></i>
                <% end %>
              </td>
              <td class="td-actions">
                <%= link_to si do %>
                  <i class="fa fa-eye"></i>
                <% end %>
                <%= link_to edit_shoot_shot_list_item_path(si.shoot, si) do %>
                  <i class="fa fa-edit"></i>
                <% end %>
                <%= link_to si, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-trash"></i>
                <% end %>
              </td>
            </tr>
         <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

