<div class="box box-solid">
  <div class="box-header with-border">
    <i class="fa fa-text-width"></i>

    <h3 class="box-title"><%= @task.proposal.title %></h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <dl class="dl-horizontal">
      <dt>Description: </dt>
      <dd><%= @task.description %></dd>
      <dt>Assigned To:</dt>
      <dd><%= @task.user.name %></dd>
      <dt>Deadline:</dt>
      <dd><%= @task.deadline %></dd>
      <dt>Complete: </dt>
      <dd><%= @task.completed %>
      </dd>
    </dl>
  </div>
  <% if @task.user == current_user %>
  <%= link_to "Mark Completed", task_task_complete_path(@task), class: 'btn btn-primary' %>
<% end %>
</div>


<% link_to 'Edit', edit_task_path(@task) %>
<% link_to 'Back', tasks_path %>
