<%= form_with(model: task_group, local: true) do |form| %>
  <% if task_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task_group.errors.count, "error") %> prohibited this task_group from being saved:</h2>

      <ul>
      <% task_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :task_group_title, class: 'form-control' %>
  </div>
  <% if current_user.is_admin %>
    <div class="form-group">
    <%= form.label :content_type %>
    <%= form.select(:shoot_type, options_for_select([ContentType.photo, ContentType.video], :selected => task_group.shoot_type),  {}, {class: 'form-control'}) %>
  </div>
  <% end %>
  <% if defined? shoot %>
    <%= form.hidden_field :shoot_id, id: :task_group_shoot_id, :value => shoot.id %>
  <% end %>
  <% if defined? redirect %>
    <%= form.hidden_field :redirect, :value => redirect %>
  <% end %>
  <div class="actions">
    <%= form.submit 'Save Group', class: 'btn btn-primary' %>
  </div>
<% end %>
