<% url = request.url %>
<% uri = URI.parse(url) %>
<% query_params = CGI.parse(uri.query) unless uri.query == nil %>
<% basic_style = query_params == nil || query_params["active"] == ["basic"] ? 'active' : ''  %>
<% shotlist_style = query_params != nil && query_params["active"] == ["shotlist"] ? 'active' : ''  %>
<% available_style = query_params != nil && query_params["active"] == ["available"] ? 'active' : ''  %>
<% tasks_style = query_params != nil && query_params["active"] == ["tasks"] ? 'active' : ''  %>
<% disclosure_style = query_params != nil && query_params["active"] == ["disclosures"] ? 'active' : ''  %>
<% assistants_style = query_params != nil && query_params["active"] == ["assistants"] ? 'active' : ''  %>
<% invoices_style = query_params != nil && query_params["active"] == ["invoices"] ? 'active' : ''  %>
<div class="">
  <div class="card-header">
    <div class='card-category pull-right'>
      <% if current_user && current_user.company == shoot.project.company && shoot.is_editable %>
        <%= link_to "<ion-icon name='create'></ion-icon> Edit".html_safe, edit_shoot_path(shoot), class: 'btn btn-simple btn-danger' %>
      <% end %>
    </div>
    <h3 class="">Details</h3>
  </div>
  <div class="">
    <div class="row">
      <div class="col-md-12">
        <%= render :partial =>'shoots/partials/black_dashboard/show/tabs/buttons', :locals => {:shoot => shoot, :basic_style => basic_style, :shotlist_style => shotlist_style, :available_style => available_style, :tasks_style => tasks_style, :disclosure_style => disclosure_style, :assistants_style => assistants_style, :invoices_style => invoices_style} %>
        <br>
      </div>
      <div class="col-md-12">
        <div class="tab-content ">
          <div class="tab-pane <%= basic_style %>" id="basic">
            <%= render :partial => 'shoots/partials/black_dashboard/show/panels/basic_info', :locals => {shoot: shoot} %>
          </div>
          <% if shoot.content_type.downcase == ContentType.video %>
            <%= render :partial => 'shoots/partials/black_dashboard/show/panels/script', :locals => {shoot: shoot} %>
          <% end %>
          <div class="tab-pane <%= shotlist_style %>" id="shotlist">
            <div class='' style='max-height: 800px; overflow-x: hidden; overflow-y: scroll; -webkit-overflow-scrolling: touch;'>

             <%= render :partial => 'shared/black_dashboard/shot_list_items/shoots/list', :locals => {:shoot => shoot, :shot_list_items => @shot_list_items} %>
            </div>
          </div>
          <div class="tab-pane <%= tasks_style %>" id="tasks">
           <%= render :partial => 'shoots/partials/black_dashboard/show/panels/tasks', :locals => {shoot: shoot} %>
          </div>
          <div class="tab-pane <%= available_style %>" id="available">
            <%= render :partial => 'shoots/partials/black_dashboard/show/tabs/creatives_for_request', :locals => {shoot: shoot} %>
          </div>
          <div class="tab-pane <%= disclosure_style %>" id="disclosures">
            <button id='documentButton' class='btn btn-primary'> New Disclosure </button>
            <%= render :partial => 'documents/partials/black_dashboard/form_modal', :locals =>{ shoot: shoot} %>
            <br>
           <%= render :partial => 'shared/black_dashboard/disclosures/list', :locals =>{ collector: shoot} %>
          </div>
          <div class="tab-pane <%= assistants_style %>" id="assistants">
            <button id='assistantButton' class='btn btn-primary'> New Assistant </button>
            <%= render :partial => 'assistants/partials/black_dashboard/form_modal', :locals =>{ shoot: shoot} %>
            <br>
            <%= render :partial => 'assistants/partials/black_dashboard/index', :locals => {:assistants => @shoot.assistants }%>
          </div>
          <div class="tab-pane" id="invoices" style="background: #f5f6fa">
            <!-- TODO: Get Invoices Working and Created to Show Here -->
           <!-- < render :partial => 'proposals/partials/black_dashboard/payments/invoices', :locals => {:proposal => proposal} > -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render :partial => 'shot_list_items/partials/black_dashboard/widgets/new_group_from_template', :locals => {shoot:shoot} %>

