<div class="card">
  <div class='card-header'>
    <div class="card-title"> Click A Group To Expand It </div>
  </div>
  <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
    <% task_groups.order(order: :desc).each do |tg| %>
      <div class="card card-plain">
        <div class="card-header" id="heading<%= tg.id%>" style='background: #d3d7e9'>
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= tg.id%>" aria-controls="collapse<%= tg.id%>">
            <i class="tim-icons"><i class="fas fa-caret-down"></i></i>
            <h5><%= tg.title %></h5>
          </a>
        </div>
        <div id="collapse<%= tg.id%>" class="collapse" role="tabpanel" aria-labelledby="heading<%= tg.id%>">
          <div class="card-body">
           <%= render :partial => 'tasks/partials/black_dashboard/task_list', :locals => {:tasks => tg.tasks} %>
          </div>
        </div>
      </div>
      <br>
    <% end %>
  </div>
</div>
