<div class="active tab-pane" id="activity">
  <% @user_profile.activities.each do |activity|%>
    <div class="post">
    <div class="user-block">
      <%= image_tag @user_profile.profile_photo, class: 'img-circle img-bordered-sm' %>
          <span class="username">
            <a href="#"><%= @user_profile.display_name%></a>
            <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
          </span>
      <span class="description"><%= activity.activity_type %>- <%= activity.created_at %> </span>
    </div>
    <%if activity.activity_type == UserActivityType.collection_added %>
       <%= Collection.find(activity.object_id).title %><br>
    <% elsif  activity.activity_type == UserActivityType.collection_photo_added %>
       <%= image_tag CollectionItem.find(activity.object_id).file %> <br>
    <% elsif  activity.activity_type == UserActivityType.collection_video_added %>
      <%= video_tag CollectionItem.find(activity.object_id).video, class: 'img-responsive', style: 'max-height: 400px;' %> <br>
    <% elsif  activity.activity_type == UserActivityType.proposal_accepted %>
      from: <%= Proposal.find(activity.object_id).company.name %> <br>
    <% elsif  activity.activity_type == UserActivityType.proposal_created %>
      <%= Proposal.find(activity.object_id).company.name %> <br>
    <% elsif  activity.activity_type == UserActivityType.travel_plan_created %>
      <%= ScheduleItem.find(activity.object_id).location.name %> <br>
    <% else %>
    <% end %>
      <!-- /.user-block -->
<!--   <ul class="list-inline">
    <li><a href="#" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> Share</a></li>
    <li><a href="#" class="link-black text-sm"><i class="fa fa-thumbs-o-up margin-r-5"></i> Like</a>
    </li>
    <li class="pull-right">
      <a href="#" class="link-black text-sm"><i class="fa fa-comments-o margin-r-5"></i> Comments
        (5)</a></li>
  </ul>

  <input class="form-control input-sm" type="text" placeholder="Type a comment"> -->
</div>
  <% end %>
</div>
