
  <div class="col-sm-12 col-md-6 col-lg-6 ">
    <h5 class="info-text"> Paste in a link to your Image Boards </h5>
    <%= form.text_field :image_board_1, id: :project_image_board_1_id, class: 'form-control', :placeholder => 'www.imageboard.com'%><br>
    <%= form.text_field :image_board_2, id: :project_image_board_1_id, class: 'form-control', :placeholder => 'www.imageboard.com'%><br>
    <%= form.text_field :image_board_3, id: :project_image_board_1_id, class: 'form-control', :placeholder => 'www.imageboard.com'%><br>
    <%= form.text_field :image_board_4, id: :project_image_board_1_id, class: 'form-control', :placeholder => 'www.imageboard.com'%><br>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6 ">
    <h5 class="info-text"> Paste in a link to your Image Boards </h5>
    <%= form.text_field :insta_inspiration_1, id: :project_insta_inspiration_1_id, class: 'form-control', :placeholder => '@insta_inspiration'%><br>
    <%= form.text_field :insta_inspiration_2, id: :project_insta_inspiration_1_id, class: 'form-control', :placeholder => '@insta_inspiration'%><br>
    <%= form.text_field :insta_inspiration_3, id: :project_insta_inspiration_1_id, class: 'form-control', :placeholder => '@insta_inspiration'%><br>
    <%= form.text_field :insta_inspiration_4, id: :project_insta_inspiration_1_id, class: 'form-control', :placeholder => '@insta_inspiration'%><br>
  </div>

