

 <%= flash[:notice] %>
<div>
  <h4> Import Data </h4>
  <%= form_tag import_leads_path, multipart: true do |f| %>
    <%= file_field_tag :file, class: 'btn btn-info' %>
    <%= submit_tag "Upload File", class: 'btn btn-success' %>
  <% end %>
</div>

 <%= render 'admin/black_dashboard/leads' %>
