<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Proposals</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table class="table table-bordered">
      <tbody><tr>
        <th>Title </th>
        <th>Deadline</th>
        <th>Deposit</th>
        <th>Paid</th>
        <th>View</th>
      </tr>
      <% @proposals.each do |p| %>
      <tr>
        <td><%= p.title %></td>
        <td><%= p.deadline.strftime("%a %b %y") %></td>
        <td><%= p.deposit_paid %></td>
        <td><%= p.paid %></td>
        <td><%= link_to "View", proposal_path(p) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  <div class='container pull-right'>
  <%= paginate @proposals %>
</div>

 <!--  <div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
      <li><a href="#">«</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">»</a></li>
    </ul>
  </div> -->
</div>
