  <div class="row">

    <div class='col-md-12'></div>
  </div>
  <div class="container clearfix">
    <%= render 'chatrooms/partials/user_chatroom_list'%>

    <div class="chat">
      <% unless @chatroom.messages.nil? || @chatroom.messages.count == 0 %>
      <div class="chat-header clearfix">
        <% chat_user = @chatroom.messages.where.not(user: current_user).first.user unless @chatroom.messages.where.not(user: current_user).first.nil? %>

       <!--  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar" /> -->

        <div class="chat-about">
          <div class="chat-with"><%= chat_user.email unless chat_user.nil? %></div>
          <div class="chat-num-messages">already <%= @chatroom.messages.count%> messages</div>
        </div>
        <i class="fa fa-star"></i>
      </div> <!-- end chat-header -->

      <div class="chat-history" >
        <ul style="list-style: none;">
          <% @chatroom.messages.reverse.each do |message| %>
          <!-- Right Side -->
            <% if message.user == current_user %>
              <li class="clearfix">
                <div class="message-data align-right">
                  <span class="message-data-time" ><%= message.created_at %></span> &nbsp; &nbsp;
                  <span class="message-data-name" ><%= message.user.name %></span> <i class="fa fa-circle me"></i>

                </div>
                <div class="message other-message float-right">
                  <%= message.content.html_safe %>
                </div>
              </li>
            <% else %>
            <!-- End Right Side -->
              <li>
                <div class="message-data">
                  <span class="message-data-name"><i class="fa fa-circle online"></i> <%= message.user.name %></span>
                  <span class="message-data-time"><%= message.created_at %></span>
                </div>
                <div class="message my-message">
                 <%= message.content.html_safe%>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <% end %>
      <%= render :partial => 'messages/message_form', :locals => {:message => @message, :chatroom => @chatroom} %>
    </div> <!-- end chat -->

  </div> <!-- end container -->

