
<%= form_with(model: payment, local: true) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>
      <ul>
      <% payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :amount %>
    <%= form.text_field :amount, id: :payment_amount, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :category %>
    <%= form.text_field :category, id: :payment_category, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :payment_method %>
    <%= form.text_field :payment_method, id: :payment_payment_method, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :external_id %>
    <%= form.text_field :external_id, id: :payment_external_id , class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= form.label :paid_on %>
    <%= form.date_select :paid_on, id: :payment_paid_on, class: 'form-control' %>
  </div>

  <%= form.hidden_field :project_id, id: :payment_project_id, :value => @project.id %>
  <%= form.hidden_field :user_id, id: :payment_user_id, :value => @project.company.users.first %>
  <%= form.hidden_field :payment_type, id: :payment_payment_type, :value => payment_type  %>

  <div class="actions">
    <%= form.submit button_text, class: 'btn btn-primary'%>
  </div>
<% end %>
