
 <div class=" card card-body">
    <div class="table-responsive">
      <table class="table">
        <thead class="text-primary" class='text-center'>
          <tr>
            <th>
              Creative
            </th>
            <th class="text-center">
              Project
            </th>
            <th class="text-center">
              Content Type
            </th>
            <th class="text-center">
              Deadline
            </th>
            <th class="text-center">
              Incomplete Tasks
            </th>
            <th class="text-right">
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <% unless shoots.nil? %>
          <% shoots.each do |shoot| %>
          <tr>
            <td class="text-center">
              <div class="photo">
                <% if shoot.creative.nil?  %>
                  <%= image_tag UserProfile.default_profile_image , class: 'avatar' %>
                <% else %>
                  <%= image_tag shoot.creative.user_profile.safe_profile_image_url, class: 'avatar' %>
                <% end %>
              </div>
            </td>
            <td>

              <%= link_to shoot.project.title, shoot_path(shoot), class: 'text-primary' %>

            </td>
            <td class='text-center'>
              <%= shoot.content_type %>
            </td>
            <td class="text-center">
              <%= shoot.project.deadline.strftime('%A %m %d %Y') unless shoot.project.deadline.nil? %>
            </td>
            <td class='text-center'>
              <%= shoot.tasks.where(completed: nil).count %>
            </td>
            <td class="">
              <%= link_to "<i class='far fa-edit'> </i>".html_safe, edit_shoot_path(shoot), class: 'text-warning', style: 'padding-left:6px;'%>
              <% unless shoot.project.deposit_is_paid %>
                <%= link_to "<i class='far fa-trash-alt'> </i>".html_safe, shoot_path(shoot), method: :delete, class: 'text-danger', style: 'padding-left:6px;' %>
              <% end %>
            </td>
          </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
