<li class="header"><%= "Admin" %></li>
<li> <%= link_to '<i class="fa fa-list-ol"></i><span>Waitlist</span>'.html_safe, waitlists_path %> </li>
<li> <%= link_to '<i class="fa fa-users"></i><span>Users</span>'.html_safe, admin_users_path %> </li>
<li> <%= link_to '<i class="fa fa-briefcase"></i><span>Proposals</span>'.html_safe, admin_proposals_path %> </li>
<li> <%= link_to '<i class="fa fa-image"></i><span>Showcase</span>'.html_safe, showcase_images_path %>
<li> <%= link_to '<i class="fa fa-plane"></i><span>Schedules</span>'.html_safe, admin_schedule_items_path %></li>
