<%= form_with(model: discount_code, local: true) do |form| %>
  <% if discount_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(discount_code.errors.count, "error") %> prohibited this discount_code from being saved:</h2>

      <ul>
      <% discount_code.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code, id: :discount_code_code %>
  </div>

  <div class="field">
    <%= form.label :discount_type %>
    <%= form.text_field :discount_type, id: :discount_code_discount_type %>
  </div>

  <div class="field">
    <%= form.label :expiration_date %>
    <%= form.date_select :expiration_date, id: :discount_code_expiration_date %>
  </div>

  <div class="field">
    <%= form.label :max_uses %>
    <%= form.number_field :max_uses, id: :discount_code_max_uses %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
