
<div class="col-md-8 ml-auto mr-auto">
  <h2 class="text-center">Leads</h2>
  <p class="text-center">Customer Relationship Management</a>
  </p>
</div>
<div class="row mt-5">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="toolbar">
          <!--        Here you can write extra buttons/actions for the toolbar              -->
        </div>
        <table id="datatable" class="table table-striped">
          <thead>
            <tr>
               <th>Name</th>
              <th>Email</th>
              <th>Company name</th>
              <th>Title</th>
              <th>Industry</th>
              <th>Phone</th>
              <th>Location</th>
              <th>Last contacted</th>
              <th>Next contact</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @leads.each do |lead| %>
            <tr>
              <td><%= lead.name %></td>
              <td><%= lead.email %></td>
              <td><%= lead.company_name %></td>
              <td><%= lead.title %></td>
              <td><%= lead.industry %></td>
              <td><%= lead.phone %></td>
              <td><%= lead.location %></td>
              <td><%= lead.last_contacted %></td>
              <td><%= lead.next_contact %></td>
              <td>
                <%= link_to "<i class='fa fa-eye'></i>".html_safe, lead %> |
                <%= link_to "<i class='fab fa-linkedin-in'></i>".html_safe, lead.linkedin_profile, target: '_blank' %> |
                <%= link_to "<i class='fa fa-edit'></i>".html_safe, edit_lead_path(lead) %> |
                <%= link_to "<i class='fa fa-trash'></i>".html_safe, lead, method: :delete, data: { confirm: 'Are you sure?' } %>

              </td>
            </tr>
          <% end %>
          </tbody>
          <tfoot>
            <tr>
                <th>Name</th>
              <th>Email</th>
              <th>Company name</th>
              <th>Title</th>
              <th>Industry</th>
              <th>Phone</th>
              <th>Location</th>
              <th>Last contacted</th>
              <th>Next contact</th>
              <th>Actions</th>
            </tr>
          </tfoot>
        </table>
      </div>
      <!-- end content-->
    </div>
    <!--  end card  -->
  </div>
  <!-- end col-md-12 -->
</div>
<!-- end row -->


<div class='pull-right'>
  <%= link_to "Add A Lead", new_lead_path, class: 'btn btn-success' %>
</div>

<% content_for :added_scripts do %>
  <script>
    $(document).ready(function() {
      $('#datatable').DataTable({
        "pagingType": "full_numbers",
        "lengthMenu": [
          [10, 25, 50, -1],
          [10, 25, 50, "All"]
        ],
        responsive: true,
        language: {
          search: "_INPUT_",
          searchPlaceholder: "Search records",
        }

      });

      var table = $('#datatable').DataTable();

      // Edit record
      table.on('click', '.edit', function() {
        $tr = $(this).closest('tr');

        var data = table.row($tr).data();
        alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
      });

      // Delete a record
      table.on('click', '.remove', function(e) {
        $tr = $(this).closest('tr');
        table.row($tr).remove().draw();
        e.preventDefault();
      });

      //Like record
      table.on('click', '.like', function() {
        alert('You clicked on Like button');
      });
    });
  </script>
  <% end %>
