


<div class="col-md-8 ml-auto mr-auto">
  <h2 class="text-center">Users</h2>
  <p class="text-center">This is a list of creatives waiting to be activated for work!</a>
  </p>
</div>
<div class="row mt-5">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="toolbar">
          <!--        Here you can write extra buttons/actions for the toolbar              -->
        </div>
        <table id="datatable" class="table table-striped">
          <thead>
            <tr>
               <th>Name </th>
               <th>Email</th>
               <th>Date Added</th>
               <th>View</th>
              <!-- <th class="sorting_desc_disabled sorting_asc_disabled text-right">Actions</th> -->
            </tr>
          </thead>
          <tbody>
             <% @users.each do |u| %>
             <tr>
              <td><%= u.name %></td>
              <td><%= u.email %></td>
              <td><%= u.created_at.strftime("%a %b %y")%></td>
              <td>
                <% if u.user_profile %>
                  <%= link_to "View", user_profile_path(u.user_profile) %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
               <th>Name </th>
               <th>Email</th>
               <th>Date Added</th>
               <th>View</th>
            </tr>
          </tfoot>
        </table>
      </div>
      <!-- end content-->
    </div>
    <!--  end card  -->
  </div>
  <!-- end col-md-12 -->
</div>
<!-- end row -->


<%= link_to 'New Waitlist', new_waitlist_path, class: 'btn btn-primary' %>

<% content_for :added_scripts do %>
  <script>
    $(document).ready(function() {
      $('#datatable').DataTable({
        "pagingType": "full_numbers",
        "lengthMenu": [
          [10, 25, 50, -1],
          [10, 25, 50, "All"]
        ],
        responsive: true,
        language: {
          search: "_INPUT_",
          searchPlaceholder: "Search records",
        }

      });

      var table = $('#datatable').DataTable();

      // Edit record
      table.on('click', '.edit', function() {
        $tr = $(this).closest('tr');

        var data = table.row($tr).data();
        alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
      });

      // Delete a record
      table.on('click', '.remove', function(e) {
        $tr = $(this).closest('tr');
        table.row($tr).remove().draw();
        e.preventDefault();
      });

      //Like record
      table.on('click', '.like', function() {
        alert('You clicked on Like button');
      });
    });
  </script>
  <% end %>


