<% @notifications = Notification.where(user: current_user, notification_type:  "New Message").where(read:false) %>
<li class="dropdown messages-menu">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-envelope-o"></i>
    <% unless @notifications.count == 0 %>
      <span class="label label-success"><%= @notifications.count %></span>
    <% end %>
  </a>
  <ul class="dropdown-menu">
    <li class="header">You have <%= @notifications.count %> messages</li>
    <li>
      <!-- inner menu: contains the actual data -->
      <ul class="menu">
        <% @notifications.each do |notification| %>
        <% @chatroom = Chatroom.find(notification.notification_object_id) %>
        <li><!-- start message -->
          <%= link_to proposal_chatroom_path(@chatroom.proopsal, @chatroom) do %>
            <div class="pull-left">
              <%= image_tag @chatroom.messages.last.user.user_profile.safe_profile_image_url, class: "img-circle", alt: "User Image" %><br>
            </div>
            <h4>
              <%= @chatroom.messages.last.user.email %>

            </h4>
            <p>New Message in <%= @chatroom.topic %></p>
            <small><i class="fa fa-clock-o"></i> <%= @chatroom.messages.last.created_at.strftime("%c") %></small>
          <% end %>
        </li>
        <% end %>
        <!-- end message -->
      </ul>
    </li>
    <li class="footer"><a href="#">See All Messages</a></li>
  </ul>
</li>
