<div class="nk-box">

            <div class="nk-gap-4"></div>
            <div class="container" style='margin-top: -24px;'>
                <div class='strong' style=' color:black'>
                    <h4>OH <span class='raleway-thinnest' style='margin-left:-6px; margin-right:-6px'>THE</span> PLACES <span class='raleway-thinnest' style='margin-left:-6px; margin-right:-6px'>WE</span>  GO</h4>
                </div>
                <!-- START: Carousel 3 -->
                <div class="nk-carousel-2" data-arrows="true">
                    <div class="nk-carousel-inner">
                        <div>
                            <div>
                                <%= image_tag "https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/Website+Homepage+Images/rotator/Rotator1KL.jpg", class: 'nk-img-fit'%>
                            </div>
                        </div>
                        <div>
                            <div>
                                 <%= image_tag "https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/Website+Homepage+Images/rotator/Rotator2MM.jpg", class: 'nk-img-fit'%>
                            </div>
                        </div>
                        <div>
                            <div>
                                 <%= image_tag "https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/Website+Homepage+Images/rotator/Rotator3jo.jpg", class: 'nk-img-fit'%>
                            </div>
                        </div>
                        <div>
                            <div>
                                 <%= image_tag "https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/Website+Homepage+Images/rotator/Rotator4bg.jpg", class: 'nk-img-fit'%>
                            </div>
                        </div>
                        <div>
                            <div>
                                 <%= image_tag "https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/Website+Homepage+Images/rotator/Rotator5cp.jpg", class: 'nk-img-fit'%>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END: Carousel 3 -->

            </div>
            <div class="nk-gap-4"></div>
        </div>
