<div class="nk-box">

            <div class="nk-gap-4"></div>
            <div class="container" style='margin-top: -24px;'>
                <div class='strong' style=' color:black'>
                    <h4>OH <span class='raleway-thinnest'>the</span> PLACES <span class='raleway-thinnest'>we</span>  GO</h4>
                </div>
                <!-- START: Carousel 3 -->
                <div class="nk-carousel-2" data-arrows="true">
                    <div class="nk-carousel-inner">
                        <div>
                            <div>
                                <%= image_tag CollectionItem.all.take(4).last.file, class: 'nk-img-fit'%>
                            </div>
                        </div>
                        <div>
                            <div>
                                 <%= image_tag CollectionItem.all.take(5).last.file, class: 'nk-img-fit'%>
                            </div>
                        </div>
                        <div>
                            <div>
                                 <%= image_tag CollectionItem.all.take(6).last.file, class: 'nk-img-fit'%>
                            </div>
                        </div>
                        <div>
                            <div>
                                 <%= image_tag CollectionItem.all.take(7).last.file, class: 'nk-img-fit'%>
                            </div>
                        </div>
                        <div>
                            <div>
                                 <%= image_tag CollectionItem.all.take(8).last.file, class: 'nk-img-fit'%>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END: Carousel 3 -->

            </div>
            <div class="nk-gap-4"></div>
        </div>
