<div class="box">
  <div class="box-header">
    <h3 class="box-title">Pages</h3>

    <div class="box-tools">
      <div class="input-group input-group-sm" style="width: 150px;">
        <!-- <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

        <div class="input-group-btn">
          <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
        </div> -->
        <%= link_to "Add New Page", new_page_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <tbody><tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>View Count</th>
        <th colspan="3">Actions</th>
      </tr>
      <% @pages.each do |p| %>
      <tr>
        <td><%= p.id %></td>
        <td><%= p.title %></td>
        <td><%= p.content %></td>
        <td><%= p.views %></td>
        <td>
          <%= link_to "", edit_page_path(p), class: 'fa fa-edit' %>
          <%= link_to "", page_path(p), class: 'fa fa-eye' %>
        </td>
      </tr>
      <% end %>
    </tbody></table>
  </div>
  <!-- /.box-body -->
</div>

