
<% if current_user.user_profile.display_name.nil? || current_user.user_profile.description.nil? || current_user.user_profile.profile_photo.nil?  || current_user.user_profile.header_image.nil? %>
  <div class="alert alert-danger ">
    <h4><i class="icon fa fa-ban"></i> Complete Your Profile</h4>
    <div class='row'>
      <div class='col-md-6'>
        <i class='fa fa-user'><h3>Display Name:</h3><br></i><%= current_user.user_profile.display_name %>
      </div>
      <div class='col-md-6'>
        <% if current_user.user_profile.header_image.nil? || current_user.user_profile.header_image.file.nil? %>
         <i class='fa fa-image'></i>Add A Header Image
        <% else %>
          <%= image_tag current_user.user_profile.header_image, class: 'img-responsive img-circle', style: 'max-height:100px;' %>
        <% end %>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-6'>
        <i class='fa fa-file'></i>
        <% if current_user.user_profile.description.nil? || current_user.user_profile.description = ""%>
         Please Complete The About You Section
        <% else %>
          <%= current_user.user_profile.description %>
        <% end %>
      </div>
      <div class='col-md-6'>
        <% if current_user.user_profile.profile_photo.nil? || current_user.user_profile.profile_photo.file.nil? %>
         <i class='fa fa-image'></i>Add A Profile Image
        <% else %>
          <%= image_tag current_user.user_profile.profile_photo, class: 'img-responsive img-circle', style: 'max-height:100px;' %>
        <% end %>
      </div>
    </div>
    <div class='row'>
      <%= link_to "Update", edit_user_profile_path(current_user.user_profile), class: 'btn btn-success pull-right', style: 'margin-right: 12px;' %>
    </div>
  </div>

<% else %>
<div class="alert alert-success ">
    <h4><i class="icon fa fa-check"></i> Profile Complete</h4>
    <hr>
    <div class='row'>
      <div class='col-md-6'>
        <h3><i class='fa fa-user'></i>Display Name:</h3>
        <h4 class='details'><%= current_user.user_profile.display_name %></h4>
      </div>
      <div class='col-md-6'>
        <div class='row'>
          <div class='col-md-6'><h3><i class='fa fa-image'></i>Header Image</h3></div>
          <div class='col-md-6'>
            <%= image_tag current_user.user_profile.header_image, class: 'img-responsive img-circle', style: 'max-width:150px;' %>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-6'>
        <h3><i class='fa fa-file'></i>Description:</h3>
        <h5 class='details'><%= current_user.user_profile.description %></h5>
      </div>
      <div class='col-md-6'>
        <div class='row'>
          <div class="col-md-6"><h3><i class='fa fa-image'></i>Profile Photo:</h3></div>
          <div class="col-md-6"> <%= image_tag current_user.user_profile.profile_photo, class: 'img-responsive img-circle', style: 'max-width:150px;' %></div>
        </div>
      </div>
    </div>
  </div>
<% end %>
