<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Open Proposals</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <ul class="products-list product-list-in-box">
      <% if ProposalRequest.where(requested: current_user).where(accepted: nil).count ==0 %>
        You Have No Proposal Requests Pending
      <% else %>
        <% ProposalRequest.where(requested: current_user).where(accepted: nil).each do |p|%>
          <li class="item">
            <div class="product-img">
             <%= image_tag p.company.logo %>
            </div>
            <div class="product-info">
              <%= link_to p, class: 'product-title' do %>
                <%= p.title %>
                <span class="label label-success pull-right">
                  <% if p.proposal_type = "Photo" %>
                  $1000
                  <% elsif p.proposal_type == "Video" %>
                  $2000
                  <% else %>
                  $1000
                  <% end %>
                </span>
              <% end %>
              <span class="product-description">
                <%= p.shoot_type %>
              </span>
              <span class="product-description">
                <%= p.content[0...100]%>
              </span>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
</div>
<!-- /.box-body -->
<div class="box-footer text-center">
  <%= link_to "View All", proposals_path, class: 'uppercase'%>
</div>
<!-- /.box-footer -->
</div>

