<div class="box box-danger">
  <div class="box-header with-border">
    <h3 class="box-title">Available Work </h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <ul class="products-list product-list-in-box">
      <% if ProposalRequest.where(requested: current_user).where(accepted: nil).count ==0 %>
        You Have No Proposal Requests Pending
      <% else %>
        <% ProposalRequest.where(requested: current_user).where(accepted: nil).each do |p|%>
          <li class="item">
            <div class="product-img">
             <%= image_tag User.find(p.requested_by).company.logo %>
            </div>
            <div class="product-info">
              <%= link_to proposal_requests_path(p), class: 'product-title' do %>
                <%= p.proposal.company.name %>
                <span class="label label-success pull-right">
                  <% if p.proposal.proposal_type = "Photo" %>
                  $1000
                  <% elsif p.pproposal.roposal_type == "Video" %>
                  $2000
                  <% else %>
                  $1000
                  <% end %>
                </span>
              <% end %>
              <span class="product-description">
                <%= p.proposal.shoot_type %>
              </span>
              <span class="product-description">
                <%= p.proposal.content[0...100]%>
              </span>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
</div>
<!-- /.box-body -->
<div class="box-footer text-center">
  <%= link_to "View All", proposal_requests_path, class: 'uppercase'%>
</div>
<!-- /.box-footer -->
</div>

