<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lead.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @lead.email %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @lead.company_name %>
</p>

<p>
  <strong>Office phone:</strong>
  <%= @lead.office_phone %>
</p>

<p>
  <strong>Cell phone:</strong>
  <%= @lead.cell_phone %>
</p>

<p>
  <strong>Last contacted:</strong>
  <%= @lead.last_contacted %>
</p>

<p>
  <strong>Next contact:</strong>
  <%= @lead.next_contact %>
</p>
<p>
  <strong>Next contact:</strong>
  <%= @lead.next_contact_time.strftime('%H:%M') %>
</p>



<%= link_to 'Edit', edit_lead_path(@lead) %> |
<%= link_to 'Back', leads_path %>

<br> <br>

<%= link_to "New Lead Note", new_lead_lead_note_path(@lead), class: 'btn btn-success' %>

<br> <br>

<% @lead.lead_notes.each do |note| %>
  <div class='row'>
    <div class='col-md-3'>
      <%= note.created_at.strftime('%A %B %C') %>
    </div>
    <div class='col-md-9'>
      <p> <%= note.note %> </p>
    </div>

  </div>
<% end %>
