<div class='container'>
<div class="row">
  <div style='padding:12px;'>
  <h4><i class='fa fa-user'></i>  User Profile Completed <i class='fa fa-check pull-right'></i></h4>
  </div>
</div>

<div class='row'>
  <div class='col-md-3'>
      <div class="">
        <div class="box-body box-profile">
         <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-black" style="background: url('<%= current_user.user_profile.safe_header_image_url %>'); background-size: 100% 100%">
              <h3 class="widget-user-username"><%= current_user.user_profile.display_name %></h3>
              <h5 class="widget-user-desc"><%= current_user.company.name %></h5>
            </div>
            <div class="widget-user-image">
              <img class="img-circle" src="<%= current_user.user_profile.safe_profile_image_url %>" alt="User Avatar">
            </div>
            <div class="box-footer">

              <!-- /.row -->
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
  </div>
  <div class='col-md-9'>
    <div class="">
            <div class="box-header with-border">
              <h3 class="box-title"><%= current_user.company.name  %></h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!-- <strong><i class="fa fa-book margin-r-5"></i> Education</strong> -->

              <div class="info-box text-muted">
                <span class="info-box-icon bg-gray-light "><i class="fa fa-user"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Display Name</span>
                  <span class="info-box-number"><%= @current_user.user_profile.display_name %></span>
                </div>
                <!-- /.info-box-content -->
              </div>


              <div class="info-box text-muted">
                <span class="info-box-icon bg-gray-light"><i class="fa fa-file"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Description</span>
                  <span class="info-box-number"><%= @current_user.user_profile.description %></span>
                </div>
                <!-- /.info-box-content -->
              </div>
            </div>
            <!-- /.box-body -->
          </div>
  </div>
</div>
</div>

