<link rel="stylesheet" href="https://nomcre-rails.s3-us-west-2.amazonaws.com/assets/colorlib-wizard-3/fonts/linearicons/style.css">

<!-- MATERIAL DESIGN ICONIC FONT -->
<link rel="stylesheet" href="https://nomcre-rails.s3-us-west-2.amazonaws.com/assets/colorlib-wizard-3/fonts/material-design-iconic-font/css/material-design-iconic-font.css">

<!-- STYLE CSS -->
<link rel="stylesheet" href="https://nomcre-rails.s3-us-west-2.amazonaws.com/assets/colorlib-wizard-3/css/style.css">

<style type="text/css">
  .form-wrapper{width:100%;}
</style>
<div class="wrapper">
  <div class="image-holder">
    <img src="https://nomcre-rails.s3-us-west-2.amazonaws.com/assets/colorlib-wizard-3/images/form-wizard.jpg" alt="">
  </div>

  <div class="form-content">

    <form style="margin-top:-200px;" action='/magic'>
      <div id="wizard">
        <!-- SECTION 1 -->
        <h4></h4>
        <section>
          <h3>Tell Us About Your Audience...</h3>
          <div class="info">
             What Group Of People Are You Talking To?
            <div class="form-wrapper">
              <input type="text" name="group_of_people" placeholder="Marketers, Youtubers, etc...." class='form-control', value="<%=params[:group_of_people] %>">
            </div>

             Name A Specific Demographic:
            <div class="form-wrapper">
              <input type="text" name="demographic" value="<%=params[:demographic] %>" placeholder="25 year olds, women in Atlanta" class='form-control'>
            </div>

            What Is Their Most Common Objection?
            <div class="form-wrapper">
              <input type="text" name="common_objection" value="<%=params[:common_objection] %>" placeholder="Ive Been Burned in the past" class='form-control'>
            </div>


            What Personality Type Do They Want To Be?
            <div class="form-wrapper">
              <input type="text" name="personality_type" value="<%=params[:personality_type] %>" placeholder="Winners, Do-ers, Alpha Women" class='form-control'>
            </div>

          </div>
        </section>

        <!-- SECTION 2 -->
        <h4></h4>
        <section>
          <h3>Let's Create A Story...</h3>
          What Would Your Audience Love To Achieve?
          <div class="form-wrapper">
            <input type="text" id='great_result_input' name="great_result" value="<%=params[:great_result] %>" placeholder="2x Your Sales" class='form-control'>
          </div>

          What Is The Opposite Of That, Or The Worst Possible Result:
          <div class="form-wrapper">
            <input type="text" name="terrible_result" placeholder="0% ROI or Fail" class='form-control', value="<%=params[:terrible_result] %>">
          </div>

          What Timeframe Would Be Incredibly Fast?
          <div class="form-wrapper">
            <input type="text" name="time_frame" placeholder="30 days, 5 hours" class='form-control', value="<%=params[:time_frame] %>">
          </div>

          Name A Topic Your Audience Is Searching For:
          <div class='form-wrapper'>
            <input type="text" name="audience_search_topic" placeholder="Facebook Algorithm Changes" class='form-control' value="<%=params[:audience_search_topic] %>">
          </div>

          What Percentage of Your Audience Are You Talking To?
          <div class="form-wrapper">
            <input type="text" name="percentage" placeholder="50" class='form-control', value="<%=params[:percentage] %>">
          </div>

        </section>

        <!-- SECTION 3 -->
        <h4></h4>
        <section>
          <h3 style="margin-bottom: 50px;">Let's Make It Pop</h3>
          Name A Strategy You Use:
          <div class="form-wrapper">
            <input type="text" name="strategy_name" placeholder="Content Marketing" class='form-control', value="<%=params[:strategy_name] %>">
          </div>

          How Many Tips/Tricks/List Things Do You Want To Share?
          <div class="form-wrapper">
            <input type="text" name="number" placeholder="5" class='form-control', value="<%=params[:number] %>">
          </div>

          What Is Something EVERYONE In Your Audience Is Doing?
          <div class="form-wrapper">
            <input type="text" id='everyone_action' name="everyone_action" value="<%=params[:everyone_action] %>" placeholder="sending cold eamils..." class='form-control'>
          </div>

          What Does Your Audience Absolutely Hate To Do?
          <div class="form-wrapper">
            <input type="text" name="thing_you_hate" placeholder="Cold Calling" class='form-control' value="<%=params[:thing_you_hate] %>">
          </div>

          What Unconventional Action Do You LOVE?
          <div class="form-wrapper">
            <input type="text" name="unconventional_action" value="<%=params[:unconventional_action] %>" placeholder="Sending Snail Mail" class='form-control'>
          </div>

          Can You Address a Business or Life Phase?
          <div class="form-wrapper">
            <input type="text" name="bl_phase" value="<%=params[:bl_phase] %>" placeholder="College, New Job" class='form-control'>
          </div>
          <button type='submit' style='width:100%; padding-bottom:12px;' class="nk-btn nk-btn-x2 nk-btn-effect-5-left nk-btn-rounded nk-btn-color-dark-2">
          <span class="icon fa fa-paper-plane"></span>
          Get My Headlines</button>
          <br><br>
        </section>
      </div>
    </form>

    <!-- SOCIAL -->
    <div class="social">
      <a href="#">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="#">
        <i class="fa fa-vimeo"></i>
      </a>
      <a href="#">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="#">
        <i class="fa fa-linkedin"></i>
      </a>
    </div>
  </div>
</div>
</div>

<%= javascript_include_tag "https://nomcre-rails.s3-us-west-2.amazonaws.com/assets/colorlib-wizard-3/js/jquery-3.3.1.min.js" %>
<%= javascript_include_tag "https://nomcre-rails.s3-us-west-2.amazonaws.com/assets/colorlib-wizard-3/js/jquery.steps.js" %>
<script>

  $(function(){

    $("#wizard").steps({
      headerTag: "h4",
      bodyTag: "section",
      transitionEffect: "fade",
      enableAllSteps: true,
      titleTemplate :'<span class="number">#index#</span>',
      labels: {
        current: "",
        finish: "Start Over",
        next: "Next",
        previous: "Previous"
      },
      onStepChanging: function (event, currentIndex, newIndex) {
        if ( newIndex >= 1 ) {
          $('.steps ul li:first-child a .step-arrow').remove();
        } else {
          $('.steps ul li:first-child a').append('<img src="https://nomcre-rails.s3-us-west-2.amazonaws.com/assets/colorlib-wizard-3/images/step-arrow.png" alt="" class="step-arrow">');
        }

        if ( newIndex === 1 ) {
          $('.steps ul li:nth-child(2) a').append('<img src="https://nomcre-rails.s3-us-west-2.amazonaws.com/assets/colorlib-wizard-3/images/step-arrow.png" alt="" class="step-arrow">');;
        } else {
          $('.steps ul li:nth-child(2) a .step-arrow').remove();
        }

        if ( newIndex === 2 ) {
          $('.steps ul li:nth-child(3) a').append('<img src="https://nomcre-rails.s3-us-west-2.amazonaws.com/assets/colorlib-wizard-3/images/step-arrow.png" alt="" class="step-arrow">');;
        } else {
          $('.steps ul li:nth-child(3) a .step-arrow').remove();
          $('a[href="#finish"]').hide()
        }

        return true;
      }
    });
    // Create Steps Image
    $('.steps ul li:first-child a').append('<img src="https://nomcre-rails.s3-us-west-2.amazonaws.com/assets/colorlib-wizard-3/images/step-1.png" alt="">').append('<img src="https://nomcre-rails.s3-us-west-2.amazonaws.com/assets/colorlib-wizard-3/images/step-arrow.png" alt="" class="step-arrow">');
    $('.steps ul li:nth-child(2) a').append('<img src="https://nomcre-rails.s3-us-west-2.amazonaws.com/assets/colorlib-wizard-3/images/step-2.png" alt="">');
    $('.steps ul li:last-child a').append('<img src="https://nomcre-rails.s3-us-west-2.amazonaws.com/assets/colorlib-wizard-3/images/step-3.png" alt="">');
  })


</script>
