<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @headline_adlib.title %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @headline_adlib.stage %>
</p>

<%= link_to 'Edit', edit_headline_adlib_path(@headline_adlib) %> |
<%= link_to 'Back', headline_adlibs_path %>
