<% if !defined? show_all %>
  <% show_all = true %>
<% end %>
<div class="card">
  <div class='card-header'>
    <div class='card-title'>
      <h5> User Uploaded Documents </h5>
    </div>
  </div>
  <div class="card-body">
    <div class="toolbar">
      <!--        Here you can write extra buttons/actions for the toolbar              -->
    </div>
    <table id="uploaded" class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>File</th>
          <th>Media</th>
          <th>Document type</th>
          <% if show_all %>
            <th>Is template</th>
            <th class="sorting_desc_disabled sorting_asc_disabled text-right">Actions</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% documents.where.not(is_template: true).each do |document| %>
        <tr>

          <td><%= document.title %></td>
          <td><%= link_to "File", document.file.url unless document.file.url.nil? %></td>
          <td><%= link_to "Video", document.media.url unless document.media.url.nil?  %></td>
          <td><%= document.document_type %></td>
          <% if show_all %>
            <td><%= document.is_template %></td>
            <td class="text-right">
              <%= link_to 'Show', document %>
              <%= link_to 'Edit', edit_document_path(document) %>
              <%= link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>

          <th>Title</th>
          <th>File</th>
          <th>Media</th>
          <th>Document type</th>
          <% if show_all %>
            <th>Is template</th>
            <th class="disabled-sorting text-right">Actions</th>
          <% end %>
        </tr>
      </tfoot>
    </table>
  </div>
  <!-- end content-->
</div>
<% content_for :added_scripts do %>
  <script>
    $(document).ready(function() {
      $('#uploaded').DataTable({
        "pagingType": "full_numbers",
        "lengthMenu": [
          [10, 25, 50, -1],
          [10, 25, 50, "All"]
        ],
        responsive: true,
        language: {
          search: "_INPUT_",
          searchPlaceholder: "Search records",
        }

      });

      var table = $('#uploaded').DataTable();

      // Edit record
      table.on('click', '.edit', function() {
        $tr = $(this).closest('tr');

        var data = table.row($tr).data();
        alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
      });

      // Delete a record
      table.on('click', '.remove', function(e) {
        $tr = $(this).closest('tr');
        table.row($tr).remove().draw();
        e.preventDefault();
      });

      //Like record
      table.on('click', '.like', function() {
        alert('You clicked on Like button');
      });
    });
  </script>
  <% end %>
