<% content_for :head do %>
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="NOMCRE For Consultants In 2020" />
  <meta property="og:description" content="Acquire more clients with less effort using premium, on-demand content created faster than you can meet with a marketing or ad agency." />
  <meta property="og:image" content="https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/images/horizontal/nomcre-horizontal-19.jpg" />
  <meta property="title" content="NOMCRE For Consultants  In 2020" />
  <meta property="keywords" content="marketing, sales, On Demand, On-Demand, Visual, Custom, Creative, Content, Photography, Videography, Videos, product photos, pictures" />
<% end %>
<div class="nk-main">
<div style="padding-top:90px;"></div>

<%= render 'pages/partials/nomcre_for/consultants/types_of_video_right_dark' %>
<%= render 'pages/partials/nomcre_for/consultants/quote_1' %>
<%= render 'pages/partials/nomcre_for/consultants/why_video_left_light' %>
<%= render 'pages/partials/nomcre_for/consultants/quote_2' %>
<%= render 'pages/partials/nomcre_for/consultants/screens_cta' %>
</div>

