<% content_for :head do %>
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="NOMCRE For Marketing Teams In 2020" />
  <meta property="og:description" content="Initiate conversation, elicit emotion, showcase your product or service benefits and drive sales goals with premium, on-demand custom content." />
  <meta property="og:image" content="https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/images/horizontal/nomcre-horizontal-19.jpg" />
  <meta property="title" content="NOMCRE For Marketing Teams In 2020" />
  <meta property="keywords" content="marketing, sales, On Demand, On-Demand, Visual, Custom, Creative, Content, Photography, Videography, Videos, product photos, pictures" />
<% end %>
<div class="nk-main">
<div style="padding-top:90px;"></div>

<%= render 'pages/partials/nomcre_for/marketing/types_of_video_right_dark' %>
<%= render 'pages/partials/nomcre_for/marketing/quote_1' %>
<%= render 'pages/partials/nomcre_for/marketing/why_video_left_light' %>
<%= render 'pages/partials/nomcre_for/marketing/quote_2' %>
<%= render 'pages/partials/nomcre_for/marketing/screens_cta' %>
</div>

