<% content_for :head do %>
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="NOMCRE For Non-Profits In 2020" />
  <meta property="og:description" content="Simplify your donor’s journey, attract new donors and retain current donors with premium, on-demand, personalized videos that make an impact." />
  <meta property="og:image" content="https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/images/horizontal/nomcre-horizontal-19.jpg" />
  <meta property="title" content="NOMCRE For Non-Profits  In 2020" />
  <meta property="keywords" content="marketing, sales, On Demand, On-Demand, Visual, Custom, Creative, Content, Photography, Videography, Videos, product photos, pictures" />
<% end %>
<div class="nk-main">
<div style="padding-top:90px;"></div>

<%= render 'pages/partials/nomcre_for/non_profits/types_of_video_right_dark' %>
<%= render 'pages/partials/nomcre_for/non_profits/quote_1' %>
<%= render 'pages/partials/nomcre_for/non_profits/why_video_left_light' %>
<%= render 'pages/partials/nomcre_for/non_profits/quote_2' %>
<%= render 'pages/partials/nomcre_for/non_profits/screens_cta' %>
</div>
</div>
