<div class="nk-main">
<div style="padding-top:90px;"></div>

<%= render 'pages/partials/nomcre_for/non_profits/types_of_video_right_dark' %>
<%= render 'pages/partials/nomcre_for/non_profits/quote_1' %>
<%= render 'pages/partials/nomcre_for/non_profits/why_video_left_light' %>
<%= render 'pages/partials/nomcre_for/non_profits/quote_2' %>
<%= render 'pages/partials/nomcre_for/templates/screens_cta' %>
</div>
</div>
