<div class="nk-main">
<div class='nk-gap-5'></div>
<h1> Sales </h1>

<h2> Types of Videos </h2>
<ul>
  <li>Personalized Sales Videos For Leads and Prospects</li>
  <li>Explanation Videos for Upselling Customers</li>
  <li>Videos To Push Prospects Through The Sales Pipeline</li>
  <li>Event Announcements</li>
  <li>Meeting Follow Up Videos</li>
  <li>Micro Demos</li>
</ul>

<h2> Reasons For Making Videos </h2>
<ul>
  <li>Improve retention rates</li>
  <li>Resolve Customer issues Faster</li>
  <li>Increase customer satisfaction</li>
  <li>Re-engage prospects who went dark</li>
</ul>






<%= render 'pages/partials/nomcre_for/sales/types_of_video_right_dark' %>
<%= render 'pages/partials/nomcre_for/templates/light_quote_block_wide' %>
<%= render 'pages/partials/nomcre_for/sales/why_video_left_light' %>
<%= render 'pages/partials/nomcre_for/templates/dark_quote_block_wide' %>
<%= render 'pages/partials/nomcre_for/templates/screens_cta' %>




</div>
</div>
