<% content_for :head do %>
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="NOMCRE For Sales Teams In 2020" />
  <meta property="og:description" content="Start more conversations with prospects, share new information to your audience easier and drive sales goals with premium, on-demand, custom content." />
  <meta property="og:image" content="https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/images/horizontal/nomcre-horizontal-19.jpg" />
  <meta property="title" content="NOMCRE For Marketing Teams In 2020" />
  <meta property="keywords" content="marketing, sales, On Demand, On-Demand, Visual, Custom, Creative, Content, Photography, Videography, Videos, product photos, pictures" />
<% end %>

<div class="nk-main">
<div style="padding-top:90px;"></div>

<%= render 'pages/partials/nomcre_for/sales/types_of_video_right_dark' %>
<%= render 'pages/partials/nomcre_for/sales/quote_1' %>
<%= render 'pages/partials/nomcre_for/sales/why_video_left_light' %>
<%= render 'pages/partials/nomcre_for/sales/quote_2' %>
<%= render 'pages/partials/nomcre_for/templates/screens_cta' %>
</div>
</div>
