<div class="nk-main">
<div style="padding-top:90px;"></div>

<%= render 'pages/partials/nomcre_for/sales/types_of_video_right_dark' %>
<%= render 'pages/partials/nomcre_for/templates/light_quote_block_wide' %>
<%= render 'pages/partials/nomcre_for/sales/why_video_left_light' %>
<%= render 'pages/partials/nomcre_for/templates/dark_quote_block_wide' %>
<%= render 'pages/partials/nomcre_for/templates/screens_cta' %>
</div>
</div>
