<div class="nk-main">
<div style="padding-top:90px;"></div>

<%= render 'pages/partials/nomcre_for/startups/types_of_video_right_dark' %>
<%= render 'pages/partials/nomcre_for/startups/quote_1' %>
<%= render 'pages/partials/nomcre_for/startups/why_video_left_light' %>
<%= render 'pages/partials/nomcre_for/startups/quote_2' %>
<%= render 'pages/partials/nomcre_for/templates/screens_cta' %>
</div>
</div>
