<p id="notice"><%= notice %></p>

<p>
  <strong>Display name:</strong>
  <%= @user_profile.display_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user_profile.description %>
</p>

<p>
  <strong>Shot preference:</strong>
  <%= @user_profile.shot_preference %>
</p>

<p>
  <strong>Content type:</strong>
  <%= @user_profile.content_type %>
</p>

<p>
  <strong>Profile photo:</strong>
  <%= @user_profile.profile_photo %>
</p>

<p>
  <strong>Header image:</strong>
  <%= @user_profile.header_image %>
</p>

<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profiles_path %>
