<% if (@proposal.image_board_1.nil? || @proposal.image_board_1 == "") && (@proposal.image_board_2.nil? || @proposal.image_board_2 == "") && (@proposal.image_board_3.nil? || @proposal.image_board_3 == "") && (@proposal.image_board_4.nil? || @proposal.image_board_4 == "") %>

<% else %>
<div class="info-box">
  <span class="info-box-icon bg-gray-light"><i class="fa fa-globe"></i></span>
  <div class="info-box-content">
    <div class='edit-padding pull-right'>
      <%if current_user.company == @proposal.company  %>
      <%= link_to edit_proposal_path(@proposal), class: '' do %>
      <i class='fa fa-edit'></i> Edit
      <% end %>
      <% end %>
    </div>
    <span class="info-box-text">
     <% unless @proposal.image_board_1.nil? || @proposal.image_board_1 == ""%>
      <%= link_to  @proposal.image_board_1, target:"_blank", class: 'btn btn-aqua ' do %>
          <i class='fa fa-globe'></i> Image Board 1
        <% end %>
      <% end %>
      <br>
      <% unless @proposal.image_board_2.nil? || @proposal.image_board_2 == ""%>
        <%= link_to  @proposal.image_board_2, target:"_blank", class: 'btn btn-aqua ' do %>
          <i class='fa fa-globe'></i> Image Board 2
        <% end %>
      <% end %>
      <br>
      <% unless @proposal.image_board_3.nil? || @proposal.image_board_3 == ""%>
        <%= link_to  @proposal.image_board_3, target:"_blank", class: 'btn btn-aqua ' do %>
          <i class='fa fa-globe'></i> Image Board 3
        <% end %>
      <% end %>
      <br>
      <% unless @proposal.image_board_4.nil? || @proposal.image_board_4 == ""%>
        <%= link_to  @proposal.image_board_4, target:"_blank", class: 'btn btn-aqua  ' do %>
          <i class='fa fa-globe'></i> Image Board 4
        <% end %>
      <% end %>
    </span>
  </div>
</div>
<%end %>

