<%= form_with(model: shoot, local: true) do |form| %>

<div class='row'>
  <div class='col-xs-12 col-sm-6 col-md-3 col-lg-3' style='margin:20px'>
    <div class="form-check form-check-radio radio-icons">
      <label class="form-check-label ">
        <%= form.radio_button :background, 'Beach', class: 'form-check-input center', :checked => true%>
        <span class="form-check-sign"></span>
       <i class='fas fa-umbrella-beach text-primary' style="font-size: 36px; margin-top: -24px;"> </i><br>
        Beach
      </label>
    </div>
  </div>
  <div class='col-xs-12 col-sm-6 col-md-3 col-lg-3' style='margin:20px'>
    <div class="form-check form-check-radio radio-icons">
      <label class="form-check-label ">
        <%= form.radio_button :background, 'Mountains', class: 'form-check-input center'%>
        <span class="form-check-sign"></span>
        <i class='fas fa-mountain text-primary' style="font-size: 36px; margin-top: -24px;"> </i><br>
        Mountains
      </label>
    </div>
  </div>
  <div class='col-xs-12 col-sm-6 col-md-3 col-lg-3' style='margin:20px'>
    <div class="form-check form-check-radio radio-icons">
      <label class="form-check-label ">
        <%= form.radio_button :background, 'City Scape', class: 'form-check-input center'%>
        <span class="form-check-sign"></span>
        <i class='fas fa-city text-primary' style="font-size: 36px; margin-top: -24px;"> </i><br>
        City Scape
      </label>
    </div>
  </div>
  <div class='col-xs-12 col-sm-6 col-md-3 col-lg-3' style='margin:20px'>
    <div class="form-check form-check-radio radio-icons">
      <label class="form-check-label ">
        <%= form.radio_button :background, 'Nature or Park', class: 'form-check-input center'%>
        <span class="form-check-sign"></span>
        <i class='fas fa-leaf text-primary' style="font-size: 36px; margin-top: -24px;"> </i><br>
        Nature or Park
      </label>
    </div>
  </div>
  <div class='col-xs-12 col-sm-6 col-md-3 col-lg-3' style='margin:20px'>
    <div class="form-check form-check-radio radio-icons">
      <label class="form-check-label ">
        <%= form.radio_button :background, 'Historic Building', class: 'form-check-input center'%>
        <span class="form-check-sign"></span>
        <i class='fas fa-landmark text-primary' style="font-size: 36px; margin-top: -24px;"> </i><br>
        Historic Building
      </label>
    </div>
  </div>
  <div class='col-xs-12 col-sm-6 col-md-3 col-lg-3' style='margin:20px'>
    <div class="form-check form-check-radio radio-icons">
      <label class="form-check-label ">
        <%= form.radio_button :background, 'Building Interior', class: 'form-check-input center'%>
        <span class="form-check-sign"></span>
        <i class='fas fa-chess-rook text-primary' style="font-size: 36px; margin-top: -24px;"> </i><br>
        Building Interior
      </label>
    </div>
  </div>
  <div class='col-xs-12 col-sm-6 col-md-3 col-lg-3' style='margin:20px'>
    <div class="form-check form-check-radio radio-icons">
      <label class="form-check-label ">
        <%= form.radio_button :background, 'Action or Activity', class: 'form-check-input center'%>
        <span class="form-check-sign"></span>
        <i class='fas fa-bicycle text-primary' style="font-size: 36px; margin-top: -24px;"> </i><br>
        Action
      </label>
    </div>
  </div>
</div>
  <br>
<%= form.submit "Save", class: 'btn btn-primary pull-right' %>
<% end %>





