<div class="tab-pane" id="timeline">
  <!-- The timeline -->
  <ul class="timeline timeline-inverse">
    <%= render 'user_profiles/partials/timeline/timeline_email' %>
    <%= render 'user_profiles/partials/timeline/timeline_user_action' %>
    <%= render 'user_profiles/partials/timeline/timeline_chat' %>

    <!-- timeline time label -->
    <%= render 'user_profiles/partials/timeline/time_label' %>
    <!-- /.timeline-label -->
    <%= render 'user_profiles/partials/timeline/timeline_images' %>
    <%= render 'user_profiles/partials/timeline/timeline_marker' %>
  </ul>
</div>
