
<div class="row">
  <div class="card card-user">
    <div class="card-body">
      <p class="card-text">
        <div class="author">
          <div class="block block-one"></div>
          <div class="block block-two"></div>
          <div class="block block-three"></div>
          <div class="block block-four"></div>
          <a href="javascript:void(0)">
            <%= image_tag @company.logo, class: 'avatar' %>
            <h5 class="title"><%= @company.name %></h5>
          </a>
          <p class="description">
          <%= @company.users.first.name%>
          </p>
        </div>
      </p>
      <div class="card-description">
       <div class='row'>
         <div class='col-sm-6 text-right'>
           <b>Open Requests</b> <a class=""><%= @company.proposals.where(completed: false).count%></a>
         </div>
         <div class='col-sm-6 text-left'>
           <b>Completed Jobs</b> <a class=""><%= @company.proposals.where(completed: true).count%></a>
         </div>
       </div>
     </div>
   </div>
   <div class="card-footer text-center">
    <ul class="nav nav-pills nav-pills-primary nav-pills-icons justify-content-center">
      <li class="nav-item">
        <% phone_link = @company.phone.nil? ? "#" : @company.phone %>
        <% phone_state = @company.instagram.nil? ? 'disabled' : '' %>
        <a class="nav-link active <%= phone_state %>" href="tel:<%= phone_link %>">
          <i class="tim-icons"><ion-icon name='call'></ion-icon></i> Call
        </a>
      </li>
      <li class="nav-item">
        <% company_link = @company.website.nil? ? "#" : "http://" + @company.website.gsub('http://', '').gsub('https://', '') %>
        <% company_state = @company.website.nil? ? 'disabled' : '' %>
        <a class="nav-link active <%= company_state %>" target="_blank" href="<%= company_link %>">
          <i class="tim-icons"><ion-icon name='globe'></ion-icon></i> Website
        </a>
      </li>
      <li class="nav-item">
        <% insta_link = @company.instagram.nil? ? '#' : "https://instagram.com/<%= @company.instagram.gsub('@', "")" %>
        <% insta_state = @company.instagram.nil? ? 'disabled' : '' %>
        <a class="nav-link active <%= insta_state %>" target="_blank" href="<% insta_link%>">
          <i class="tim-icons"><ion-icon name='logo-instagram'></ion-icon></i> Instagram
        </a>
      </li>
    </ul>
    <% if current_user.company == @company %>
      <br><br>
      <%= link_to "Edit", edit_company_path(@company), class: 'btn btn-warning ' %>
    <% end %>
  </div>
</div>
</div>

