<%= form_for(company) do |f| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group has-feedback">
    <%= f.text_field :name, class: 'form-control', placeholder: 'Company Name' %>
    <span class='fa fa-user form-control-feedback'></span>
  </div>

  <div class="form-group has-feedback">
    <%= f.file_field :logo, class: 'form-control' %>
    <span class='fa fa-picture-o form-control-feedback'></span>
  </div>

  <div class="form-group has-feedback">
    <%= f.text_field :phone, class: 'form-control', placeholder: 'Company Phone Number' %>
    <span class='fa fa-phone form-control-feedback'></span>
  </div>

  <div class="form-group has-feedback">
    <%= f.text_field :website, class: 'form-control', placeholder: 'Website - www.example.com' %>
    <span class='fa fa-globe form-control-feedback'></span>
  </div>
  <div class="form-group has-feedback">
    <%= f.text_field :instagram, class: 'form-control', placeholder: '@YourInstagramAccount' %>
    <span class='fa fa-instagram form-control-feedback'></span>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
