<% if params[:proposal_id] %>
  <% proposal = Proposal.find(params[:proposal_id]) %>
<% end %>
<%= form_with(model: shot_list_item, local: true) do |form| %>
  <% if shot_list_item.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(shot_list_item.errors.count, "error") %> prohibited this shot_list_item from being saved:</h2>

    <ul>
      <% shot_list_item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>


  <div class="field">
    <div class='box box-aqua'>
      <div class="box-header with-border">
        <h4 class="box-title"><%= form.label :description %></h4>
      </div>

    <%= form.text_area :description, id: :shot_list_item_description, class: 'form-control', rows: 2, placeholder: 'Tell us what you want the shot to look like...' %>
  </div>
</div>
  <br>
<% if current_user.user_type == "creative" %>
<div class="field">
 <%= form.label :upload %>
 <%= form.file_field :upload, id: :shot_list_item_upload, class: 'form-control' %>
</div>
<% else %>
<div class='row'>
  <div class='col-md-6'>
    <div class='box box-success'>
      <div class="box-header with-border">
        <h4 class="box-title">Focus Point</h4>
      </div>
      <div class='row' style="margin:12px;">
        <div class='col-md-4 col-sm-4 col-xs-4'>
          <%= form.radio_button :focus_point, "Left", class:'icheck-me', :data => {:skin => 'square', :color => 'green'}%>
          <%= form.label :left %>
        </div>
        <div class='col-md-4 col-sm-4 col-xs-4 '>
          <%= form.radio_button :focus_point, "Center", class:'icheck-me', :data => {:skin => 'square', :color => 'green'}%>
          <%= form.label :Center %>
        </div>
        <div class='col-md-4 col-sm-4 col-xs-4 '>
          <%= form.radio_button :focus_point, "right" , class:'icheck-me', :data => {:skin => 'square', :color => 'green'}%>
          <%= form.label :right  %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">

    <div class='box box-yellow'>
      <div class="box-header with-border">
        <h4 class="box-title">Aspect Ratio</h4>
      </div>
      <div class='row' style="margin:12px;">
        <div class='col-md-4 col-sm-4 col-xs-4'>
          <%= form.radio_button :aspect_ratio, "Portrait", class:'icheck-me', :data => {:skin => 'square', :color => 'green'}%>
          <%= form.label :portrait %>
        </div>
        <div class='col-md-4 col-sm-4 col-xs-4 '>
          <%= form.radio_button :aspect_ratio, "Landscape", class:'icheck-me', :data => {:skin => 'square', :color => 'green'}%>
          <%= form.label :landscape %>
        </div>
        <div class='col-md-4 col-sm-4 col-xs-4 '>
          <%= form.radio_button :aspect_ratio, "Square" , class:'icheck-me', :data => {:skin => 'square', :color => 'green'}%>
          <%= form.label :square  %>
        </div>
      </div>
    </div>


    <%= form.hidden_field :item_type, :value => proposal.shoot_type %>

    <% end %>
  </div>
</div>
<div class='row'>
  <div class='col-md-6 col-sm-12 col-xs-12'>
    <%= form.label :reference_image %>
    <%= form.file_field :reference_image, id: :shot_list_item_reference_image, class: 'form-control' %>
  </div>

  <% if proposal.shoot_type == 'Mixed'%>
      <div class='box box-purple'>
        <div class="box-header with-border">
          <h4 class="box-title">Shot Type</h4>
        </div>
        <div class='row' style="margin:12px;">
          <div class='col-md-4 col-sm-4 col-xs-4'>
            <%= form.radio_button :item_type, "Lifestyle", class:'icheck-me', :data => {:skin => 'square', :color => 'green'}%>
            <%= form.label :lifestyle %>
          </div>
          <div class='col-md-4 col-sm-4 col-xs-4 '>
            <%= form.radio_button :item_type, "Product", class:'icheck-me', :data => {:skin => 'square', :color => 'green'}%>
            <%= form.label :product %>
          </div>
        </div>
      </div>
    <% else %>
</div>
<% end %>

<% if params[:proposal_id] %>
  <%= form.hidden_field :proposal_id, :value => proposal.id %>
  <%= form.hidden_field :background, :value => proposal.background %>

<% end %>
<br>
<div class="actions">
  <%= form.submit "Update List", class: 'btn btn-success pull-right' %>
</div>
<% end %>










