<p id="notice"><%= notice %></p>

<div class="box box-solid text-center">
  <div class="box-body">
      <h4 style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
          <%= @shot_list_item.proposal.title %>
      </h4>
      <div class="media">
          <div class="media-center">
              <a href="https://themequarry.com/theme/ample-admin-the-ultimate-dashboard-template-ASFEDA95" class="ad-click-event">
                <%= image_tag @shot_list_item.upload, class: "", style: "width: 150px;height: auto; border-radius: 4px; box-shadow: 0 1px 3px rgba(0,0,0,.15);" %>

              </a>
          </div>
          <div class="media-body">
              <div class="clearfix">
                  <p class="pull-right">
                    <!--   <a href="https://themequarry.com/theme/ample-admin-the-ultimate-dashboard-template-ASFEDA95" class="btn btn-success btn-sm ad-click-event">
                          Mark Complete
                      </a> -->
                  </p>

                  <h4 style="margin-top: 0">  <%= @shot_list_item.proposal.deadline %></h4>
                  <p>Background: <%= @shot_list_item.description %></p>
                  <p>Background: <%= @shot_list_item.background %></p>
                  <p style="margin-bottom: 0">
                      <i class="fa fa-camera margin-r5"> </i>Shoot Type : <%= @shot_list_item.item_type %>
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>
<% link_to 'Edit', edit_shot_list_item_path(@shot_list_item) %>
<%= link_to '<i class="fa fa-arrow-left"></i> Back'.html_safe, proposal_shot_list_items_path(@shot_list_item.proposal) %>
