<% if @schedule_items.count == 0 %>
  <div class="alert alert-warning alert-dismissible">
    <h4><i class="icon fa fa-warning"></i> Wo0ps!</h4>
    You Havent Added Any Travel Plans Yet!
    </div>
<% else %>
<ul class="timeline">
  <% @schedule_items.each do |schedule_item| %>
    <!-- timeline time label -->
    <li class="time-label">
        <span class="bg-green">
            <%= schedule_item.start_date.strftime("%a %b %d, %Y") %>
        </span>
    </li>
    <!-- /.timeline-label -->

    <!-- timeline item -->
    <li>
        <!-- timeline icon -->
        <i class="fa fa-plane bg-blue"></i>
        <div class="timeline-item">
          <div class="post">
            <div class="user-block">
              <img class="img-circle img-bordered-sm" src="<%= schedule_item.user.user_profile.safe_profile_image_url %>" alt="user image">
                  <span class="username">
                    <a href="#"><%= schedule_item.location.name unless schedule_item.location.nil? %></a>
                    <a class='pull-right'><%= schedule_item.start_date.strftime("%a %b %d, %Y") %> to <%= schedule_item.end_date.strftime("%a %b %d, %Y") %></a>
                  </span>
              <span class="description">
                <h3><%= schedule_item.user.name %> </h3>
                <h5></h5>
                 <%= schedule_item.notes %>
                </span>
            </div>
            <!-- /.user-block -->
            <p>

            </p>
          </div>
        </div>
    </li>
    <!-- END timeline item -->
  <% end %>
</ul>
<% end %>




