<style type="text/css">


    .chat{
      margin-top: auto;
      margin-bottom: auto;
    }
    .card{
      height: 100%;
      border-radius: 15px !important;

    }
    .contacts_body{
      padding:  0.75rem 0 !important;
      overflow-y: auto;
      white-space: nowrap;
    }
    .msg_card_body{
      overflow-y: auto;
      color: white;
    }
    .card-header{
      border-radius: 15px 15px 0 0 !important;
      border-bottom: 0 !important;
    }
   .card-footer{
    border-radius: 0 0 15px 15px !important;
      border-top: 0 !important;
  }
    .container{
      align-content: center;
    }
    .search{
      border-radius: 15px 0 0 15px !important;
      background-color: rgba(0,0,0,0.3) !important;
      border:0 !important;
      color:white !important;
    }
    .search:focus{
         box-shadow:none !important;
           outline:0px !important;
    }
    .type_msg{
      background-color: rgba(0,0,0,0.3) !important;
      border:0 !important;
      color:white !important;
      height: 60px !important;
      overflow-y: auto;
    }
      .type_msg:focus{
         box-shadow:none !important;
           outline:0px !important;
    }
    .attach_btn{
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(0,0,0,0.3) !important;
      border:0 !important;
      color: white !important;
      cursor: pointer;
    }
    .send_btn{
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0,0,0,0.3) !important;
      border:0 !important;
      color: white !important;
      cursor: pointer;
    }
    .search_btn{
      border-radius: 0 15px 15px 0 !important;
      background-color: rgba(0,0,0,0.3) !important;
      border:0 !important;
      color: white !important;
      cursor: pointer;
    }
    .contacts{
      list-style: none;
      padding: 0;
    }
    .contacts li{
      width: 100% !important;
      padding: 5px 10px;
      margin-bottom: 15px !important;
    }
  .active{
      background-color: rgba(0,0,0,0.3);
  }
    .user_img{
      height: 70px;
      width: 70px;
      border:1.5px solid #f5f6fa;

    }
    .user_img_msg{
      height: 40px;
      width: 40px;
      border:1.5px solid #f5f6fa;

    }
  .img_cont{
      position: relative;
      height: 70px;
      width: 70px;
  }
  .img_cont_msg{
      height: 40px;
      width: 40px;
  }
  .online_icon{
    position: absolute;
    height: 15px;
    width:15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border:1.5px solid white;
  }
  .offline{
    background-color: #c23616 !important;
  }
  .user_info{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
  }
  .user_info span{
    font-size: 20px;
    color: white;
  }
  .user_info p{
  font-size: 10px;
  color: rgba(255,255,255,0.6);
  }
  .video_cam{
    margin-left: 50px;
    margin-top: 5px;
  }
  .video_cam span{
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
  }
  .msg_cotainer{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #e14eca;
    padding: 10px;
    position: relative;
    font-size: 16px;
  }
  .msg_cotainer_send{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #419ef9;
    padding: 10px;
    position: relative;
    font-size: 16px;
  }
  .msg_time{
    position: absolute;
    left: 0;
    bottom: -15px;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
  }
  .msg_time_send{
    position: absolute;
    right:0;
    bottom: -15px;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
  }
  .msg_head{
    position: relative;
  }
  #action_menu_btn{
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
  }
  .action_menu{
    z-index: 1;
    position: absolute;
    padding: 15px 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-radius: 15px;
    top: 30px;
    right: 15px;
    display: none;
  }
  .action_menu ul{
    list-style: none;
    padding: 0;
  margin: 0;
  }
  .action_menu ul li{
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 5px;
  }
  .action_menu ul li i{
    padding-right: 10px;

  }
  .action_menu ul li:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
  }
  @media(max-width: 576px){
  .contacts_card{
    margin-bottom: 15px !important;
  }

  .justify-content-center{
    padding-top: 48px;
  }
</style>
<div class='row' >
  <div class='col-md-3' style="max-height: 600px; ">
    <div class='card'>
      <div class="card-category"></div>
      <div class="card-header">
        <div class="card-title"> <h4> Messages </h4> </div>
      </div>
      <div class='card-body' style='overflow-y: scroll'>
        <div class="table-full-width table-responsive">
          <table class="table">
            <tbody>
              <% @chatrooms.each do |chat| %>
                <tr>
                  <td>
                    <div class="form-check" style='min-width: 40px'>
                      <% if current_user.user_type == 'creative' %>
                        <%= image_tag chat.proposal.company.logo, class: 'avatar' %>
                      <% else %>
                        <%= image_tag chat.proposal.user.user_profile.safe_profile_image_url, class: 'avatar' %>
                      <% end %>
                    </div>
                  </td>
                  <td>
                    <%= link_to chatroom_path(chat) do %>
                    <%= chat.proposal.title %><br>
                    <p class="default"><%= chat.messages.last.content %></p>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div class='col-md-9'>
    <div class="card" style="min-height: 600px; max-height: 800px; overflow-y: scroll">
            <div class="card-header msg_head">
              <div class="d-flex bd-highlight">
                <div class="img_cont">
                  <!-- <img src="https://devilsworkshop.org/files/2013/01/enlarged-facebook-profile-picture.jpg" class="rounded-circle user_img"> -->
                  <% if current_user.user_type=='creative'%>
                    <%if  @chatroom.users.where.not(id:  current_user.id).first != nil %>
                    <%= image_tag @chatroom.users.where.not(id:  current_user.id).first.user_profile.safe_profile_image_url, class: 'rounded-circle avatar' %>
                    <% else %>
                      <ion-icon name='chatbubbles' size='large' style='margin:auto'></ion-icon>
                    <% end %>
                  <% else %>
                    <%if  @chatroom.users.where.not(id:  current_user.id).first != nil %>
                      <%= image_tag @chatroom.users.where.not(id: current_user.id).first.user_profile.safe_profile_image_url, class: 'rounded-circle avatar' %>
                    <% else %>
                    <ion-icon name='chatbubbles' size='large' style='margin:auto'></ion-icon>
                    <% end %>
                  <% end %>
                </div>
                <div >
                  <h4 class="title">Chat With <%= @chatroom.proposal.company.name %></h4>
                  <p clas='text-muted'> <%= @chatroom.proposal.title %></p>
                </div>

                <!-- <div class="video_cam">
                  <span><i class="fas fa-video"></i></span>
                  <span><i class="fas fa-phone"></i></span>
                </div> -->
              </div>
              <hr>
              <!-- <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span> -->
              <!-- <div class="action_menu">
                <ul>
                  <li><i class="fas fa-user-circle"></i> View profile</li>
                  <li><i class="fas fa-users"></i> Add to close friends</li>
                  <li><i class="fas fa-plus"></i> Add to group</li>
                  <li><i class="fas fa-ban"></i> Block</li>
                </ul>
              </div> -->
            </div>

            <div class="card-body msg_card_body">
              <% @chatroom.messages.each do |m| %>
              <% if m.user == current_user %>
                <div class="d-flex justify-content-start mb-4">

                  <div class="img_cont_msg">
                    <%= image_tag m.user.user_profile.safe_profile_image_url, class: 'rounded-circle user_img_msg', style: 'min-width: 40px'%>
                  </div>
                  <div class="msg_cotainer">
                    <%= m.content %>
                    <% if m.file %>
                      <%= image_tag m.file, class: 'img-fluid'%>
                    <% end %>
                     <br>
                    <small class=""><%= m.created_at.strftime("%I:%m %p")%></small><br>
                  </div>
                </div>
              <% else %>
                <div class="d-flex justify-content-end mb-4">
                  <div class="msg_cotainer_send">
                    <%= m.content %>
                    <% if m.file %>
                      <%= image_tag m.file, class: 'img-fluid' %>
                    <% end %>
                    <br>
                    <small class="pull-right" style='padding-right: 10px'><%= m.created_at.strftime("%I:%m %p")%></small><br>
                  </div>
                  <div class="img_cont_msg">
                  <%= image_tag m.chatroom.proposal.company.logo.url, class: 'rounded-circle user_img_msg',  style: 'min-width: 40px' %>
                  </div>
                </div>
              <% end %>
            <% end %>
            </div>
            <br>
            <hr>
            <div class="card-footer">
              <!-- <div class="input-group">
                <div class="input-group-append">
                  <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                </div>
                <textarea name="" class="form-control type_msg" placeholder="Type your message..."></textarea>
                <div class="input-group-append">
                  <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
                </div>
              </div> -->
              <%= render :partial => 'messages/message_form', :locals => {:message => @message, :chatroom => @chatroom }%>
            </div>
          </div>
  </div>
</div>













