
<%= link_to "<i class='fa fa-calendar'></i> Add Travel Plan".html_safe, new_schedule_item_path, class: 'btn btn-primary float-right' %>
<% if schedule_items.count == 0 %>
  <div class="alert alert-warning alert-dismissible text-center">
    <span><i class="fas fa-exclamation-circle"></i>
    You Havent Added Any Travel Plans Yet!</span>
  </div>
  <br>
  <br>
  <%= link_to "Lets Get Started <i class='fas fa-arrow-right'></i>".html_safe, new_schedule_item_path, class: 'btn btn-lg btn-success btn-block' %>
<% else %>
<div class="card card-timeline card-plain">
  <div class="card-body">
    <ul class="timeline">
      <% schedule_items.each do |si| %>
      <% color = cycle("info", "success", "primary", name:"color") -%>
      <li class="<%= cycle("", "timeline-inverted") -%>" >
        <div class="timeline-badge <%=color%>">
          <i class="tim-icons"><ion-icon name="<%= cycle("paper-plane", "jet", name:"plane") -%>"></ion-icon></i>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <span class="badge badge-pill badge-<%=color%>" >
              <ion-icon name='calendar'></ion-icon> <%= si.start_date.strftime("%A %b %d, %Y") %>
            </span>
          </div>
          <div class="timeline-body text-center">
            <ion-icon name='pin' size='large' class= 'text-primary'></ion-icon>
            <%= link_to schedule_item_path(si) do %>
            <h3 class="card-title" style="<%= cycle("color:white", "", name: "text-location") -%>"> <%= si.location.name %> </h3>
            <% if si.location.parent_id != nil %>
              <h5 class="card-title" style="<%= cycle("color:white", "", name: "text-parent") -%>"> <%= si.location.parent.name unless si.location.parent == nil %> </h5>
            <% end %>
            <% end %>

          </div>
          <h5 class='text-center'style="<%= cycle("color:white", "", name: "text-footer") -%>">
            <i class="ti-time"></i>
            <%= si.start_date.strftime("%A %b %d, %Y") %> - <%= si.end_date.strftime("%A %b %d, %Y") %>
          </h5>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>
