<li class="timeline-inverted">
  <div class="timeline-badge primary">
    <ion-icon name='airplane' > </ion-icon>
  </div>
  <div class="timeline-panel">
    <div class="timeline-heading">
      <span class="badge badge-primary"><%= schedule_item.location.name unless schedule_item.location.nil? %></span>
    </div>
    <div class="timeline-body">
      <p> <%= schedule_item.notes %></p>
      <br>
      <% if current_user == schedule_item.user %>
          <%= link_to 'Edit', edit_schedule_item_path(schedule_item), class: 'btn btn-primary' %>
          <%= link_to 'Destroy', schedule_item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger pull-right' %>
        <% end %>
    </div>
    <h5>
      <i class="fa fa-time"></i> <%= schedule_item.start_date.strftime("%a %b %d, %Y") unless schedule_item.start_date.nil?%> <span>Until</span>  <%= schedule_item.end_date.strftime("%a %b %d, %Y") unless schedule_item.end_date.nil?%>
    </h5>
  </div>
</li>
