<div class='card'>
  <div class='card-header'>
    <div class='card-category'></div>
    <div class='card-title'><h1>Payments</h1></div>
  </div>
  <div class='card-body'>
    <table class='table'>
      <thead>
        <tr>
          <th>User</th>
          <% if current_user.user_type == UserType.company %>
            <th>Company</th>
          <% end %>
          <th>Project</th>
          <th>Payment type</th>
          <th>Category</th>
          <th>Payment method</th>
          <th>External</th>
          <th>Paid on</th>
        </tr>
      </thead>

      <tbody>
        <% @payments.each do |payment| %>
          <tr>
            <td><%= payment.user.name %></td>
            <% if current_user.user_type == UserType.company %>
              <td><%= payment.user.company.name %></td>
            <% end %>
            <td><%= payment.project.title %></td>
            <td><%= payment.payment_type %></td>
            <td><%= payment.category %></td>
            <td><%= payment.payment_method %></td>
            <td><%= payment.external_id %></td>
            <td><%= payment.paid_on %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class='card-footer'></div>
</div>

