<%= form_with(model: proposal, local: true) do |form| %>
  <% if proposal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(proposal.errors.count, "error") %> prohibited this proposal from being saved:</h2>

      <ul>
      <% proposal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :proposal_title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :proposal_content %>
  </div>

  <div class="field">
    <%= form.label :deadline %>
    <%= form.date_select :deadline, id: :proposal_deadline %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, id: :proposal_price %>
  </div>

  <div class="field">
    <%= form.label :accepted %>
    <%= form.check_box :accepted, id: :proposal_accepted %>
  </div>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.text_field :company_id, id: :proposal_company_id %>
  </div>

  <div class="field">
    <%= form.label :proposal_type %>
    <%= form.text_field :proposal_type, id: :proposal_proposal_type %>
  </div>

  <div class="field">
    <%= form.label :completed %>
    <%= form.check_box :completed, id: :proposal_completed %>
  </div>

  <div class="field">
    <%= form.label :completed_on %>
    <%= form.date_select :completed_on, id: :proposal_completed_on %>
  </div>

  <div class="field">
    <%= form.label :paid %>
    <%= form.check_box :paid, id: :proposal_paid %>
  </div>

  <div class="field">
    <%= form.label :charge_id %>
    <%= form.text_field :charge_id, id: :proposal_charge_id %>
  </div>

  <div class="field">
    <%= form.label :bts %>
    <%= form.text_area :bts, id: :proposal_bts %>
  </div>

  <div class="field">
    <%= form.label :focus_points %>
    <%= form.text_area :focus_points, id: :proposal_focus_points %>
  </div>

  <div class="field">
    <%= form.label :time_of_day %>
    <%= form.text_field :time_of_day, id: :proposal_time_of_day %>
  </div>

  <div class="field">
    <%= form.label :background %>
    <%= form.text_field :background, id: :proposal_background %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :proposal_user_id %>
  </div>

  <div class="field">
    <%= form.label :deposit_id %>
    <%= form.text_field :deposit_id, id: :proposal_deposit_id %>
  </div>

  <div class="field">
    <%= form.label :deposit_paid %>
    <%= form.check_box :deposit_paid, id: :proposal_deposit_paid %>
  </div>

  <div class="field">
    <%= form.label :deposit_paid_on %>
    <%= form.date_select :deposit_paid_on, id: :proposal_deposit_paid_on %>
  </div>

  <div class="field">
    <%= form.label :model_release %>
    <%= form.text_area :model_release, id: :proposal_model_release %>
  </div>

  <div class="field">
    <%= form.label :location_id %>
    <%= form.text_field :location_id, id: :proposal_location_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
