<%= form_for(@proposal) do |f| %>
  <% if @proposal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proposal.errors.count, "error") %> prohibited this proposal from being saved:</h2>

      <ul>
      <% @proposal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.submit "Save", class: 'btn btn-success pull-right', style:'margin-bottom:12px;' %>
    <br><br>
    <%= render :partial => 'proposals/partials/form/bts', :locals => {:f => f} %>
    <%= render :partial => 'proposals/partials/form/focus_points', :locals => {:f => f} %>
    <%= render :partial => 'proposals/partials/form/time_of_day', :locals => {:f => f} %>
    <%= render :partial => 'proposals/partials/form/instagram_fields', :locals => {:f => f} %>

<% end %>

