<div class="nk-main">
<%= render 'khaki/nomcre/creative/header_title'%>
<%= render 'khaki/nomcre/creative/top_call_to_action'%>
<%= render 'khaki/nomcre/creative/icon_box_1'%>
<%= render 'khaki/nomcre/creative/side_parallax' %>
<%= render 'khaki/nomcre/creative/cta_image_background'%>
<%= render 'khaki/nomcre/creative/why_chose_us_tabs' %>
<%= render 'khaki/nomcre/creative/typed_js'%>
<%= render 'khaki/nomcre/creative/places_carousel' %>
<% render 'khaki/nomcre/creative/call_to_action_bottom' %>
 <footer class="nk-footer bd-dark-1">
    <div class="container">
      <div class="nk-gap-2"></div>
      <div class="nk-footer-logo">
        <a href="#">
          <img src="https://s3-us-west-2.amazonaws.com/nomcre/logos/UpperLeftHPlogo+2.png" alt="" width="70">
        </a>
      </div>
      <div class="nk-gap-2"></div>
    </div>
  </footer>
</div>
