
<div class="nk-main">
<%= render 'khaki/nomcre/process/header_title'%>
<%= render 'khaki/nomcre/process/top_call_to_action'%>
<%= render 'khaki/nomcre/process/icon_box_process_1'%>
<%= render 'khaki/nomcre/process/typed_js_process'%>
<%= render 'khaki/nomcre/process/side_parallax_process' %>
<%= render 'khaki/nomcre/process/icon_box_tall_process' %>
<%= render 'khaki/nomcre/process/places_carousel_process' %>
<%= render 'khaki/nomcre/process/call_to_action_bottom_process' %>
</div>
