<div class="nk-main">
<%= render 'khaki/nomcre/pricing/header'%>
<%= render 'khaki/nomcre/pricing/photo'%>
<%= render 'khaki/nomcre/pricing/video'%>
<%= render 'khaki/nomcre/pricing/combo'%>
<%= render 'khaki/nomcre/pricing/enterprise'%>
</div>
