<div class="nk-main">
<%= render 'khaki/nomcre/pricing/header'%>
<%= render 'khaki/nomcre/pricing/photo'%>
<hr>
<%= render 'khaki/nomcre/pricing/video'%>
<hr>
<%= render 'khaki/nomcre/pricing/combo'%>
<% render 'khaki/nomcre/pricing/enterprise'%>
<%= render 'khaki/nomcre/pricing/cta'%>
</div>
