
<%= render 'khaki/nomcre/sales_materials/header'%>
<style>p {text-align: justify;}</style>
<div class='nk-main' >
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="nk-gap-4"></div>
      <%= render 'khaki/nomcre/sales_materials/elevator_pitch' %>
      <%= render 'khaki/nomcre/sales_materials/email_text' %>
      <%= render 'khaki/nomcre/sales_materials/positioning_statements' %>

      <div class="nk-gap-4"></div>
    </div>
    <div class="col-lg-4 nk-sidebar-sticky-parent" style="">

      <aside class="nk-sidebar nk-sidebar-right nk-sidebar-sticky" data-offset-top="20"><div class="" style="">
        <div class="nk-gap-4"></div>
        <%= render 'khaki/nomcre/sales_materials/decks' %>
       <%= render 'khaki/nomcre/sales_materials/categories' %>
       <%= render 'khaki/nomcre/sales_materials/tags' %>
        <%= render 'khaki/nomcre/sales_materials/one_pagers' %>
     </div>
     <div class="nk-gap-4"></div>

   </div></aside>
   <!-- END: Sidebar -->
 </div>
</div>
</div>
