<% content_for :head do %>
<meta property="og:url" content="<%= request.original_url %>" />
<meta property="og:type" content="website" />
<meta property="og:title" content="NomCre - Video Showcase" />
<meta property="og:description" content="Nomcre - The Best Nomadic Creative Videos" />
<meta property="og:image" content="https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/images/horizontal/nomcre-horizontal-19.jpg" />
<meta property="title" content="Nomcre - The Best Nomadic Creative Videos" />
<meta property="keywords" content="On Demand, On-Demand, Visual, Custom, Creative, Content, Photography, Videography, Videos, product photos, pictures" />
<% end %>
<div class='nk-main'>
  <div class='nk-gap-5'></div>
<% render 'khaki/nomcre/showcase/video/header_title' %>
<div class='container'>
  <div class='row'>
    <div class='col-md-1'></div>
    <div class='col-md-10'>

       <div class="nk-blog-post nk-blog-post-single">
          <!-- START: Post Text -->
          <div class="nk-post-text mt-0">
            <%= link_to "https://vimeo.com/271028634", class: "nk-video-fullscreen-toggle" do %>
            <div style="max-height:550px; overflow-y:hidden">
            <%= image_tag 'https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/nomcre_explainer_thumb.png', class: 'img-fluid' %>

                <% end %>
              </div>
              <div class="nk-gap"></div>
              <div style="font-family: 'raleway'; font-size: 32px; font-weight: 100; text-align: center">
               Click this ☝️ Video First
              </div>
          </div>
          <!-- END: Post Text -->

      </div>
    </div>
  </div>
</div>
<%= render :partial => 'khaki/nomcre/showcase/video/standard' %>
<%= paginate @showcase_videos %>
</div>
