<% if !defined? show_header  %>
  <% show_header = false %>
<% end %>
<% if !defined? show_title  %>
  <% show_title = false %>
<% end %>
<% if !defined? show_footer %>
  <% show_footer = false %>
<% end %>

<% if !defined? show_content %>
  <% show_content = false %>
<% end %>

<% if !defined? show_next_step %>
  <% show_next_step = false %>
<% end %>

<% if !defined? show_accept_buttons %>
  <% show_accept_buttons = false %>
<% end %>

<% if !defined? show_payment_buttons %>
  <% show_payment_buttons = false %>
<% end %>

<% if !defined? show_company %>
  <% show_company = false %>
<% end %>

<% if !defined? show_view_button%>
  <% show_view_button = false %>
<% end %>

<% if !defined? show_chat_button%>
  <% show_chat_button = false %>
<% end %>


<div class="card">
  <div class="card-header">
    <h3 class="card-category">
      <span class='pull-right'>
        <i class='tim-icons'><ion-icon name='calendar'></ion-icon></i> <%= shoot.deadline.strftime('%a %b %d, %Y') unless shoot.deadline == nil %>
      </span>
      <span>

        <% if shoot.content_type == 'photo' %>
        <% title = shoot.title.nil? ? "#{shoot.project.title} Photo Shoot" : shoot.title %>
          <h5>
            <i class="tim-icons text-primary"><ion-icon name='camera' size='large'></ion-icon></i>
            <%= link_to title, shoot_path(shoot) %>
          </h5>
        <% else %>
        <% title = shoot.title.nil? ? "#{shoot.project.title} Video Shoot" : shoot.title %>
          <h5>
            <i class="tim-icons text-primary"><ion-icon name='videocam' size='large'></ion-icon></i>
            <%= link_to title, shoot_path(shoot) %>
          </h5>
        <% end %>
      </span>

    </h3>
    <hr >
  </div>
  <div class="card-body">
    <div class='row'>
      <div class="card card-user">
        <div class="card-body">
          <p class="card-text">
          </p>
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)">
              <% if shoot.creative  %>
                <%= image_tag shoot.creative.user_profile.safe_profile_image_url, class: 'avatar'%>
              <% else %>
                <%= image_tag 'https://s3-us-west-2.amazonaws.com/nomcre/assets/Dummy-profile-picture.png', class: 'avatar'%>
              <% end %>
              <!-- <h5 class="title">Mike Andrew</h5> -->
            </a>
            <p class="description">
              <% if current_user.company.nil? %>
              <%= shoot.company.name %>
              <% else %>
                <%= shoot.creative == nil ? "Unassigned" :  shoot.creative.name %>
              <% end %>
            </p>
          </div>
          <p></p>
          <div class="card-description">

            <span>
              <i class='tim-icons text-primary'><ion-icon name='ios-pin'> </ion-icon></i>
              Location:
              <span class='pull-right'>
                <%= shoot.location != nil ? shoot.location.name : "Not Assigned" %>
              </span>
            </span>
            <hr>
            <span>
              <i class='tim-icons text-danger'><ion-icon name='ios-camera'> </ion-icon></i>
              Shoot Type:
              <span class='pull-right'>
                <%= shoot.content_type != nil ? shoot.content_type.capitalize! : "Not Assigned" %>
              </span>
            </span>
             <hr>
             <span>
              <i class='tim-icons'><ion-icon name="aperture"></ion-icon></i>
              Shoot Style:
              <span class='pull-right'>
                <%= shoot.shoot_style  %>
              </span>
            </span>
             <hr>
             <span>
              <i class='tim-icons text-info'><ion-icon name='ios-photos'> </ion-icon></i>
              Custom Shot Count:
              <span class='pull-right'>
                <%= shoot.owner_added_shot_list_count.nil? ? 0 : shoot.owner_added_shot_list_count %>
                of
                <%= shoot.user_added_shot_count_max %>
              </span>
            </span>
            <hr>
             <span>
              <i class='tim-icons text-info'><ion-icon name='ios-photos'> </ion-icon></i>
              Nomcre Shot Count:
              <span class='pull-right'>
                <%= shoot.nomcre_added_shot_list_count %>
                of
                <%= shoot.nomcre_added_shot_list_count %>
              </span>
            </span>
            <hr>
            <span>
              <i class='tim-icons text-warning'><ion-icon name='ios-photos'> </ion-icon></i>
              Background:
              <span class='pull-right'>
                <%= shoot.background != nil ? shoot.background : "Not Assigned" %>
              </span>
            </span>
          </div>
        </div>
        <% if show_content %>
          <div style="margin: 6px;">
            <span><%= simple_format(shoot.brief.first(150)) unless shoot.brief.nil? %>...</span>
          </div>
          <% end %>
      </div>
    </div>
  </div>
  <% if show_accept_buttons == true %>
    <div class="card-footer text-center">
      <hr>
      <% if show_accept_buttons  %>
      <%= render :partial => 'projects/partials/black_dashboard/shared/accept_buttons', :locals => {:shoot => shoot, :creative_request => shoot.creative_requests.where(creative_id: current_user.id).first} %>
      <% end %>
      <% if show_payment_buttons %>
      <%= render :partial => 'projects/partials/black_dashboard/shared/payment_buttons', :locals => {:shoot => shoot} %>
      <% end %>

    </div>
  <% end %>
  <% if show_view_button %>
    <span class='text-center' style='padding: 6px;'>
      <%= link_to shoot, class: 'btn btn-simple btn-primary' do %>
        <i class='fas fa-eye'></i>
          View
      <% end %>
      <% if shoot.company.users.where(company_id: current_user.company_id).count > 0  && shoot.is_editable%>
        <%= link_to edit_shoot_path(shoot), class: 'btn btn-simple btn-danger ' do %>
          <i class='fas fa-edit'></i>
          Edit
        <% end %>
        <%= link_to "<i class='fas fa-trash'></i>Delete".html_safe, shoot_path(shoot), :method => :delete, class: 'btn btn-simple btn-danger' %>
      <% end %>
    </span>
  <% end %>
  <% if show_chat_button && !shoot.creative.nil? %>
    <%= link_to "<i class='fas fa-comments'></i> Chat".html_safe, shoot.chatroom, class: 'btn btn-simple btn-primary' %>
  <% end %>
</div>

