<section class="content">
  <div class="row">
    <div class="col-md-3">

      <!-- Profile Image -->
      <%= render 'proposals/partials/proposal_info_top' %>
      <!-- /.box -->

      <!-- About Me Box -->
      <%= render 'proposals/partials/proposal_info_bottom' %>
      <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
      <%= render :partial => 'proposals/partials/proposal_show_top_widget', :locals => {:proposal => @proposal} %>
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#basic_info" data-toggle="tab">Basic Info</a></li>
          <li class=""><a href="#shot_list" data-toggle="tab">Shot List</a></li>
          <!-- <li><a href="#details" data-toggle="tab">Details</a></li> -->
          <% unless @proposal.tasks.count == 0 %>
          <li><a href="#tasks" data-toggle="tab">Tasks</a></li>
          <% end %>
          <li><a href="#creatives" data-toggle="tab">Suggested Creatives</a></li>
          <li><a href="#disclosures" data-toggle="tab">Disclosures</a></li>
          <li><a href="#invoice" data-toggle="tab">Invoice</a></li>
        </ul>
        <div class="tab-content">
          <div class="active tab-pane" id="basic_info">
            <%= render 'proposals/partials/proposal_basic_info'%>
            <div class='row'>
              <div class='col-md-2 col-md-offset-10'>
                <% link_to "Edit", edit_proposal_path(@proposal), class: 'btn btn-primary pull-left' unless  (@proposal.company.users.include?(current_user) == false || @proposal.paid == true) %>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="shot_list">
            <%= render :partial => 'shot_list_items/shot_list', :locals => {:shot_list_items => @proposal.shot_list_items} %>
          </div>
          <% unless @proposal.tasks.count == 0 %>
          <div class="tab-pane" id="tasks">
            <%= render 'proposals/partials/proposal_tasks_list'%>
          </div>
          <% end %>
          <div class="tab-pane" id="creatives">
            <%= render 'proposals/partials/proposal_search_results' %>
          </div>
          <div class="tab-pane" id="disclosures">
            <%= render 'proposals/partials/proposal_disclosures' %>
          </div>
           <div class="tab-pane" id="invoice">
            <h3> Deposit </h3>
            <%= render 'proposals/partials/invoices/deposit_invoice' %>
            <br><hr><br>
            <h3> Balance </h3>
            <%= render 'proposals/partials/invoices/balance_invoice' %>
          </div>
          <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
      </div>
      <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>

