<style type="text/css">
  .edit-padding{padding-right: 12px;}
</style>
<div class='continer'>
<div class='row'>
  <div class="col-md-7">
    <b>Creative Brief</b>
    <p><%= simple_format(@proposal.content)%></p>
    <br>
  </div>
  <div class="col-md-5">
    <div class="info-box">
      <%= render :partial => 'proposals/partials/adminlte/show/tab_body/shared/widgets/proposal_type', :locals => {:proposal => @proposal} %>
    </div>
    <div class="info-box">
      <%= render :partial => 'proposals/partials/adminlte/show/tab_body/shared/widgets/background', :locals => {:proposal => @proposal} %>
    </div>
    <div class="info-box">
      <%= render :partial => 'proposals/partials/adminlte/show/tab_body/shared/widgets/time_of_day', :locals => {:proposal => @proposal} %>
    </div>
    <div class="info-box">
      <%= render :partial => 'proposals/partials/adminlte/show/tab_body/shared/widgets/instagram', :locals => {:proposal => @proposal} %>
    </div>
    <%= render :partial => 'proposals/partials/adminlte/show/tab_body/shared/widgets/image_boards', :locals => {:proposal => @proposal} %>
    <div class="info-box">
      <%= render :partial => 'proposals/partials/adminlte/show/tab_body/shared/widgets/bts', :locals => {:proposal => @proposal} %>
    </div>
  </div>
</div>
</div>
