<% render :partial => 'proposals/partials/search_results/deposit_check', :locals => {proposal: proposal} %>
<% @creatives = proposal.find_creatives %>
<% proposal.find_creatives.each do |sr| %>
<div class="post">
  <div class="user-block">
    <img class="img-circle img-bordered-sm" src="<%= sr.user.user_profile.safe_profile_image_url %>" alt="user image">
        <span class="username">
          <%= link_to sr.user.name, user_collection_path(sr.user) %>
          <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
        </span>
    <span class="description">Available Until: <%= sr.schedule_item.end_date %></span>
  </div>
  <!-- /.user-block -->
  <p>
    <%= render :partial =>  'proposals/partials/search_results/request_buttons', :locals => {proposal: proposal, :user => sr.user} %>
    <br>
    <div class='row'>
      <% sr.user.collections.first.collection_items.where(item_type: "image").reverse.take(4).each do |ci| %>
        <div class='col-md-3'>
          <%= image_tag ci.file, class: 'img-responsive' %>
        </div>
      <% end %>
    </div>
  </p>
  <ul class="list-inline">
    <li>
      <%= link_to user_collection_path(sr.user), class: 'link-black text-sm' do %>
        <i class="fa fa-eye margin-r-5"></i> View</a>
      <%end%>
    </li>
    <li>

    </li>
  </ul>
</div>
<% end %>
<% if @creatives.count == 0 %>
 <% @creatives = User.where(user_type: 'creative').take(10) %>
 <ul class="todo-list ui-sortable">
   <% @creatives.each do |cr| %>
    <li>
       <div class="user-block">
        <%= image_tag cr.user_profile.safe_profile_image_url, class: 'img-circle img-bordered-sm' %>
        <span class="username">
          <%= link_to cr.user_profile.display_name, user_collection_path(cr), style: 'margin-top:12px' %>
          <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
        </span>
      </div>
      <div class='row'>
        <% cr.collection_items.where(item_type: "image").reverse.take(4).each do |ci| %>
          <div class='col-md-3'>
            <%= image_tag ci.file, class: 'img-responsive' %>
          </div>
        <% end %>
      </div>
    </li>
  <% end %>
  </ul>

<% end %>





