<%= form_with(model: email_detail, local: true) do |form| %>
  <% if email_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(email_detail.errors.count, "error") %> prohibited this email_detail from being saved:</h2>

      <ul>
      <% email_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email_id %>
    <%= form.text_field :email_id, id: :email_detail_email_id %>
  </div>

  <div class="field">
    <%= form.label :detail_type %>
    <%= form.text_field :detail_type, id: :email_detail_detail_type %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :email_detail_content %>
  </div>

  <div class="field">
    <%= form.label :order %>
    <%= form.number_field :order, id: :email_detail_order %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
