<% if params[:shoot_id] %>
  <% shoot = Shoot.find(params[:shoot_id]) %>
<% end %>


<%= form_with(model: shot_list_item, local: true) do |form| %>
  <%= render :partial => 'shot_list_items/partials/black_dashboard/form/errors', :locals => {:shot_list_item => shot_list_item}%>
  <div class='form-group'>
  <%= render :partial => 'shot_list_items/partials/black_dashboard/form/task_groups', :locals => {shoot: shoot, shot_list_item: shot_list_item, form: form, redirect: 'shoot'} %>
  </div>
  <div class="row">
    <div class="col-md-8">
      <%= render :partial => 'shot_list_items/partials/black_dashboard/form/description', :locals => {:shot_list_item => shot_list_item, :form => form }%>
    </div>
  </div>


  <div class="row">
    <div class="col-md-8">
      <div class='form-group'>
        <label> Background </label>
        <% form.text_field :background, id: :shot_list_item_background, class: 'form-control', :placeholder => 'Tell us About the Background' %>
        <div class='row'>
          <div class='col-xs-12 col-sm-6 col-md-3 col-lg-3' style='margin:20px'>
            <div class="form-check form-check-radio radio-icons">
              <label class="form-check-label ">
                <%= form.radio_button :background, 'Beach', class: 'form-check-input center', :checked => shot_list_item.background == 'Beach'%>
                <span class="form-check-sign"></span>
               <i class='fas fa-umbrella-beach text-primary' style="font-size: 36px; margin-top: -24px;"> </i><br>
                Beach
              </label>
            </div>
          </div>
          <div class='col-xs-12 col-sm-6 col-md-3 col-lg-3' style='margin:20px'>
            <div class="form-check form-check-radio radio-icons">
              <label class="form-check-label ">
                <%= form.radio_button :background, 'Mountains', class: 'form-check-input center'%>
                <span class="form-check-sign"></span>
                <i class='fas fa-mountain text-primary' style="font-size: 36px; margin-top: -24px;"> </i><br>
                Mountains
              </label>
            </div>
          </div>
          <div class='col-xs-12 col-sm-6 col-md-3 col-lg-3' style='margin:20px'>
            <div class="form-check form-check-radio radio-icons">
              <label class="form-check-label ">
                <%= form.radio_button :background, 'City', class: 'form-check-input center'%>
                <span class="form-check-sign"></span>
                <i class='fas fa-city text-primary' style="font-size: 36px; margin-top: -24px;"> </i><br>
                City
              </label>
            </div>
          </div>
          <div class='col-xs-12 col-sm-6 col-md-3 col-lg-3' style='margin:20px'>
            <div class="form-check form-check-radio radio-icons">
              <label class="form-check-label ">
                <%= form.radio_button :background, 'Nature or Park', class: 'form-check-input center'%>
                <span class="form-check-sign"></span>
                <i class='fas fa-leaf text-primary' style="font-size: 36px; margin-top: -24px;"> </i><br>
                Nature or Park
              </label>
            </div>
          </div>
          <div class='col-xs-12 col-sm-6 col-md-3 col-lg-3' style='margin:20px'>
            <div class="form-check form-check-radio radio-icons">
              <label class="form-check-label ">
                <%= form.radio_button :background, 'Historic Building', class: 'form-check-input center'%>
                <span class="form-check-sign"></span>
                <i class='fas fa-landmark text-primary' style="font-size: 36px; margin-top: -24px;"> </i><br>
                Historic Building
              </label>
            </div>
          </div>
          <div class='col-xs-12 col-sm-6 col-md-3 col-lg-3' style='margin:20px'>
            <div class="form-check form-check-radio radio-icons">
              <label class="form-check-label ">
                <%= form.radio_button :background, 'Building Interior', class: 'form-check-input center'%>
                <span class="form-check-sign"></span>
                <i class='fas fa-chess-rook text-primary' style="font-size: 36px; margin-top: -24px;"> </i><br>
                Building Interior
              </label>
            </div>
          </div>
          <div class='col-xs-12 col-sm-6 col-md-3 col-lg-3' style='margin:20px'>
            <div class="form-check form-check-radio radio-icons">
              <label class="form-check-label ">
                <%= form.radio_button :background, 'Action or Activity', class: 'form-check-input center'%>
                <span class="form-check-sign"></span>
                <i class='fas fa-running text-primary' style="font-size: 36px; margin-top: -24px;"> </i><br>
                Action
              </label>
            </div>
          </div>
          <div class='col-xs-12 col-sm-6 col-md-3 col-lg-3' style='margin:20px'>
            <div class="form-check form-check-radio radio-icons">
              <label class="form-check-label ">
                <%= form.radio_button :background, 'Set or Landmark', class: 'form-check-input center'%>
                <span class="form-check-sign"></span>
                <i class='fas fa-map-pin text-primary' style="font-size: 36px; margin-top: -24px;"> </i><br>
                Set Or Landmark
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <% if shoot.content_type == ContentType.video %>
        <div class='form-group'>
          <label> Frame Rate </label><br>
          <%= form.select "frame_rate", "<option class='text-center'>24.4 fps - Regular</option> <option style='color: orange;'>60 fps - Slow</option>
          <option style='color: red;'>120 fps - Super Slow</option>".html_safe, {}, {:class => 'form-contol', style: 'height:40px; width: 100%; text-center'} %>
        </div>
      <% end %>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6"><%= render :partial => 'shot_list_items/partials/black_dashboard/form/shoot_location', :locals => {:shot_list_item => shot_list_item, :form => form }%></div>
    <div class="col-md-6"><%= render :partial => 'shot_list_items/partials/black_dashboard/form/reference_image', :locals => {:shot_list_item => shot_list_item, :form => form }%></div>
  </div>

  <div class="row">
    <div class="col-md-6"><%= render :partial => 'shot_list_items/partials/black_dashboard/form/focus_point', :locals => {:shot_list_item => shot_list_item, :form => form }%></div>
    <div class="col-md-6"><%= render :partial => 'shot_list_items/partials/black_dashboard/form/aspect_ratio', :locals => {:shot_list_item => shot_list_item, :form => form }%></div>
  </div>



  <% if !shoot.nil? %>
    <%= form.hidden_field :item_type, :value => "#{shoot.shoot_style} - #{shoot.content_type}" %>
    <%= form.hidden_field :shoot_id, :value => shoot.id %>
    <%= form.hidden_field :background, :value => shoot.background %>
  <% end %>
  <%= form.hidden_field :added_by_id, :value => current_user.id %>

  <% if (!shoot.nil? && shoot.shoot_style == "Mixed")%>
    <div class='box box-purple'>
      <div class="box-header with-border">
        <h4 class="box-title">Shot Type</h4>
      </div>
      <div class='row' style="margin:12px;">
        <div class='col-md-4 col-sm-4 col-xs-4'>
          <%= form.radio_button :item_type, "Lifestyle" %>
          <%= form.label :lifestyle %>
        </div>
        <div class='col-md-4 col-sm-4 col-xs-4 '>
          <%= form.radio_button :item_type, "Product"%>
          <%= form.label :product %>
        </div>
      </div>
    </div>
  <% end %>

  <% if current_user.user_type =='creative'%>
  <%= render :partial => 'shot_list_items/partials/black_dashboard/form/upload', :locals => {:shot_list_item => shot_list_item, :form => form }%>
  <% end %>
  <br>
  <div class="actions">
    <%= form.submit "Update List", id: 'uploadImageBtn', class: 'btn btn-success pull-right' %>
  </div>
<% end %>




<div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sorry Something Went Wrong ... </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p> </p>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Please Wait While Your File Uploads ... </h5>
      </div>
      <div class="modal-body text-center">
        <p> <i class="fa fa-spinner fa-spin" style="font-size:24px"></i></p>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>









<div class="modal fade" id="taskGroupFormModal" tabindex="-1" role="dialog" aria-labelledby="Document Form" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add A New Task Group </h5>
      </div>
      <div class="modal-body text-center">
        <%= render :partial => 'shared/black_dashboard/shot_list_items/task_group_form',
                   :locals => {:task_group => TaskGroup.new,
                               :shoot => shoot,
                               :redirect => 'shot_list_item'
                             } %>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>


<%= content_for :added_scripts do %>
  <script>
    $('#newGroupBtn').click(function (event) {
       $('#taskGroupFormModal').modal('toggle');
      event.preventDefault(); // Prevent link from following its href
    });
  </script>
<% end %>


