<div class='container'>
<div class='card'>


  <div class='card-header'>
    <div class='pull-right'>
      <%= @shot_list_item.proposal.deadline.strftime("%A %b %d, %Y") %>
    </div>
    <h3 class='text-primary'><%= link_to @shot_list_item.proposal.title, @shot_list_item.proposal %><hr></h3>
  </div>

  <div class='row'>
    <div class='col-md-6' style="border-right: 1px solid #d3dded">
      <h4 class='text-center' style="padding-left:12px;"> Details </h4>
       <div style='padding:6px;'>
        Reference Image <br>
        <%= image_tag @shot_list_item.reference_image %>
      </div>
      <div style='padding:6px;'>
        <span><i class='tim-icons text-primary'><ion-icon name='camera'></ion-icon></i> Shoot Type:</span>
        <soan class='pull-right'><%= @shot_list_item.item_type %></soan>
        <hr>
      </div>
      <div style='padding:6px;'>
        <span><i class='tim-icons text-primary'><ion-icon name='photos'></ion-icon></i> Background:</span>
        <soan class='pull-right'><%= @shot_list_item.background %></soan>
        <hr>
      </div>
      <div style='padding:6px;'>
          <span><i class='tim-icons text-primary'><ion-icon name='photos'></ion-icon></i> Description:</span>
          <soan class='pull-right'><%= @shot_list_item.description %></soan>
          <hr>
      </div>

    </div>
    <div class='col-md-6'>
        <h4 class='text-center' style="padding-left:12px;"> Delivered </h4>
        <% if @shot_list_item.upload.file != nil %>
          <%= image_tag @shot_list_item.upload %>
        <% else %>
          <div class="text-center">
          <img height="80%" src='https://vignette.wikia.nocookie.net/the-darkest-minds/images/4/47/Placeholder.png/revision/latest?cb=20160927044640' class='img-responsive' />
          </div>
          <% if current_user.user_type =='creative'%>
            <%= form_with(model: @shot_list_item, local: true) do |form| %>
              <%= render :partial => 'shot_list_items/partials/black_dashboard/form/upload', :locals => {:shot_list_item => shot_list_item, :form => form }%>
              <%= form.submit "Add", class: 'btn btn-primary' %>
            <% end %>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
</div>




