
<div class='card' style="padding: 16px;">
  <div class='card-header'>
    <div class='pull-right text-right'>
      <% if !@shot_list_item.proposal.nil? && current_user == @shot_list_item.user %>
        proposal user
      <% elsif !@shot_list_item.shoot.nil? &&
                (current_user == @shot_list_item.shoot.creative || @shot_list_item.shoot.project.company.users.where(id: current_user.id ).count > 0)  %>
        <%= link_to "<i class='far fa-edit'></i> Edit ".html_safe, edit_shoot_shot_list_item_path(@shot_list_item.shoot, @shot_list_item), class: 'btn btn-primary btn-simple' %>
        <br>
      <% end %>

      <% if !@shot_list_item.proposal.nil? %>
        Deadline: <%= @shot_list_item.proposal.deadline.strftime("%A %b %d, %Y") %>
      <% elsif !@shot_list_item.shoot.nil? && !shot_list_item.shoot.deadline.nil?%>
        Deadline: <%= @shot_list_item.shoot.deadline.strftime("%A %b %d, %Y") %>
      <% end %>
    </div>
    <h3 class='text-primary'>
      <%= link_to @shot_list_item.shoot.project.title, shoot_path(@shot_list_item.shoot, :active => 'shotlist') unless  @shot_list_item.shoot.nil? %>
      <%= link_to @shot_list_item.proposal.title, proposal_path(@shot_list_item.proposal, :active => 'shotlist') unless  @shot_list_item.proposal.nil? %>
      </h3>
  </div>

  <div class='row'>

    <div class='col-md-6' style="border-right: 1px solid #d3dded">
      <div class='row'>
        <div class='col-md-6'>
          <div class='text-center' style='padding:6px;'>
            Reference Image <br>
            <% if @shot_list_item.reference_image.nil? || @shot_list_item.reference_image.file.nil? %>
              <img height="80%" src='https://vignette.wikia.nocookie.net/the-darkest-minds/images/4/47/Placeholder.png/revision/latest?cb=20160927044640' class='img-responsive' />
            <% else %>
              <%= link_to @shot_list_item.reference_image.url do %>
                <%= image_tag @shot_list_item.reference_image %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class='col-md-6'>
          <div class='card-header'>
            <h4 class='text-center' style="padding-left:12px;"> Details </h4>
          </div>

          <div style='padding:6px;'>
            <span><i class='tim-icons text-primary'><ion-icon name='camera'></ion-icon></i> Shoot Type:</span>
            <soan class='pull-right'><%= @shot_list_item.item_type %></soan>
            <hr>
          </div>
          <div style='padding:6px;'>
            <span><i class='tim-icons text-primary'><ion-icon name='photos'></ion-icon></i> Background:</span>
            <soan class='pull-right'><%= @shot_list_item.background %></soan>
            <hr>
          </div>
          <div style='padding:6px;'>
              <span><i class='tim-icons text-primary'><ion-icon name='photos'></ion-icon></i> Description:</span>
              <soan class='pull-right'><%= @shot_list_item.description %></soan>
              <hr>
          </div>
          <div style='padding:6px;'>
              <span><i class='tim-icons text-primary '><i class='fas fa-arrows-alt'></i></i> Aspect Ratio:</span>
              <soan class='pull-right'><%= @shot_list_item.aspect_ratio %></soan>
              <hr>
          </div>
           <div style='padding:6px;'>
              <span><i class='tim-icons text-primary'><i class='fas fa-crosshairs'></i></i> Focus Point:</span>
              <soan class='pull-right'><%= @shot_list_item.focus_point %></soan>
              <hr>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-4 '>
      <div class='card-header'>
        <h4 class='text-center' style="padding-left:12px;"> Delivered </h4>
      </div>
      <% if @shot_list_item.upload.file != nil %>
        <%= image_tag @shot_list_item.upload %>
      <% else %>
        <div class="text-center">
        <img height="80%" src='https://vignette.wikia.nocookie.net/the-darkest-minds/images/4/47/Placeholder.png/revision/latest?cb=20160927044640' class='img-responsive' />
        </div>
        <% if current_user.user_type =='creative'%>
          <%= form_with(model: @shot_list_item, local: true) do |form| %>
            <%= render :partial => 'shot_list_items/partials/black_dashboard/form/upload', :locals => {:shot_list_item => shot_list_item, :form => form }%>
            <%= form.submit "Add", class: 'btn btn-primary' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class='col-md-2'></div>
</div>


</div>



