<div class='row'>
  <div class="col-lg-3 col-md-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5">
            <div class="info-icon text-center icon-warning">
              <i class='fa fa-briefcase'></i>
            </div>
          </div>
          <div class="col-7">
            <div class="numbers">
              <p class="card-category">Projects In Progress</p>
              <h3 class="card-title"><%= current_user.company.projects.where(is_complete: nil).count %></h3>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="stats">
         <%= link_to  projects_path do %>
          View All <i class='fas fa-arrow-right'></i>
         <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5">
            <div class="info-icon text-center icon-primary">
              <i class='fa fa-camera'></i>
            </div>
          </div>
          <div class="col-7">
            <div class="numbers">
              <p class="card-category">Shoots In Progress</p>
              <h3 class="card-title"><%= current_user.company.shoots.count %></h3>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="stats">
          <%= link_to  shoots_path do %>
            View All <i class='fas fa-arrow-right'></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5">
            <div class="info-icon text-center icon-success">
              <i class="fas fa-tasks"></i>
            </div>
          </div>
          <div class="col-7">
            <div class="numbers">
              <p class="card-category">Pending Tasks</p>
              <h3 class="card-title"><%= current_user.company.tasks.where(completed: nil).where(can_accept: 'creative').count  %></h3>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="stats">
          <%= link_to  tasks_path do %>
            View All <i class='fas fa-arrow-right'></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5">
            <div class="info-icon text-center icon-danger">
              <i class="fas fa-exclamation-triangle"></i>
            </div>
          </div>
          <div class="col-7">
            <div class="numbers">
              <p class="card-category">Overdue Tasks</p>
              <h3 class="card-title"><%= current_user.company.tasks.where(completed: nil).where(can_accept: 'creative').where('deadline < ?', Date.today).count  %></h3>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="stats">
           <%= link_to  tasks_path do %>
            View All <i class='fas fa-arrow-right'></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


