<div class="panel box" >
  <div class="box-header with-border">
    <h4 class="box-title">Behind The Scenes</h4>
  </div>
  <div class="box-body">
    <%= f.check_box :bts, {:multiple => true, class: 'icheck-me', :data => {:skin => 'square', :color => 'green'}}, "Photo"%>
    <%= f.label :photo %>
    <%= f.check_box :bts, {:multiple => true, class: 'icheck-me', :data => {:skin => 'square', :color => 'green'}}, "Video"%>
    <%= f.label :video %>
    <%= f.check_box :bts, {:multiple => true, class: 'icheck-me', :data => {:skin => 'square', :color => 'green'}}, "SetUp"%>
    <%= f.label :set_up %>
  </div>
</div>
