<div class="panel box">
  <div class="box-header with-border">
    <h4 class="box-title">Focus Points (3 max)</h4>
  </div>
  <div class="box-body">
    <div class='row'>
      <div class='col-md-4'>
        <%= f.check_box :focus_points, {:multiple => true, class: 'icheck-me', :data => {:skin => 'square', :color => 'green'}}, "Top Left"%>
        <%= f.label :top_left %>
      </div>
      <div class='col-md-4'>
        <%= f.check_box :focus_points, {:multiple => true, class: 'icheck-me', :data => {:skin => 'square', :color => 'green'}}, "Top Center"%>
        <%= f.label :top_center %>
      </div>
      <div class='col-md-4'>
        <%= f.check_box :focus_points, {:multiple => true, class: 'icheck-me', :data => {:skin => 'square', :color => 'green'}}, "Top Right"%>
        <%= f.label :top_right %>
      </div>

      <!-- Middle -->
      <div class='col-md-4'>
        <%= f.check_box :focus_points, {:multiple => true, class: 'icheck-me', :data => {:skin => 'square', :color => 'green'}}, "Middle Left"%>
        <%= f.label :middle_left %>
      </div>
      <div class='col-md-4'>
        <%= f.check_box :focus_points, {:multiple => true, class: 'icheck-me', :data => {:skin => 'square', :color => 'green'}}, "Middle Center"%>

        <%= f.label :middle_center %>
      </div>
      <div class='col-md-4'>
        <%= f.check_box :focus_points, {:multiple => true, class: 'icheck-me', :data => {:skin => 'square', :color => 'green'}}, "Middle Right"%>
        <%= f.label :middle_right %>
      </div>
      <!-- Botom -->
      <div class='col-md-4'>
        <%= f.check_box :focus_points, {:multiple => true, class: 'icheck-me', :data => {:skin => 'square', :color => 'green'}}, "Bottom Left"%>
        <%= f.label :bottom_left %>
      </div>
      <div class='col-md-4'>
        <%= f.check_box :focus_points, {:multiple => true, class: 'icheck-me', :data => {:skin => 'square', :color => 'green'}}, "Bottom Middle"%>
        <%= f.label :bottom_center %>
      </div>
      <div class='col-md-4'>
        <%= f.check_box :focus_points, {:multiple => true, class: 'icheck-me', :data => {:skin => 'square', :color => 'green'}}, "Bottom Right"%>
        <%= f.label :bottom_right %>
      </div>
      <div class='col-md-4'></div>
      <div class='col-md-4'>
        <%= f.check_box :focus_points, {:multiple => true, class: 'icheck-me', :data => {:skin => 'square', :color => 'green'}}, "Dealers Choice"%>
        <% check_box_tag 'proposal[focus_points][]', 'Dealers Choice', checked = @proposal.focus_points.include?("Dealers Choice") %>
        <%= f.label :dealers_choice %>
      </div>
      <div class='col-md-4'></div>
    </div>
  </div>
</div>
