<div class="panel box">
  <div class="box-header with-border">
    <h4 class="box-title">Time Of Day</h4>
  </div>
  <div class="box-body">
    <%= f.radio_button(:time_of_day, "Sunrise", class:'icheck-me', :data => {:skin => 'square', :color => 'green'}) %>
    <%= f.label :sunrise %>
    <br>
    <%= f.radio_button(:time_of_day, "Sunset", class:'icheck-me', :data => {:skin => 'square', :color => 'green'}) %>
    <%= f.label :sunset %>
    <br>
    <%= f.radio_button(:time_of_day, "Daylight", class:'icheck-me', :data => {:skin => 'square', :color => 'green'}) %>
    <%= f.label :daylight %>
    <br>
    <%= f.radio_button(:time_of_day, "Dusk", class:'icheck-me', :data => {:skin => 'square', :color => 'green'}) %>
    <%= f.label :dusk %>
    <br>
    <%= f.radio_button(:time_of_day, "Night", class:'icheck-me', :data => {:skin => 'square', :color => 'green'}) %>
    <%= f.label :night %>
    <br>
    <%= f.radio_button(:time_of_day, "Any", class:'icheck-me', :data => {:skin => 'square', :color => 'green'}) %>
    <%= f.label :any %>
  </div>
</div>
