<div class="wizard-container">
  <% project = @project %>
  <div class="card card-wizard" data-color="primary" id="wizardProfile">
    <% if @project.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@project.errors.count, "error") %> prohibited this company from being saved:</h2>
        <% @project.errors.full_messages.each do |message| %>
          <div class="alert alert-danger">
            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
              <i class="tim-icons"> <i class='fas fa-times' ></i></i>
            </button>
            <span><%= message %></span>
          </div>
        <% end %>
      </div>
    <% end %>
    <%= form_for project, class: 'form-horizontal' do |form| %>
    <%= form.hidden_field :company_id, :value => current_user.company.id %>
      <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
      <div class="card-header text-center">
        <h3 class="card-title">
          Lets Get Crackin!
        </h3>
        <h5 class="description">Tell us What You're Looking For </h5>
        <%= render 'projects/partials/black_dashboard/wizard/tabs' %>
      </div>
      <div class="card-body">
        <div class="tab-content">
          <div class="tab-pane show active" id="basic">
            <h4 class="info-text"> Let's start with the basics </h4>
            <div class="row justify-content-center mt-5">
              <div class="col-lg-12 center">
                <h5 class="info-text"> Give the project a creative name ... </h5>
                <%= form.text_field :title, id: :project_title_id, class: 'form-control', :text => project.title %>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-sm-12 col-lg-6 text-center">
                <br>
                <label> Describe the mood of your project in a few words </label>
                <%= form.text_field :mood, id: :project_mood, class: 'form-control' %>
              </div>
              <div class="col-sm-12 col-lg-6 text-center">
                <br>
                <label> What is the deadline for the project? </label>
                <% deadline =  project.deadline %>
                <% deadline_formatted = "#{deadline.month}" +"/"+ "#{deadline.day}" + "/" + "#{deadline.year}" %>
                <%= form.text_field :deadline, id: :project_deadline, class: 'form-control datepicker', :value => deadline_formatted %>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="brief">
            <h4 class="info-text"> Add Your Creative Brief</h4>
            <div class="row justify-content-center">
              <div class="col-lg-10 text-center">
                <%= form.text_area :brief, id: :proposal_brief_id, style:'min-height: 400px; rows: 10; background-color: light-gray; border:light-gray', class: 'form-control rounded' %>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="inspiration">
            <h4 class="info-text">Tell us about the inspirations you would like our creative to model</h5>
            <div class="row justify-content-center">
              <%= render :partial => 'projects/partials/black_dashboard/wizard/inspiration', :locals => {form: form} %>
          </div>
          </div>
          <!-- <div class="tab-pane" id="background">
            <h4 class="info-text" style="padding-top:48px;">Tell Use About The Style Our Creative Should Use</h5>
            <div class="row justify-content-center text-center">


            </div>
            <div class='form-group' style="margin:12px; padding-bottom: 12px;">

            </div>
          </div>
          <div class="tab-pane" id="inspiration">
            <h4 class="info-text"> What Accounts or Sites Do You Want To Look Like?</h4>
            <div class="row justify-content-center">
              <div class="col-lg-10 ">

              </div>
            </div>
          </div> -->
        </div>
      </div>
      <div class="card-footer">
        <div class="pull-right">
          <input type='button' class='btn btn-next btn-fill btn-primary btn-wd' name='next' value='Next' />
          <!-- <input type='button' class='btn btn-finish btn-fill btn-primary btn-wd' name='finish' value='Finish' /> -->
          <%= form.submit "Save", class: 'btn btn-finish btn-fill btn-primary btn-wd', name: 'finish', value:'Finish' %>
        </div>
        <div class="pull-left">
          <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />
        </div>
        <div class="clearfix"></div>
      </div>
      <% end %>
  </div>
</div>

<% content_for :added_scripts do %>
   <script>
    $(document).ready(function() {
      // Initialise the wizard


    // Code for the Validator
    var $validator = $('.card-wizard form').validate({
      rules: {
        // firstname: {
        //   required: true,
        //   minlength: 3
        // },
        // lastname: {
        //   required: true,
        //   minlength: 3
        // },
        // email: {
        //   required: true,
        //   minlength: 3,
        // },
        // number: {
        //   required: true,
        //   minlength: 3,
        // }

      },
      highlight: function(element) {
        $(element).closest('.input-group').removeClass('has-success').addClass('has-danger');
      },
      success: function(element) {
        $(element).closest('.input-group').removeClass('has-danger').addClass('has-success');
      }
    });

    // Wizard Initialization
    $('.card-wizard').bootstrapWizard({
      'tabClass': 'nav nav-pills',
      'nextSelector': '.btn-next',
      'previousSelector': '.btn-previous',

      onNext: function(tab, navigation, index) {
        var $valid = $('.card-wizard form').valid();
        if (!$valid) {
          $validator.focusInvalid();
          return false;
        }
      },

      onInit: function(tab, navigation, index) {
        //check number of tabs and fill the entire row
        var $total = navigation.find('li').length;
        $width = 100 / $total;

        navigation.find('li').css('width', $width + '%');

      },

      onTabClick: function(tab, navigation, index) {
        var $valid = $('.card-wizard form').valid();

        if (!$valid) {
          return false;
        } else {
          return true;
        }
      },

      onTabShow: function(tab, navigation, index) {
        var $total = navigation.find('li').length;
        var $current = index + 1;

        var $wizard = navigation.closest('.card-wizard');

        // If it's the last tab then hide the last button and show the finish instead
        if ($current >= $total) {
          $($wizard).find('.btn-next').hide();
          $($wizard).find('.btn-finish').show();
        } else {
          $($wizard).find('.btn-next').show();
          $($wizard).find('.btn-finish').hide();
        }

        //update progress
        var move_distance = 100 / $total;
        move_distance = move_distance * (index) + move_distance / 2;

        $wizard.find($('.progress-bar')).css({
          width: move_distance + '%'
        });
        //e.relatedTarget // previous tab

        $wizard.find($('.card-wizard .nav-pills li .nav-link.active')).addClass('checked');

      }
    });


    // Prepare the preview for profile picture
    $("#wizard-picture").change(function() {
      readURL(this);
    });

    $('[data-toggle="wizard-radio"]').click(function() {
      wizard = $(this).closest('.card-wizard');
      wizard.find('[data-toggle="wizard-radio"]').removeClass('active');
      $(this).addClass('active');
      $(wizard).find('[type="radio"]').removeAttr('checked');
      $(this).find('[type="radio"]').attr('checked', 'true');
    });

    $('[data-toggle="wizard-checkbox"]').click(function() {
      if ($(this).hasClass('active')) {
        $(this).removeClass('active');
        $(this).find('[type="checkbox"]').removeAttr('checked');
      } else {
        $(this).addClass('active');
        $(this).find('[type="checkbox"]').attr('checked', 'true');
      }
    });

    $('.set-full-height').css('height', 'auto');

    //Function to show image before upload

    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
          $('#wizardPicturePreview').attr('src', e.target.result).fadeIn('slow');
        }
        reader.readAsDataURL(input.files[0]);
      }
    }


      setTimeout(function() {
        $('.card.card-wizard').addClass('active');
      }, 600);
    });

  </script>
   <% end %>

