<table class='table' style='width:100%'>
  <thead>
    <tr>
      <th>Project</th>
      <th>Company</th>
      <th>Amount</th>
      <th>Due date</th>
      <th>Invoice Type</th>
      <th>Status</th>
      <th class='text-center'>View & Pay</th>
    </tr>
  </thead>
  <tbody>
    <% invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.project.title unless invoice.project_id.nil? %></td>
        <td><%= invoice.company.name %></td>
        <td><%= number_to_currency(invoice.amount) %></td>
        <td>
          <%if invoice.invoice_type == InvoiceType.deposit %>
            <%= invoice.project.created_at.strftime("%d %b '%y") unless invoice.project_id.nil? %>
          <% elsif invoice.invoice_type == InvoiceType.balance %>
            <%= invoice.project.deadline.strftime("%d %b '%y") unless invoice.project_id.nil?%>
          <% else %>

          <% end %>
        </td>
        <td><b><%= invoice.invoice_type.upcase! %></b></td>
        <td>
          <%if invoice.payment.nil? %>
            Unpaid
          <% else %>
            <%= link_to "View Payment", payment_path(invoice.payment) %>
          <% end %>
        </td>
        <td class='text-center'>
          <% disable = '' %>
          <% if invoice.invoice_type.downcase == InvoiceType.balance && (!invoice.project.nil? && !invoice.project.deposit_is_paid) %>
            <% disable = 'disabled' %>
          <% end %>
          <%= link_to "<i class='far fa-eye'></i>".html_safe, invoice, class: "btn btn-simple btn-sm btn-primary #{disable}" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
