<table class='table' style='width:100%'>
  <thead>
    <tr>
      <th>Project</th>
      <th>Company</th>
      <th>Amount</th>
      <th>Due date</th>
      <th>Invoice Type</th>
      <th>Status</th>
      <th class='text-center'>View</th>
    </tr>
  </thead>
  <tbody>
    <% invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.project.title %></td>
        <td><%= invoice.company.name %></td>
        <td>$<%= invoice.amount %></td>
        <td>
          <%if invoice.invoice_type == InvoiceType.deposit %>
            <%= invoice.project.created_at.strftime("%d %b '%y") %>
          <% elsif invoice.invoice_type == InvoiceType.balance %>
            <%= invoice.project.deadline.strftime("%d %b '%y") %>
          <% else %>

          <% end %>
        </td>
        <td><%= invoice.invoice_type %></td>
        <td>
          <%if invoice.payment.nil? %>
            Unpaid
          <% else %>
            <%= link_to "View Payment", payment_path(invoice.payment) %>
          <% end %>
        </td>
        <td class='text-center'>
          <%= link_to "<i class='far fa-eye'></i>".html_safe, invoice, class: 'btn btn-simple btn-sm btn-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
