<% if !defined? show_header  %>
  <% show_header = true %>
<% end %>

<% if !defined? show_footer %>
  <% show_footer = false %>
<% end %>
<% if !defined? show_edit_button %>
  <% show_edit_button = false %>
<% end %>

<% if !defined? show_delete_button %>
  <% show_delete_button = false %>
<% end %>

<% if !defined? show_content %>
  <% show_content = false %>
<% end %>

<% if !defined? show_next_step %>
  <% show_next_step = false %>
<% end %>

<% if !defined? show_accept_buttons %>
  <% show_accept_buttons = false %>
<% end %>

<% if !defined? show_payment_buttons %>
  <% show_payment_buttons = false %>
<% end %>
<% if !defined? show_add_shoot_button %>
  <% show_add_shoot_button = false %>
<% end %>
<% if !defined? show_company %>
  <% show_company = false %>
<% end %>
<div class="card">
  <% if show_header %>
  <div class="card-header" style='padding-top:6px;'>
    <h3 class="card-category">
      <span>
        <%= link_to project.title, project, style: 'font-size: 18px' %>
      </span>
      <span class='pull-right baseline' >
        <i class='tim-icons'><ion-icon name='calendar'></ion-icon></i>
        <%= project.deadline.strftime('%a %b %d, %Y') unless project.deadline.nil?%>
      </span>
    </h3>

  </div>
  <% end %>
  <div class="card-body">
    <div class='row'>
      <!-- <div class='col-sm-4'> -->
        <div class="card card-user">
            <div class="card-body">
              <p class="card-text">
              </p>
              <div class="author">
                <div class="block block-one"></div>
                <div class="block block-two"></div>
                <div class="block block-three"></div>
                <div class="block block-four"></div>
                <a href="javascript:void(0)">
                  <% if !project.company.nil? %>
                    <%= image_tag project.company.logo , class: 'avatar'%>
                  <% else %>
                    <%= image_tag 'https://s3-us-west-2.amazonaws.com/nomcre/assets/Dummy-profile-picture.png', class: 'avatar'%>
                  <% end %>
                  <br>

                  <% if !show_header %>
                   <%= link_to project.title, project, style: 'font-size: 18px' %>
                   <br>
                   <i class='tim-icons'><ion-icon name='calendar'></ion-icon></i>
                  <%= project.deadline.strftime('%a %b %d, %Y') unless project.deadline.nil?%>
                  <% end %>

                  <% if show_next_step  %>
                    <h5 class="title">
                      <% project.status %>
                      #TODO: Update Project Status
                    </h5>
                  <% end %>
                </a>
                <p class="description">
                  <% if project.creatives.count > 0 %>
                    <% project.creatives.each do |creative| %>
                      <%= creative.user_profile.display_name %>
                      <br>
                    <% end %>
                  <% end %>

                  <% if show_next_step  %>
                  <br> <br>
                    <h5>
                    <i class='tim-icons text-primary'><ion-icon name='fastforward'> </ion-icon></i>
                    <b> Next Step:</b> <br>
                    <span class=''>
                      <% proposal.next_step(proposal.status) %>
                      <!-- #TODO: Create Next Step For Project -->
                    </span>
                  <h5>
                <% end %>
                </p>
              </div>
              <p></p>
              <div class="card-description">
              <br>
                <%= render :partial => 'projects/partials/black_dashboard/shared/progress', :locals => {:project => project} %>
                 <% if project.all_shoots_in_same_loacation %>
                  <span>
                    <i class='tim-icons text-primary'><ion-icon name='ios-pin'> </ion-icon></i>
                    <b>City / Region:</b>
                    <span class='pull-right'>
                     <%= project.shoots.first.location.name unless project.shoots.first.nil? %>
                    </span>
                  </span>
                 <% else %>
                   <% project.locations.each do |location| %>
                    <span>
                      <i class='tim-icons text-primary'><ion-icon name='ios-pin'> </ion-icon></i>
                      <b>City / Region:</b>
                      <span class='pull-right'>
                       <%= location.name %>
                      </span>
                    </span>
                    <br>
                  <% end %>
                <% end %>
                <hr>
                <span>
                  <i class='tim-icons text-primary'><ion-icon name='ios-pin'> </ion-icon></i>
                  <b>Mood:</b>
                  <span class='text-right'>
                   <%= project.mood %>
                  </span>
                </span>
                <hr>
                <span>
                  <% project.shoots.each do |shoot| %>
                    <i class='tim-icons text-danger'><ion-icon name='ios-camera'> </ion-icon></i>
                    <b>Shoot Types:</b>
                    <span class='pull-right'>
                      <%= shoot.shoot_style != nil ? shoot.shoot_style : "Not Assigned" %>
                    </span>
                    <br>
                  <% end %>
                </span>
                 <hr>
                 <span>
                  <i class='tim-icons text-info'><ion-icon name='ios-photos'> </ion-icon></i>
                  <b>Shot Count:</b>
                  <span class='pull-right'>
                    <%= "#{project.user_added_shot_list_items_count} of #{project.user_added_shot_list_items_max}" %>
                  </span>
                </span>
              </div>
            </div>
            <div class='row text-center'>
              <%= render :partial => 'projects/partials/black_dashboard/shared/instagram_inspiration', :locals => {project: project} %>
              <%= render :partial => 'projects/partials/black_dashboard/shared/image_boards', :locals => {project: project} %>
            </div>
            <% if show_content %>
              <div style="margin: 6px;">
                <% unless project.brief.nil? %>
                <%= auto_html(project.brief.first(150)){ image(); youtube(:width => '100%', :height => 250, :autoplay => false); simple_format; link(:target => 'blank') } %>
                <% end %>
                <!-- <p><%= simple_format(project.brief.first(150)) unless project.brief.nil? %>...</p> -->
              </div>
            <% end %>
          </div>
    </div>
  </div>
  <% if show_footer == true %>
   <div class="card-footer text-center">

        <div class='col-xs-3 col-sm-4 col-md-4'>
          <%= link_to project, class: 'btn btn-link btn-primary' do %>
            <span>
              <i class="tim-icon"><ion-icon name='ios-eye' size='' style='font-size: 20px'></ion-icon></i>
              <br>
              View
            </span>
          <% end %>
        </div>
        <div class='col-xs-3 col-sm-4 col-md-4'>
          <%= link_to edit_project_path(project), class: 'btn btn-link btn-danger' do %>
            <span>
              <i class="tim-icon"><ion-icon name='ios-paper' size='' style='font-size: 20px'></ion-icon></i>
              <br>
              Edit
            </span>
          <% end %>
        </div>
        <div class='col-xs-3 col-sm-4 col-md-4'>
          <%= link_to edit_project_path(project), class: 'btn btn-link btn-primary' do %>
            <span>
              <i class="tim-icon">
                <ion-icon name='ios-chatbubbles' size='' style='font-size: 20px'></ion-icon>
              </i>
              <br>
              Chat
            </span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <% show_add_shoot_button %>
  <% if show_add_shoot_button %>
   <div class='row'>
      <div class='col-md-12'>
      <%= link_to new_project_shoot_path(project), class: 'btn btn-primary btn-simple btn-block' do %>
        <i class="fas fa-plus"></i> Add Shoot
      <% end %>
      </div>
      <br><br>
    </div>
  <% end %>
  <% if show_accept_buttons == true %>
    <div class="card-footer text-center">
      <hr>
      <% render :partial => 'proposals/partials/black_dashboard/shared/buttons/accept_buttons', :locals => {:proposal => proposal, :proposal_request => proposal_request} %>
      <!-- #TODO: Show Project Accept Buttons -->
    </div>
  <% end %>
  <% if show_payment_buttons == true %>
    <div class="card-footer text-center">
      <hr>
      <%= render :partial => 'projects/partials/black_dashboard/shared/payment_buttons', :locals => {project: project} %>
    </div>
  <% end %>
  <% if show_edit_button == true %>
    <div class='card-footer text-center'>
      <%if current_user.company == project.company && project.is_editable(current_user) %>
        <%= link_to "<i class='far fa-edit'></i> Edit".html_safe, edit_project_path(project), class: 'btn btn-danger btn-simple btn-block' %>
      <% elsif current_user.is_admin %>
        <%= link_to "<i class='far fa-edit'></i> Edit".html_safe, admin_edit_project_path(project), class: 'btn btn-danger btn-simple btn-block' %>
      <% end %>
    </div>
  <% end %>
  <% if show_delete_button %>
   <div class='card-footer text-center'>
        <%if current_user.company == project.company && project.is_editable(current_user) %>
          <%= link_to "<i class='far fa-trash-alt'></i> Delete".html_safe, project_path(project), method: :delete, class: 'btn btn-danger btn-simple btn-block' %>
        <% end %>
      </div>
  <% end %>
</div>




