<% content_for :head do %>
<meta property="og:url" content="<%= request.original_url %>" />
<meta property="og:type" content="website" />
<meta property="og:title" content="NomCre - On Demand Visual Creative Content" />
<meta property="og:description" content="Nomcre - Custom Creative Content for your brand, simplified." />
<meta property="og:image" content="https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/images/horizontal/nomcre-horizontal-19.jpg" />
<% end %>
<div class="nk-main">
<%= render 'khaki/nomcre/home/header_title'%>
<%= render 'khaki/nomcre/home/top_call_to_action'%>
<%= render 'shared/khaki_theme/why_choose_nomcre_top'%>
<%= render 'shared/khaki_theme/why_choose_nomcre_bottom_2'%>
<%= render 'shared/khaki_theme/create_a_brief_cta'%>
<%= render 'khaki/nomcre/home/places_carousel_home'%>
<%= render 'khaki/nomcre/home/typed_js_home'%>
<%= render 'shared/khaki_theme/how_it_works_carousel'%>
<%= render 'khaki/nomcre/home/pricing_table_home'%>
<% render 'khaki/nomcre/home/call_to_action_bottom_home'%>
</div>

