
<div class="nk-main">
<%= render 'khaki/nomcre/home/header_title'%>
<%= render 'khaki/nomcre/home/top_call_to_action'%>
<%= render 'khaki/nomcre/home/icon_box_home_1'%>
<%= render 'khaki/nomcre/home/typed_js_home'%>
<%= render 'khaki/nomcre/home/icon_box_background_home'%>
<%= render 'khaki/nomcre/home/icon_box_tall_home'%>
<%= render 'khaki/nomcre/home/side_parallax_home'%>
<%= render 'khaki/nomcre/home/places_carousel_home'%>
<%= render 'khaki/nomcre/home/pricing_table_home'%>
<%= render 'khaki/nomcre/home/call_to_action_bottom_home'%>
</div>

