
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<style>
  .grid-image{max-height: 250px;}
  .nomcre{color:white; font-size: 36; font-variant: bold}
  .navbar-header a:hover{color:white;}
  .camera_prev span:before{ content: "\25AE";  /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: FontAwesome;
    left:-5px;
    position:absolute;
    top:0;}
  #home{padding-top:80px;}
</style>
 <div id='preloader' >
            <div class='loader' >
                <img src="img/preloader.gif" width="50" alt="">
            </div>
        </div><!-- Preloader -->

    <div>
      <%= render 'shared/photography_theme/menu'%>
    </div>
    <div>
      <%= render 'shared/photography_theme/head_slider'%>
    </div>
    <div>
      <%= render 'shared/photography_theme/about'%>
    </div>
    <div>
      <%= render 'shared/photography_theme/services'%>
    </div>
    <div>
      <%= render 'shared/photography_theme/counter'%>
    </div>
    <div>
      <%= render 'shared/photography_theme/pricing'%>
    </div>
    <div>
      <%= render 'shared/photography_theme/testimonial'%>
    </div>
    <div>
      <%= render 'shared/photography_theme/blog'%>
    </div>
    <div>
      <%= render 'shared/photography_theme/contact'%>
    </div>
    <div>
      <%= render 'shared/photography_theme/flickr'%>
    </div>
    <div>
      <%= render 'shared/photography_theme/footer_widget'%>
    </div>










    <footer class="footer_section">
      <p>&copy; 2017 Nomcre.</p>
    </footer><!-- /.footer_section -->

    <a data-scroll href="#home" id="scroll-to-top"><i class="fa fa-arrow-up"></i></a>
