<div class="card ">
  <div class="card-header">
    <h4 class="card-title"> Assistants</h4>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table tablesorter " id="simple-table">
        <thead class=" text-primary">
          <tr>
            <th>
              Name
            </th>
            <th>
              Email
            </th>
            <th>
              Phone
            </th>
            <th class="">
              Rate
            </th>
            <th class="">
              Type
            </th>
            <th class="">
              Facebook
            </th>
            <th class="">
              Instagram
            </th>
            <th class="">
              Location
            </th>
            <th class="">
              Controls
            </th>
          </tr>
        </thead>
        <tbody>
          <% assistants.each do |assistant| %>
            <tr>
              <td>
                <%= assistant.name %>
              </td>
              <td>
                <%= assistant.paypal_email %>
              </td>
              <td>
                <%= assistant.phone %>
              </td>
              <td class="">
                <%= assistant.rate %>
              </td>
              <td class="">
                <%= assistant.assistant_type %>
              </td>
              <td class="">
                <%= assistant.facebook %>
              </td>
              <td class="">
                <%= assistant.instagram %>
              </td>
              <td class="">
                <%= assistant.location.name %>
              </td>
              <td class="">
                <%= link_to "View", assistant_path(assistant) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
