
<section class="invoice">
      <!-- title row -->
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-globe"></i> <strong>NOM</strong>ADIC <strong>CRE</strong>ATIVE
            <small class="pull-right">Date: <%= Date.today %></small>
          </h2>
        </div>
        <!-- /.col -->
      </div>
      <!-- info row -->
      <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
          From
          <address>
            <strong>NOM</strong>ADIC <strong>CREATIVE</strong><br>
            Phone: (312) 493 - 5523<br>
            Email: finance@nomcre.com
          </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
          To
          <address>
            <strong><%= @proposal.company.name %></strong><br>
            Phone: <%= @proposal.company.phone %><br>
            Email: <%= @proposal.company.users.first.email %>
          </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
          <b>Invoice - #B0<%= @proposal.id %></b><br>
          <b>Proposal ID:</b> <%= @proposal.id %> <br>
          <b>Paid On:</b> <%= @proposal.balance_paid_on %><br>

        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12 table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Title</th>
              <th>Deadline</th>
              <th>Type</th>
              <th>Location</th>
              <th>Subtotal</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><%= @proposal.title %></td>
              <td><%= @proposal.deadline %></td>
              <td><%= @proposal.proposal_type %></td>
              <td><%= @proposal.location.name %></td>
              <td><%= number_to_currency(@proposal.price * Proposal.balance_percent) %> USD</td>
            </tr>
            </tbody>
          </table>
            </tbody>
          </table>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-xs-6">
          <p class="lead">Payment Methods:</p>
          <i class='fa fa-cc-visa fa-3x'></i>
          <i class='fa fa-cc-mastercard fa-3x'></i>
          <i class='fa fa-cc-amex fa-3x'></i>


          <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
            Nomcre uses Stripe to process online payments. <br>To make an ACH Payment please contact finance@nomcre.com
          </p>
        </div>
        <!-- /.col -->
        <div class="col-xs-6">
          <p class="lead"><%= @proposal.balance_paid_on %></p>

          <div class="table-responsive">
            <table class="table">
              <tbody><tr>
                <th style="width:50%">Subtotal:</th>
                <td><%= number_to_currency(@proposal.price * Proposal.balance_percent) %> USD</td>
              </tr>
            </tbody></table>
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- this row will not appear when printing -->
      <div class="row no-print">
        <div class="col-xs-12">
          <!-- <a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Print</a> -->
          <!-- <button type="button" class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Submit Payment
          </button> -->
          <div class='pull-right'>
            <div class='pull-right'>
            <% if proposal.paid %>
              <%= link_to "<i class='fa fa-dollar'></i> Paid".html_safe, proposal_payment_path(@proposal), class: 'btn btn-success disabled' %>
            <% else %>
              <%= link_to "<i class='fa fa-dollar'></i> Pay Now".html_safe, proposal_payment_path(@proposal), class: 'btn btn-success' %>
            <% end %>
          </div>
          </div>
          <!-- <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px;">
            <i class="fa fa-download"></i> Generate PDF
          </button> -->
        </div>
      </div>
    </section>


