<% url = request.url %>
<% uri = URI.parse(url) %>
<% query_params = CGI.parse(uri.query) unless uri.query == nil %>
<% query_params = {} if query_params.nil? %>
<% task_group_id = query_params['task_group_id'].nil? ? '0' : query_params['task_group_id'][0].to_i %>
<div class="card"> <!-- Card For groups and Tasks -->
  <div class="card-header row">
    <div class='col-md-2'></div>
    <div class='col-md-8 text-center'><h3 class="card-title text-center">Task Groups </h3></div>
    <div class='col-md-2'>
      <% if request.path.include?('tasks_popped') %>
      <%= link_to "<i class='fa fa-arrow-left'></i> Back To Shoot".html_safe, shoot_path(shoot, :active => 'tasks'), class: 'btn btn-link btn-primary text-right' %>
      <% end %>
      </div>
  </div>
  <div id="accordion_<%= shoot.id %>" role="tablist" aria-multiselectable="true" class="card-collapse"> <!-- Accordion for groups -->
    <% tgs = shoot.task_groups.where(parent_id: nil) %>
    <br><br>
    <% tgs.each do |group| %>
      <div class="card" style='padding:8px;'>
        <div class="card-header" id="heading_<%= group.id %>"> <!-- group collapseable element -->
          <a data-toggle="collapse" data-parent="#accordion_<%= shoot.id %>" href="#collapse_<%= group.id %>" aria-expanded="false" aria-controls="collapse_<%= group.id %>" id="link_<%= group.id%>" class=''>
            <h6 class='text-left text-primary'><%= group.title %> <i class="fa fa-caret-down" ></i></h6>
          </a>
        </div>
        <div id="collapse_<%= group.id %>" class="collapse" role="tabpanel" aria-labelledby="heading_<%= group.id %>">
          <div class="card-body card" style='background-color:#F2F3F7'>
           <!-- Child Task Groups -->
                <div id="accordion_<%= group.id %>" role="tablist" aria-multiselectable="true" class="card-collapse"> <!-- Accordion for groups -->
                  <% group.children.each do |child| %>
                    <div class="card card-plain">
                      <div class="card-header" id="heading_<%= child.id %>"> <!-- group collapseable element -->
                        <a data-toggle="collapse" data-parent="#accordion_<%= group.id %>" href="#collapse_<%= child.id %>" aria-expanded="false" aria-controls="collapse_<%= child.id %>">
                         <h6 class='text-left text-primary'><%= child.title %> <i class="fa fa-caret-down" ></i></h6>>
                        </a>
                      </div>
                      <div id="collapse_<%= child.id %>" class="collapse" role="tabpanel" aria-labelledby="heading_<%= child.id %>">
                        <div class="card-body">
                         <!-- Child Task Groups -->
                            <%= render :partial => 'tasks/partials/black_dashboard/task_list', :locals => {tasks: child.tasks} %>
                         <!-- Tasks In the Group -->
                        </div>
                      </div>
                    </div>
                    <hr>
                  <% end %>
                </div>
                <%= render :partial => 'tasks/partials/black_dashboard/task_list', :locals => {tasks: group.tasks.order(:updated_at)} %>
           <!-- Tasks In the Group -->
          </div>
        </div>
      </div>
      <hr>
    <% end %>

    <div class="card" style='padding:8px;'>
        <div class="card-header" id="heading_none"> <!-- group collapseable element -->
          <a data-toggle="collapse" data-parent="#accordion_none" href="#collapse_none" aria-expanded="false" aria-controls="collapse_none" id="link_none" class=''>
            <h6 class='text-left text-primary'>No Group <i class="fa fa-caret-down" ></i></h6>
          </a>
        </div>
        <div id="collapse_none" class="collapse" role="tabpanel" aria-labelledby="heading_none">
          <div class="card-body card" style='background-color:#F2F3F7'>
                <%= render :partial => 'tasks/partials/black_dashboard/task_list', :locals => {tasks: shoot.tasks.where(task_group: nil)} %>
           <!-- Tasks In the Group -->
          </div>
        </div>
      </div>
  </div>
</div>

<% content_for :added_scripts do %>
  <script type="text/javascript">

    $( document ).ready(function() {
      var getUrlParameter = function getUrlParameter(sParam) {
          var sPageURL = window.location.search.substring(1),
              sURLVariables = sPageURL.split('&'),
              sParameterName,
              i;

          for (i = 0; i < sURLVariables.length; i++) {
              sParameterName = sURLVariables[i].split('=');

              if (sParameterName[0] === sParam) {
                  return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
              }
          }
      };
      var tg = getUrlParameter('task_group_id');

      var link_by_id = "#link_" + tg;
      $(link_by_id).click();
      if(tg > 0 ){
         $('html, body').animate({
              scrollTop: $(link_by_id).offset().top
          }, 'slow');
      }
    });
  </script>
<% end %>

