<% url = request.url %>
<% uri = URI.parse(url) %>
<% query_params = CGI.parse(uri.query) unless uri.query == nil %>
<% query_params = {} if query_params.nil? %>
<% task_group_id = query_params['task_group_id'].nil? ? '0' : query_params['task_group_id'][0].to_i %>
<div class="card"> <!-- Card For groups and Tasks -->
  <div class="card-header">
    <h3 class="card-title"> Task Groups </h3>
  </div>
  <div id="accordion_<%= shoot.id %>" role="tablist" aria-multiselectable="true" class="card-collapse"> <!-- Accordion for groups -->
    <% tgs = shoot.task_groups.where(parent_id: nil) %>
    <% tgs.each do |group| %>
      <div class="card card-plain">
        <div class="card-header" id="heading_<%= group.id %>"> <!-- group collapseable element -->
          <a data-toggle="collapse" data-parent="#accordion_<%= shoot.id %>" href="#collapse_<%= group.id %>" aria-expanded="false" aria-controls="collapse_<%= group.id %>" id="link_<%= group.id%>">
            <%= group.title %>
            <i class="fa fa-caret-down"></i>
          </a>
        </div>
        <div id="collapse_<%= group.id %>" class="collapse" role="tabpanel" aria-labelledby="heading_<%= group.id %>">
          <div class="card-body">
           <!-- Child Task Groups -->
                <div id="accordion_<%= group.id %>" role="tablist" aria-multiselectable="true" class="card-collapse"> <!-- Accordion for groups -->
                  <% group.children.each do |child| %>
                    <div class="card card-plain">
                      <div class="card-header" id="heading_<%= child.id %>"> <!-- group collapseable element -->
                        <a data-toggle="collapse" data-parent="#accordion_<%= group.id %>" href="#collapse_<%= child.id %>" aria-expanded="false" aria-controls="collapse_<%= child.id %>">
                          <%= child.title %>
                          <i class="fa fa-caret-down"></i>
                        </a>
                      </div>
                      <div id="collapse_<%= child.id %>" class="collapse" role="tabpanel" aria-labelledby="heading_<%= child.id %>">
                        <div class="card-body">
                         <!-- Child Task Groups -->
                            <%= render :partial => 'tasks/partials/black_dashboard/task_list', :locals => {tasks: child.tasks} %>
                         <!-- Tasks In the Group -->
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
                <%= render :partial => 'tasks/partials/black_dashboard/task_list', :locals => {tasks: group.tasks} %>
           <!-- Tasks In the Group -->
          </div>
        </div>
      </div>
    <% end %>
    <%= render :partial => 'tasks/partials/black_dashboard/task_list', :locals => {tasks: shoot.tasks.where(task_group: nil)} %>
  </div>
</div>

<% content_for :added_scripts do %>
  <script type="text/javascript">

    $( document ).ready(function() {
      var getUrlParameter = function getUrlParameter(sParam) {
          var sPageURL = window.location.search.substring(1),
              sURLVariables = sPageURL.split('&'),
              sParameterName,
              i;

          for (i = 0; i < sURLVariables.length; i++) {
              sParameterName = sURLVariables[i].split('=');

              if (sParameterName[0] === sParam) {
                  return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
              }
          }
      };
      var tg = getUrlParameter('task_group_id');

      var link_by_id = "#link_" + tg;
      $(link_by_id).click();
      if(tg > 0 ){
         $('html, body').animate({
              scrollTop: $(link_by_id).offset().top
          }, 'slow');
      }
    });
  </script>
<% end %>

