
    <!--
    START: Navbar

    Additional Classes:
        .nk-navbar-sticky
        .nk-navbar-transparent
        .nk-navbar-autohide
        .nk-navbar-light
    -->

    <style type="text/css">
        .menu-link{font-weight:300;}
    </style>

    <nav class="nk-navbar nk-navbar-top nk-navbar-sticky nk-navbar-autohide">
        <div class="container">
            <div class="nk-nav-table">

                <%= link_to root_path, class: "nk-nav-logo" do %>
                    <div class='row'>
                        <div class='col-md-6'>
                            <img src="https://s3-us-west-2.amazonaws.com/nomcre/logos/UpperLeftHPlogo+2.png" alt="" width="40" style='padding-top: 6px'>
                        </div>
                        <div class='col-md-6'>
                            <h4>NOM<span class='raleway-thinnest'>ADIC</span> CRE<span class='raleway-thinnest'>ATIVE</span> </h4>
                        </div>
                    </div>
                <% end %>

                <ul class="nk-nav nk-nav-right hidden-md-down" data-nav-mobile="#nk-nav-mobile">
                    <% if current_page?(controller: 'application', action: 'home') || current_page?(controller: 'khaki', action: 'nomcre_process') || current_page?(controller: 'khaki', action: 'about')%>
                        <li class="active nk-drop-item">
                    <% else %>
                        <li class=" nk-drop-item">
                    <% end %>
                        <%= link_to root_path, class: 'link-effect-3 menu-link' do %>

                            <span>
                                <span class="link-effect-shade ">
                                    Nomcre
                                </span>
                                Nomcre
                            </span>
                        <% end %>

                        <ul class="dropdown" >
                            <li>
                                <%= link_to nomcre_process_path, class: 'link-effect-3 menu-link' do %>

                                    <span>
                                        <span class="link-effect-shade">
                                            Process
                                            <span class="nk-item-descr">How Nomcre Works</span>
                                        </span>
                                        Process
                                        <span class="nk-item-descr">How Nomcre Works</span>
                                    </span>
                                <% end %>
                            </li>
                            <li>
                                 <%= link_to nomcre_about_path, class: 'link-effect-3 menu-link' do %>
                                    <span>
                                        <span class="link-effect-shade">
                                            Concept
                                            <span class="nk-item-descr">What Is Nomcre?</span>
                                        </span>
                                        Concept
                                        <span class="nk-item-descr">What Is Nomcre?</span>
                                    </span>
                                <% end %>
                            </li>

                        </ul>
                    </li>

                   <% if current_page?(controller: 'package_types', action: 'index') ||  current_page?(controller: 'package_types')%>
                        <li class="active nk-drop-item">
                    <% else %>
                        <li class=" nk-drop-item">
                    <% end %>
                        <%= link_to package_types_path, class: 'link-effect-3 menu-link' do %>

                            <span>
                                <span class="link-effect-shade">
                                    Packages
                                </span>
                                Packages
                            </span>
                        <% end %>

                        <ul class="dropdown" >
                            <% PackageType.where(show_in_menu: true).each do |p|%>
                            <li>
                                <%= link_to p, class: 'link-effect-3 menu-link' do %>

                                    <span>
                                        <span class="link-effect-shade">
                                            <%= p.title %>
                                            <span class="nk-item-descr"><%= p.menu_link_text %></span>
                                        </span>
                                        <%= p.title %>
                                        <span class="nk-item-descr"><%= p.menu_link_text %></span>
                                    </span>
                                <% end %>
                            </li>
                            <% end %>
                        </ul>
                    </li>

                    </li>
                    <% if current_page?(controller: 'khaki', action: 'creative_showcase') ||  current_page?(controller: 'khaki', action: 'video_showcase')%>
                        <li class="active nk-drop-item">
                    <% else %>
                        <li class=" nk-drop-item">
                    <% end %>
                        <%= link_to creative_showcase_path, class: 'link-effect-3 menu-link' do %>

                            <span>
                                <span class="link-effect-shade">
                                    Showcase
                                </span>
                                Showcase
                            </span>
                        <% end %>

                        <ul class="dropdown" >
                            <li>
                                <%= link_to creative_showcase_path, class: 'link-effect-3 menu-link' do %>

                                    <span>
                                        <span class="link-effect-shade">
                                            Photos
                                            <span class="nk-item-descr">Photo Showcase</span>
                                        </span>
                                        Photos
                                        <span class="nk-item-descr">Photo Showcase</span>
                                    </span>
                                <% end %>
                            </li>
                             <li>
                                 <%= link_to video_showcase_path, class: 'link-effect-3 menu-link' do %>

                                    <span>
                                        <span class="link-effect-shade">
                                            Videos
                                            <span class="nk-item-descr">Video Showcase</span>
                                        </span>
                                        Videos
                                        <span class="nk-item-descr">Video Showcase</span>
                                    </span>
                                <% end %>
                            </li>
                            <li>
                                 <%= link_to model_showcase_path, class: 'link-effect-3 menu-link' do %>

                                    <span>
                                        <span class="link-effect-shade">
                                            Model Comps
                                            <span class="nk-item-descr">Model Comps</span>
                                        </span>
                                        Model Comps
                                        <span class="nk-item-descr">Model Comps</span>
                                    </span>
                                <% end %>
                            </li>

                        </ul>
                    </li>
                </ul>
                <ul class="nk-nav nk-nav-right nk-nav-icons">

                    <li class="single-icon hidden-lg-up">
                        <a href="#" class="no-link-effect" data-nav-toggle="#nk-nav-mobile">
                            <span class="nk-icon-burger">
                                <span class="nk-t-1"></span>
                                <span class="nk-t-2"></span>
                                <span class="nk-t-3"></span>
                            </span>
                        </a>
                    </li>
                   <!--  <li class="single-icon">
                        <a href="#" class="nk-share-toggle no-link-effect">
                            <span class="fa fa-share-alt"></span>
                        </a>
                    </li> -->
                    <li class="single-icon nk-drop-item">
                        <%if current_user.nil? %>
                        <a href="#" class="no-link-effect menu-link">
                            Login <span class="fa fa-sign-in"></span>
                        </a>

                        <div class="dropdown">
                            <div class="nk-sign-form">
                                <div class="nk-sign-form-container">
                                    <!-- START: Login Form -->
                                    <!-- <form class="nk-sign-form-login active" action="#"> -->
                                    <%= form_for(:user, :url => session_path(:user), class: 'nk-sign-form-login active') do |f| %>
                                        <h4>Log In</h4>
                                        <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'your email...' %>
                                        <div class="nk-gap"></div>
                                        <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "password" %>
                                        <div class="nk-gap"></div>

                                        <!-- <div class="form-check pull-left">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input"> Remember Me
                                            </label>
                                        </div> -->
                                        <%= f.submit "Log in", class: "nk-btn nk-btn-color-white text-dark-1 pull-right" %>

                                        <div class="clearfix"></div>
                                        <div class="nk-gap"></div>
                                        <div class="text-right">
                                            <%= link_to "Create An Account", user_type_path, class: ''%>
                                           <!--  <a class="nk-sign-form-register-toggle" href="#">Create An Account</a>  -->
                                            <!-- <a class="nk-sign-form-lost-toggle" href="#">Lost Password?</a> -->
                                        </div>
                                    <% end %>
                                    <!-- </form> -->
                                    <!-- END: Login Form -->



                                    <!-- START: Lost Password Form -->
                                    <!-- <form class="nk-sign-form-lost" action="#">
                                        <h4>Lost Password</h4>

                                        <input class="form-control" type="text" placeholder="Username or Email">
                                        <div class="nk-gap"></div>

                                        <button class="nk-btn nk-btn-color-white text-dark-1 pull-right">Get New Password</button>

                                        <div class="clearfix"></div>
                                        <div class="nk-gap"></div>
                                        <a class="nk-sign-form-login-toggle pull-right" href="#">Back to Log In</a>
                                    </form> -->
                                    <!-- END: Lost Password Form -->


                                </div>
                            </div>
                        </div>
                        <% else %>
                            <%= link_to destroy_user_session_path, method: :delete, class: "no-link-effect" do %>
                             Sign Out <span class="fa fa-sign-in"></span>
                            <% end %>
                        <% end%>
                    </li>



                    <!-- <li class="single-icon">
                        <a href="#" class="nk-share-toggle no-link-effect">
                            <span class="ion-android-share-alt"></span>
                        </a>
                    </li> -->


                    <!-- <li class="single-icon">
                        <a href="#" class="nk-search-toggle no-link-effect">
                            <span class="nk-icon-search"></span>
                        </a>
                    </li> -->



                    <li class="single-icon">
                        <!-- <a href="#" class="no-link-effect" data-nav-toggle="#nk-side">
                            <span class="nk-icon-burger">
                                <span class="nk-t-1"></span>
                                <span class="nk-t-2"></span>
                                <span class="nk-t-3"></span>
                            </span>
                        </a> -->
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- END: Navbar -->
