<!--
START: Right Navbar

Additional Classes:
    .nk-navbar-right-side
    .nk-navbar-left-side
    .nk-navbar-lg
    .nk-navbar-align-center
    .nk-navbar-align-right
    .nk-navbar-overlay-content
    .nk-navbar-light
-->

<nav class="nk-navbar nk-navbar-side nk-navbar-right-side nk-navbar-lg nk-navbar-align-center nk-navbar-overlay-content" id="nk-side">

    <div class="nk-navbar-bg">
        <div class="bg-image op-4" style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/SideMenu/SideMenu.jpg')"></div>
    </div>



    <div class="nano">
        <div class="nano-content">
            <div class="nk-nav-table">

                <div class="nk-nav-row">
                    <a href="/" class="nk-nav-logo">
                        <img src="https://s3-us-west-2.amazonaws.com/nomcre/logos/UpperLeftHPlogo+2.png" alt="" width="130">
                    </a>
                </div>

                <!--
                Additional Classes:
                    .nk-nav-row-top
                    .nk-nav-row-center
                    .nk-nav-row-bottom
                -->
                <div class="nk-nav-row nk-nav-row-full nk-nav-row-center">
                    <ul class="nk-nav">
                        <li><%= link_to "For Creators", creative_landing_path %></li>
                        <li> <%= link_to "Pricing", pricing_path %> </li>
                        <li> <%= link_to "FAQ", faq_path %> </li>
                        <li><%= link_to "About Us", nomcre_about_path %></li>
                        <li><%= link_to "Contact Us", nomcre_contact_path %></li>
                        <li> <%= link_to "Terms Of Service", tos_path %> </li>
                        <!-- <li>
                            <a href="page-coming-soon.html">
                                Terms Of Service

                            </a>
                        </li> -->
                    </ul>
                </div>
                <div class="nk-nav-row">
                    <div class="nk-nav-social">
                        <ul>
                            <li><a href="#" class="no-link-effect"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#" class="no-link-effect"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="no-link-effect"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#" class="no-link-effect"><i class="fa fa-vimeo"></i></a></li>
                        </ul>
                        <footer>
                            <a href="/" target="_blank">nomcre.com</a> &copy; 2018. All rights reserved
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- END: Right Navbar -->

