<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui"/>
    <meta name="keywords" content="" />
    <meta name="title" content="<%= content_for?(:title) ? yield(:title) : Rails.application.secrets[:site_title] %>">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : Rails.application.secrets[:site_title] %>">
    <title><%= content_for?(:title) ? yield(:title) : Rails.application.secrets[:site_title] %></title>

    <%= stylesheet_link_tag 'black_dashboard', media: 'all' %>
    <%= csrf_meta_tags %>
    <script src="https://use.fontawesome.com/1494e0c4f8.js"></script>
    <link href="https://unpkg.com/ionicons@4.4.7/dist/css/ionicons.min.css" rel="stylesheet">
  </head>
  <body class="" >
    <%= render 'shared/black_dashboard/nav/logged_out/top_menu' %>
    <div class="wrapper wrapper-full-page ">
      <div class="full-page login-page ">
         <div class="content">
          <div class="container">

              <%= yield %>

          </div>
        </div>
      </div>
    </div>

  <%= javascript_include_tag 'black_dashboard' %>
  <script src="https://unpkg.com/ionicons@4.4.7/dist/ionicons.js"></script>

  <% if content_for?(:added_scripts) %>
    <%= yield :added_scripts %>
  <% end %>
</html>

