<!DOCTYPE html>
<html>
<head>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui"/>
  <%= favicon_link_tag "https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/nomcrefavicon.png", :rel => 'icon', :type =>  'type="image/png' %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV['GA_ID'] %>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', "<%= ENV['GA_ID'] %>");
  </script>
   <%= yield :head %>
<!--   <meta name="title" content="<% content_for?(:title) ? yield(:title) : Rails.application.secrets[:site_title] %>">
  <meta name="description" content="<% content_for?(:description) ? yield(:description) : Rails.application.secrets[:site_title] %>"> -->


  <title><%= content_for?(:title) ? yield(:title) : Rails.application.secrets[:site_title] %></title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,900&display=swap" rel="stylesheet">
  <style>
    @import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap&subset=latin-ext');
  </style>
  <%= stylesheet_link_tag 'khaki_theme', media: 'all' %>
  <script src="https://use.fontawesome.com/1494e0c4f8.js"></script>


  <link href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css', rel='stylesheet'>



  <%= csrf_meta_tags %>
  <meta name="robots" content="noodp,noydir" />.
   <!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '2016390438657064');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=2016390438657064&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

  <!-- Start of Async Drift Code -->

<script>
!function() {
  var t;
  if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
  t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
  t.factory = function(e) {
    return function() {
      var n;
      return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
    };
  }, t.methods.forEach(function(e) {
    t[e] = t.factory(e);
  }), t.load = function(t) {
    var e, n, o, i;
    e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
    n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
  });
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('2kydddnkkp4a');
</script>

<!-- End of Async Drift Code -->

<%= javascript_include_tag 'khaki_theme' %>
<style>
  .bebas{
    font-family: "BebasNeue";
  }
</style>
</head>
<body>
  <%= render 'khaki/nomcre/top_contact_menu'%>

  <% render 'khaki/nomcre/right_nav_bar'%>
  <%= render 'khaki/nomcre/mobile_menu'%>
  <%= yield %>
  <%= render 'khaki/nomcre/footer'%>

  <%= yield(:js) %>


  <% content_for?(:added_scripts) do %>
    <%= yield(:added_scripts) %>
  <% end %>
</body>



</html>
