<p id="notice"><%= notice %></p>

<h1>package Types</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Subtitle</th>
      <th>Description</th>
      <th>Description image</th>
      <th>Example image</th>
      <th>Example video</th>
      <th>Header image</th>
      <th>Show in menu</th>
      <th>Menu link text</th>
      <th>Minimum images</th>
      <th>Minimum videos</th>
      <th>Max models</th>
      <th>Base price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @package_types.each do |package_type| %>
      <tr>
        <td><%= package_type.title %></td>
        <td><%= package_type.subtitle %></td>
        <td><%= package_type.description %></td>
        <td><%= package_type.description_image %></td>
        <td><%= package_type.example_image %></td>
        <td><%= package_type.example_video %></td>
        <td><%= package_type.header_image %></td>
        <td><%= package_type.show_in_menu %></td>
        <td><%= package_type.menu_link_text %></td>
        <td><%= package_type.minimum_images %></td>
        <td><%= package_type.minimum_videos %></td>
        <td><%= package_type.max_models %></td>
        <td><%= package_type.base_price %></td>
        <td><%= link_to 'Show', package_type %></td>
        <td><%= link_to 'Edit', edit_package_type_path(package_type) %></td>
        <td><%= link_to 'Destroy', package_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New package Type', new_package_type_path %>
