<% content_for :head do %>
<meta property="og:url" content="<%= request.original_url %>" />
<meta property="og:type" content="website" />
<meta property="og:title" content="NomCre Solutions: <%= @package_type.title %>" />
<meta property="og:description" content="Nomcre - Custom Creative Content for your brand, simplified." />
<meta property="og:image" content="<%= @package_type.header_image.file.url%>" />
<style type="text/css">
    p {font-family: raleway; font-weight: 300}
</style>
<% end %>

<div class='nk-main' >
<%= render '/package_types/partials/show/header' %>
<%= render '/package_types/partials/show/explanation' %>

<!-- <div class="nk-gap-2"></div> -->
<div class='bg-dark-1'>
 <%= render '/package_types/partials/show/example_image' %>
</div>

<style> .fa-play {padding-top:16px;} </style>
<!-- <div class="nk-gap"></div> -->
<%= render '/package_types/partials/show/example_video' %>
<%= render '/package_types/partials/show/call_to_action' %>

<% if current_user && current_user.role != nil %>
<%= link_to 'Edit', edit_package_type_path(@package_type) %> |
<%= link_to 'Back', package_types_path %>
<% end %>
</div>
