
<div class="card card-user">
  <div class="card-body">
    <p class="card-text">
      </p><div class="author">
        <div class="block block-one"></div>
        <div class="block block-two"></div>
        <div class="block block-three"></div>
        <div class="block block-four"></div>
        <a href="javascript:void(0)">
          <% if @task.can_accept == 'company' %>
          <%= image_tag @task.company.logo.url, class: 'avatar' unless @task.company.logo.nil? %>
          <% else %>
          <%= image_tag @task.user.user_profile.safe_profile_image_url, class: 'avatar'%>
          <% end %>
          <h5 class="title">Deadline: <%= @task.deadline  unless @task.deadline.nil? %></h5>
          <% if @task.completed %>
            <span class='text-success'>Complete</span>
          <% else  %>
            <span class='text-warning'>Pending</span>
          <% end %>
        </a>
        <p class="description">
          <br>
          <% if @task.shot_list_item %>
            <%= @task.shot_list_item.title unless @task.shot_list_item.title.nil?%>
          <% elsif @task.shoot %>
            <%= @task.shoot.title unless @task.shoot.title.nil?%>
          <% elsif @task.project %>
            <%= @task.project.title unless @task.project.title.nil?%>
          <% end %>

        </p>
      </div>
    <p></p>
    <div class="card-description text-center">
      <%= auto_html(task.description){ image(); youtube(:width => '100%', :height => 250, :autoplay => false); simple_format; link(:target => 'blank') } unless task.description.nil? %>
    </div>
  </div>
  <div class="card-footer text-center">
    < <%= link_to task_task_complete_path(@task), class: 'btn btn-success  ' do %>
      <i class='fa fa-check'></i> Mark Complete
    <% end %>
    </div>
  </div>
</div>

<% if current_user.role == 0 %>
<%= link_to 'Edit', edit_task_path(@task) %>
<%= link_to 'Back', tasks_path %>
<% end %>
