<% unless (tasks.first.nil? || tasks.first.shoot.nil?) %>
  <% project  =  tasks.first.shoot.project %>
  <% shoot = tasks.first.shoot %>
  <% unless request.path_info.include?('popped') || request.path_info.include?('dashboard') %>
  <%= link_to "Pop out", shoot_tasks_poppedout_path(tasks.first.shoot), class: 'btn btn-success' %>
  <% end %>
<% end %>
<table class="table">
  <tbody>
    <% tasks.each do |task| %>
    <% completed = task.completed %>
    <tr>
      <td>
        <p class="title text-info"><%= auto_html(task.description){ image(); youtube(:width => '100%', :height => 250, :autoplay => false); simple_format; link(:target => 'blank') } %></p>
          <p class="card-category"> <%= shoot.title unless shoot.nil? %></p>
        <% unless task.shot_list_item.nil? || task.shot_list_item.reference_image.file.nil? %>
          <%= image_tag task.shot_list_item.reference_image, class: 'img-fluid', style: 'max-height: 150px;'%>
        <% end %>
      </td>
       <% unless task.shot_list_item.nil? %>
       <% shot_list_item = task.shot_list_item %>
        <td>
          <% if shot_list_item.shoot.content_type == ContentType.video %>
            <% frame_rate_style = 'black' %>
            <% if shot_list_item.frame_rate == '60 fps - Slow' %>
              <% frame_rate_style = 'orange' %>
            <% elsif shot_list_item.frame_rate == '120 fps - Super Slow'%>
              <% frame_rate_style = 'red'  %>
            <% end %>
            <div style='color: <%= frame_rate_style%>; padding-top: 35%'>
              <%= shot_list_item.frame_rate %>
            </div>
            <br>
          <% end %>
          <% if project.mood.nil? %>
            <%= project.mood %>
            <br>
          <% end %>
        </td>
      <% end %>
      <td>
      <% if !task.deadline.nil? %>
        <%if task.deadline > Date.today %>
          <p class="text-info"><i class="fa fa-clock-o"></i>  <%= (task.deadline - Date.today).to_int %> days</p>
        <% else %>
          <p class="text-danger"><i class="fa fa-clock-o"></i>
            <%= time_ago_in_words(task.deadline) %> ago
          </p>
        <% end %>
      <% else %>
        No Deadline Saved
      <% end %>
      </td>

      <td class="td-actions text-right">

        <% if task.completed %>
          <% task_icon =  'checkmark-circle-icon' %>
          <% task_able =  'disabled btn-success' %>
        <% else %>
          <% task_icon =  'checkmark' %>
          <% task_able =  'btn-primary' %>
          <% if current_user != task.approver %>
            <% task_able +=  ' disabled' %>
          <% end %>
        <% end %>
        <% task_icon =  task.completed  ? 'done-all' : 'checkmark' %>
        <% if !request.path_info.include?('popped') %>
          <%= link_to task_task_complete_path(task, :active => 'tasks'), class: "btn btn-link #{task_able}", title: "Complete", :data => { :original_title => 'Click to indicate the task is complete'}  do  %>
            <i class="tim-icons btn-link <%= task_able %>"><ion-icon name="<%= task_icon %>" size='large'></ion-icon></i>
          <% end %>
        <% else %>
          <%= link_to task_task_complete_path(task, :popped => 'true'), class: "btn btn-link #{task_able}", title: "Complete", :data => { :original_title => 'Click to indicate the task is complete'}  do  %>
            <i class="tim-icons btn-link <%= task_able %>"><ion-icon name="<%= task_icon %>" size='large'></ion-icon></i>
            <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
