<table class="table">
  <tbody>
    <% tasks.each do |task| %>
    <tr>
      <td>
        <p class="title"> <%= task.proposal.title %></p>
        <p class="text-info"><%= task.description %></p>
      </td>
      <td>
        <% if task.deadline > Date.today %>
        <p class="text-success"><i class="fa fa-clock-o"></i>  <%= (task.deadline - Date.today).to_int %> days</p>
      <% else %>
        <p class="text-danger"><i class="fa fa-clock-o"></i>  <%= time_ago_in_words(task.deadline - Date.today) %> days</p>
      <% end %>
      </td>
      <td class="td-actions text-right">

        <% if task.completed %>
          <% task_icon =  'checkmark-circle-icon' %>
          <% task_able =  'disabled btn-success' %>
        <% else %>
          <% task_icon =  'checkmark' %>
          <% task_able =  'btn-primary' %>
          <% if current_user != task.approver %>
            <% task_able +=  ' disabled' %>
          <% end %>
        <% end %>
        <% task_icon =  task.completed  ? 'done-all' : 'checkmark' %>
        <%= link_to task_task_complete_path(task), class: "btn btn-link #{task_able}", title: "Complete", :data => { :original_title => 'Click to indicate the task is complete'}  do  %>
          <i class="tim-icons btn-link <%= task_able %>"><ion-icon name="<%= task_icon %>" size='large'></ion-icon></i>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
