<% unless tasks.first.nil? || tasks.first.shoot.nil? %>
<%= link_to "Pop out", shoot_tasks_path(tasks.first.shoot), class: 'btn btn-success' %>
<% end %>

<table class="table">
  <tbody>
    <% tasks.each do |task| %>
    <tr>
      <td>
        <p class="title text-info"><%= task.description_html %></p>
        <% if !task.proposal.nil? %>
          <p class="card-category"> <%= task.proposal.title %></p>
        <% elsif task.shoot %>
          <p class="card-category"> <%= task.shoot.title %></p>
        <% end %>
        <% unless task.shot_list_item.nil? || task.shot_list_item.reference_image.file.nil? %>
          <%= image_tag task.shot_list_item.reference_image, class: 'img-fluid', style: 'max-height: 200px;'%>
        <% end %>
      </td>
      <td>
      <% if !task.deadline.nil? %>
        <%if task.deadline > Date.today %>
          <p class="text-info"><i class="fa fa-clock-o"></i>  <%= (task.deadline - Date.today).to_int %> days</p>
        <% else %>
          <p class="text-danger"><i class="fa fa-clock-o"></i>
            <%= time_ago_in_words(task.deadline) %> ago
          </p>
        <% end %>
      <% else %>
        No Deadline Saved
      <% end %>
      </td>
      <% unless task.shot_list_item.nil? %>
        <td>
          <% if task.shot_list_item.shoot.content_type == ContentType.video %>
            <%= task.shot_list_item.frame_rate %>
            <br>
          <% end %>
          <% if task.shot_list_item.shoot.project.mood.nil? %>
            <%= task.shot_list_item.shoot.project.mood %>
            <br>
          <% end %>
        </td>
      <% end %>
      <td class="td-actions text-right">

        <% if task.completed %>
          <% task_icon =  'checkmark-circle-icon' %>
          <% task_able =  'disabled btn-success' %>
        <% else %>
          <% task_icon =  'checkmark' %>
          <% task_able =  'btn-primary' %>
          <% if current_user != task.approver %>
            <% task_able +=  ' disabled' %>
          <% end %>
        <% end %>
        <% task_icon =  task.completed  ? 'done-all' : 'checkmark' %>
        <%= link_to task_task_complete_path(task, :active => 'tasks'), class: "btn btn-link #{task_able}", title: "Complete", :data => { :original_title => 'Click to indicate the task is complete'}  do  %>
          <i class="tim-icons btn-link <%= task_able %>"><ion-icon name="<%= task_icon %>" size='large'></ion-icon></i>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
